{
    initFilteredGrid(filteredCountries) {
        // will return grid of all items filtered out by currently selected options
    },
    initCountryRankGrid(options) {
        let { customFields, genCardData, gridId } = options;
        let fields, data;
        if (window.innerWidth < 500) {
            [data, fields] = this.swapRowsAndColums(genCardData(), customFields);
            fields = this.baseMapCustomFields(fields)
        }
        else {
            fields = this.baseMapCustomFields(customFields);
            data = genCardData();
        }

        let div = `#${gridId}`
        $(div).jsGrid({
            height: "100%",
            width: "100%",
            sorting: false,
            rowClick: arg => {location = $(arg.event.target).find('a').attr('href')},
            data,
            fields,
        });
    },
    swapRowsAndColums(rows, cols) {
        let newRows, newCols;
        let id = cols[0].name; // this is the "-",

        newCols = rows.map(row => ({
            name: row[id] // rank, value
        })) // making new 'rank, value' cols

        newCols = [{name:id}].concat(newCols); // making col 0 the "-" col, under which new row-names go that used to be col-names

        let rowKeys = Object.keys(rows[0]); // the tops of all old cols;
        let newColNames = rows.map(row => row[id]);
        
        let colTemplates = cols.map(col => col.itemTemplate);
        let colValids = cols.map(col => col.valid);
        let templateDict = rowKeys.slice(1).reduce((m,rk,i) => {
            m[rk] = {};
            m[rk].valid = colValids[i+1];
            m[rk].itemTemplate = colTemplates[i+1];
            return m;
        }
        ,{})
        let templateTransposer = (v,newRow) => {
            let entry = templateDict[newRow[id]];
            return entry.itemTemplate ? entry.itemTemplate(v) : v
        }

        newRows = rowKeys.map(key => {
            newRow = {}
            newRow[id] = key; // rowName // making the names of each new row go into the "-" col

            newColNames.forEach((cn, i) => {
                newRow[cn] = rows[i][key] // rows.i.key is the old content, newRow[colNam] is the new address
            })

            return newRow;
        }).slice(1)

        newCols[0].itemTemplate = (v,i) => `<b>${v}</b>`;
        newCols[1].itemTemplate = templateTransposer;
        newCols[2].itemTemplate = templateTransposer;
        newCols[0].width = 98;
        newCols[2].width = 100;
        return [newRows, newCols];
    },
    updateCardGrid(card, runGraphs, activate) {
        let data = card.genCardData();
        if (window.innerWidth < 500 && !activate) {
            // note, activate is a poor proxy for this. Temp fix.
            // probably will want to update later.
            [data, fields] = this.swapRowsAndColums(data, card.customFields);
        }
        $(`#${card.gridId}`).jsGrid("option", "data", data);
        // if (activate) this.activateCardRows(card, data, runGraphs);
    },
    switching: false,
    activateCardRows(card, data, runGraphs) {
        const {
            gridId,
            genCardData,
            gridFields: fields,
            index: cardIndex,
        } = card;
        let div = `#${gridId}`
        let jsGridUtils = this;

        data().forEach(i => {
            $(`#${div.slice(-4)}-checkbox-${utils.stringToHTML(i.name)}`)
            .on('change.bootstrapSwitch', function(e) {
                let hideCountries = activeCards[cardIndex].hideCountries;
                i.Checked = e.target.checked || $(this).is(":checked");
                if (!i.Checked) hideCountries.push(i.name)
                if (i.Checked) while (hideCountries.includes(i.name)) hideCountries.splice(hideCountries.indexOf(i.name),1)
                if (!jsGridUtils.switching) {
                    console.log("switching")
                    jsGridUtils.switching = true;
                    runGraphs(true, cardIndex)
                    setTimeout(_=>(jsGridUtils.switching=false), 500)
                    // lock out other switches
                    // from running runGraphs() for a half second
                    // prevents heavy lag when switching all at once.
                }
            })
            .bootstrapSwitch({
                onColor: utils.stringToHTML(i.name),
                onText: `<span style="color:white">ON</span>`,
                size:'mini',
                state:i.show,
            })

            $($(`#span-${gridId.slice(-4)}-checkbox-${utils.stringToHTML(i.name)} .bootstrap-switch .bootstrap-switch-label`)[0])
            .append(utils.getFlag(i.name)) // add flag to switch

            let colorPicker = `#my-colorpicker-${utils.stringToHTML(i.name)}-${gridId}`;
            $(colorPicker).click(function(e) {
                e.stopPropagation()
                utils.countryColorDict[i.name] = utils.generateRandomColor();
                runGraphs();
            });
        });
    },
    initCardGrid(card, runGraphs, init) {
        const {
            gridId,
            genCardData,
            gridFields: fields,
            index: cardIndex,
        } = card;

        let data = genCardData();
        let div = `#${gridId}`

        let shiftClick = (name) => {
            clearTimeout(doubleClickTimer)
            data = card.genCardData();
            if (card.hideCountries.length > 1) {
                // if a few are hidden, just show all.
                card.hideCountries = [name];
                data.forEach(c => {
                    $(`#${div.slice(-4)}-checkbox-${utils.stringToHTML(c.name)}`).bootstrapSwitch('state', true);
                });
            }
            else if (!card.hideCountries.includes(name)) {
                // if 1 or less are hidden, and you shift clicked on one
                // that is not hidden, hide all others.
                card.hideCountries = data.filter(c => c.name !== name).map(c => c.name);

                card.hideCountries.forEach(c => {
                    $(`#${div.slice(-4)}-checkbox-${utils.stringToHTML(c)}`).bootstrapSwitch('state', false);
                });
                $(`#${div.slice(-4)}-checkbox-${utils.stringToHTML(name)}`).bootstrapSwitch('state', true);
            }
        }

        let activate = this.activateCardRows.bind(this, card, card.genCardData.bind(card), runGraphs)
        let doubleClickTimer;
        let jsGridUtils = this;
        $(div).jsGrid({
            height: "100%",
            width: "100%",
            onRefreshed() {
                // console.log("refreshed")
                activate()
            },
            // onOptionChanged(d) {
            //     // activate()
            // },
            onInit() {
                // console.log("init")
                activate()
            },
            rowDoubleClick(d) {
                shiftClick(d.item.name)
                // runGraphs(true, cardIndex)
            },
            rowClick(d) {
                let card = activeCards[cardIndex];
                if (d.event.shiftKey) {
                    shiftClick(d.item.name)
                    runGraphs(true, cardIndex)
                }
                else {
                    let highlightCountry = d.item.name;
                    if (highlightCountry !== card.highlightCountry) {
                        if (card.highlightCountry) utils.countryColorDict[card.highlightCountry] = utils.storeColorDict[card.highlightCountry];
                        card.highlightCountry = highlightCountry;
                        utils.storeColorDict[highlightCountry] = utils.countryColorDict[highlightCountry];
                        utils.countryColorDict[highlightCountry] = "white";
                    } else {
                        utils.countryColorDict[highlightCountry] = utils.storeColorDict[highlightCountry];
                        card.highlightCountry = "";
                    }
                    jsGridUtils.switching = true;
                    doubleClickTimer = setTimeout(() => {runGraphs(); (jsGridUtils.switching=false)}, 500) // delay to allow possible doubleclick
                }
                // d.event.stopImmediatePropagation()
            },
            gridComplete: function () {},
            sorting: true,
            // filtering: true,
            // editing: true,
            // paging: true,

            controller: {
                loadData: function(appliedFilters) {
                    let filteredData = card.genCardData();

                    Object.keys(appliedFilters).forEach(col => {
                        filteredData = filteredData.filter(row => row[col].toLowerCase().includes(appliedFilters[col].toLowerCase()))
                    })

                    // return filteredData; 
                    if (filteredData.length) {
                        return filteredData; 
                    }
                    else {
                        let countries = [...$(".chosen-select").children()].map(opt => opt.value)
                        let newCountry = countries.reduce((memo, country) => {
                            country.toLowerCase().includes(appliedFilters.name.toLowerCase())
                            if (country.toLowerCase().includes(appliedFilters.name.toLowerCase())) {
                                console.log("match for", country)
                                memo.push(country)
                            }
                            return memo
                        }, [])[0];
                        if (newCountry) {
                            console.log("YES NEW COUNTRY", newCountry, this)
                            $('.chosen-select').val(newCountry);
                            $('.chosen-select').trigger("chosen:updated");
                            $('.chosen-select').trigger("change");
                            // runGraphs();
                            $('input').val("");
                        }
                        else {
                            return [];
                        }

                    }
                }
            },
            
            data,
            
            fields,
        })
        // .mouseover(function(e) {
            // return
            // this is relatively heavy, though much more reasonable now with all the caching we do.
            // alternative: could rewrite to use built-in hover functionality in chartjs and then simulate a hover event.
            // however, the built-in hover seems pretty weak, and this effect is kind of cool.
            // currently, we have rows as 'clickable' instead, which seems like a relatively nice compromise.
            
            // let highlightCountry = $($(e.target).closest('tr')).find('a').data('id')
        //     let highlightCountry = $($(e.target).closest('tr').find('span')[6]).html().trim()
        //     console.log(highlightCountry)
        //     if (highlightCountry !== card.highlightCountry) {
        //         console.warn("HIGHLIGHT!")
        //         card.highlightCountry = highlightCountry
        //         runGraphs(true, cardIndex)
        //     }
        //     else {
        //         console.log("won't highlight", highlightCountry, card.highlightCountry)
        //     }
        // });

        // this.activateCardRows(card, data, runGraphs);
    },

    baseMapCustomFields(customFields) {
        let customColTemplate = {
            name: "required",
            filtering: false,
            title: "",
            width:90,
            type:"number",
            align: "center",
            itemTemplate: (v,i) => (typeof v === "number" ? `${Number(v).toLocaleString()}` : v),
        };

        let customCols = customFields.map(field => {
            field = {...customColTemplate, ...field};
            field.title = field.title ? field.title : field.name[0].toUpperCase() + field.name.slice(1)
            return field;
        });

        return customCols;
    },

    genGridFields(card) {
        const { gridId, customFields, index: cardIndex } = card;

        // let blankIfDisabled = (templateOrVal) => (val,i) => {
        //     if (i.disabled) return '<div style="min-height:29.5px; padding:0px; margin:0px;">-</div>'
        //     else if (typeof templateOrVal !== "function") return templateOrVal
        //     else return templateOrVal(val,i)
        // };

        customCols = this.baseMapCustomFields(customFields)/* .map(field => {
            field.itemTemplate = blankIfDisabled(field.itemTemplate);
            return field;
        }); */

        let blankIfDisabled = f => f; // bypassing old thing we used to use; can almost certainly deleted, but this is faster way to check to make sure safe.

        let sliderTemplate = blankIfDisabled((v,i) => $(`
            <style>
                #span-${gridId.slice(-4)}-checkbox-${utils.stringToHTML(i.name)} .bootstrap-switch .bootstrap-switch-label {
                    /*background-color: ${i.color};*/
                }
                .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-${utils.stringToHTML(i.name)},
                .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-${utils.stringToHTML(i.name)} {
                    background-color: ${i.color}
                }
                .bootstrap-switch .bootstrap-switch-label.bootstrap-switch-${utils.stringToHTML(i.name)} {
                    background-color: ${i.color}
                }
            </style>
            <span id="span-${gridId.slice(-4)}-checkbox-${utils.stringToHTML(i.name)}">
                <input id="${gridId.slice(-4)}-checkbox-${utils.stringToHTML(i.name)}" type="checkbox" name="my-checkbox" checked=${i.show} data-bootstrap-switch="" onchange>
            </span>
        `));
            //<span> ${i.name}</span>

        // note that the url no longer points to country, temporarily disabling that until we overhaul country-url routing to be client-side
        // routing and our new surge deploy strategy.
        let moreTemplate = blankIfDisabled((v,i) => $(`
            <button onclick="localStorage.savedRegion = '${i.name}'; window.location = '/analysis'" title="detailed analysis of ${i.name}">
                <a ${true ? '' : 'href="/analysis/i.name"'}>
                    <i class="nav-icon fas fa-chart-pie"></i> ${utils.getFlag(i.name)}
                </a>
            </button>
        `));

        let colorPicker = blankIfDisabled((v,i) => $(`
            <button id="my-colorpicker-${utils.stringToHTML(i.name)}-${gridId}" style="background-color:${i.color}; min-height:20px; min-width:20px;"></button>
        `));

        let rankedCol = customCols.filter(col => col.rankBy)[0];
        // console.log(rankedCol);
        let invalid = (c) => rankedCol.hasOwnProperty('valid') && !rankedCol.valid(c);
        let rankTemplate = blankIfDisabled((v,i) => {
            return invalid(i.name) ? "<a style='text-decoration:underline' title='no data'>?*</a>" : v;
        })

        let result = [
            {name:"rank", filtering: false, title:"#", width:39,type:"number", align: "center", itemTemplate: rankTemplate},
            {name:"show", /* textarea: {autosearch: true}, */ filtering: false, align:"center", title:"Show", width:110, type:"text", itemTemplate: sliderTemplate},
            {name:"name", text: {autosearch: true}, filtering: true, title:"Country", width:110, type:"text", itemTemplate: blankIfDisabled},
            ...customCols,
            {name:"population", filtering: false, title:"Population", width:110, type:"number", align:"center", itemTemplate: blankIfDisabled((v,i) => `${Number(v) === Infinity ? "?" : Number(v).toLocaleString() }`)},
            {name:"color", filtering: false, title:"Color", width:60, type:"text", align: "center", itemTemplate: colorPicker },
            {name:"analysis", filtering: false, title:"More", width:80, type:"text", align: "center", itemTemplate: moreTemplate },
        ];

        return result;
    },
}
