{
    currentRegion: localStorage.savedRegion ? localStorage.savedRegion : "World",
    attemptDataUpdate(runGraphs) {
        // NOTE
        // this logic is a mirror of the server logic
        // in order to prevent unnecessary server pings;
        // both should probably be kept in sync.

        let lastUpdate = allData.World.meta.lastDate;

        console.log('worldometer lastupdate set:', lastUpdate)
        
        checkForUpdateAfter = new Date(lastUpdate);
        checkForUpdateAfter.setDate(checkForUpdateAfter.getDate() + 2);
        checkForUpdateAfter.setHours(0,0,0,0);

        // if we deployed after that point, we're in the window where we expect an update soon.
        // instead of forcing heroku to deploy every time it gets woken up, let's only wake up
        // heroku (causing a redeploy) if it's been an hour since we were deployed.

        let deployTS = new Date(<%- JSON.stringify(new Date()) %>)
        if (deployTS > checkForUpdateAfter) {
            let hourAfterDeploy = deployTS.setHours(deployTS.getHours() + 1);
            console.log("check for update changed due to deploy time, was ", checkForUpdateAfter, "will now be", hourAfterDeploy);
            checkForUpdateAfter = hourAfterDeploy;
        }

        if (new Date() > checkForUpdateAfter) {
            console.log("will check for update", new Date(), ">", checkForUpdateAfter, " = true")
            $.getJSON("http://covid3.kylebaker.io/api/getnew/worldometer", function( data ) {
                console.log(data);
                toastr.info(`FRESH DATA: Data up to ${data.World.meta.lastDate} is about to be available within the next minute (just refresh to access it).`);
                // window.allData = data;
                // runGraphs();
                // this would be nice, but there are complications. Would need to re-initialize the ion slider, for one. Not sure what else.
            })
            .fail(e => {
                console.warn(e);
                console.log("no new data");
            });
        }
        else {
            console.log("no need to check for data")
            console.log('will check for update upon:', checkForUpdateAfter)
            console.log(`currently`, new Date())
        }
    },
    clone: (function() {
        // https://github.com/davidmarkclements/rfdc/blob/master/index.js
        // I don't handle circular references in this chopped up version.

        function cloneArray (a, fn) {
            var keys = Object.keys(a)
            var a2 = new Array(keys.length)
            for (var i = 0; i < keys.length; i++) {
            var k = keys[i]
            var cur = a[k]
            if (typeof cur !== 'object' || cur === null) {
                a2[k] = cur
            } else if (cur instanceof Date) {
                a2[k] = new Date(cur)
            } else {
                a2[k] = fn(cur)
            }
            }
            return a2
        }

        function cloneProto (o) {
            if (typeof o !== 'object' || o === null) return o
            if (o instanceof Date) return new Date(o)
            if (Array.isArray(o)) return cloneArray(o, cloneProto)
            var o2 = {}
            for (var k in o) {
                var cur = o[k]
                if (typeof cur !== 'object' || cur === null) {
                    o2[k] = cur
                } else if (cur instanceof Date) {
                    o2[k] = new Date(cur)
                } else {
                    o2[k] = cloneProto(cur)
                }
            }
            return o2
        }

        return cloneProto;
    })(),

    wait: async function(ms) {
        return new Promise(resolve => {
            setTimeout(resolve, ms);
        });
    },

    toggleSpinner: async function(force) {
        if (   !utils.ionSlider.playing                                     // precondition:          don't remove in playback mode
            && (force === false ||                                          // alt main condition:    bypass normal and remove if forcing
                    (
                    force !== true && $('.loading-cog').hasClass('fa-spin') // normal main condition: toggle off because it has the spinner class, and there isn't a force=true to force showing
                    )
                )
            ) {
            $('.loading-cog').removeClass('fa-spin');
        }
        else if (force === true || !$('#loading-cog').hasClass('fa-spin')) {
            // otherwise, if none of those conditions are true,
            // (that is, we are playing,
            // and/or forcing true,
            // and/or not forcing but don't have the spinner class
            // and so are toggling)
            // AND: we don't already have this class applied
            // OR: we're forcing true
            // then:
            $('.loading-cog').addClass('fa-spin');
            await this.wait(5)
        }

        if ( force === false
             || ( force !== true && $('.overlay').is(':visible') ) 
             || utils.ionSlider.playing
        ) {
            $('.overlay').hide()
        }
        else {
            (typeof activeCards === "undefined") ? $('.overlay').show() : activeCards.forEach(card => {
                $(`.load-overlay-${card.index}`).show()
            });
            await this.wait(5)
        }
    },

    toCompare: {
        num: 5,
        get() { return this.num },
        set(num) {
            this.num = Number($('#compare-num').val());
            $('#format-top-countries').html($('#compare-num').val());
            utils.runGraphs();
        },
    },
    getLastDate(data=utils.getSelectedData("Confirmed")) {
        let currentDateRange = Object.keys(data)
        return currentDateRange[currentDateRange.length -1];
    },

    fullDateRange: Object.keys(allData.World.Confirmed), // should make this a function that returns a clone to prevent sneaky bugs
    
    getNew: function(data) {

        //turns a region's numberset into a new numberset that contains the difference per day from the previous day.

        let dates = Object.keys(data);
        let output = dates.reduce((memo,date,i) => {
            memo[dates[i+1]] = (data[dates[i + 1]] - data[date])
            return memo;
        },{})
        
        delete output.undefined;
        
        return output;
    },

    generateRandomColor() {
        // https://www.paulirish.com/2009/random-hex-color-code-snippets/
        
        setTimeout(() => localStorage.countryColorDict = JSON.stringify(utils.countryColorDict),1000)
        return "#" + (Math.random().toString(16) + "000000").slice(2, 8)
        
        // previously used methods
        // '#' + ("000000" + Math.random().toString(16).slice(2, 8).toUpperCase()).slice(-6);
        // return '#'+Math.floor(Math.random()*16777215).toString(16);
    },

    get100Date(data, getIndex=false) {
        return Object.keys(data)[getIndex ? "findIndex" : "find"]((date, index) => (data[date] > 100));
    },

    trimTo100Date(data, minimum=100, convert=false) {
        // if there is no >100 day, returns an object full of null values.
        // (nulls don't get rendered in chart.js, but are allowed as non-value placeholders)
        // if `convert` is true, converts keys into days since 100 cases, and deletes all before
        let dateRange = Object.keys(data);
        let newIndex = 0;
        return dateRange.reduce((memo, date, index) => {
            let bigEnough = !!(data[date] > minimum || !!newIndex);
            if (!convert) {
                memo[date] = (data[date] > minimum ? data[date] : null);
            } else if (bigEnough) {
                memo[newIndex] = data[date];
                newIndex++
            }
            return memo;
        }, {});
    },

    getIncreaseRate: function(data, daysToClump=7, minimum=100) {
        //turns a region's numberset into a new numberset that contains the difference per day from the previous day.
        daysToClump;
        let firstStartDate = utils.getDateFromDaysAgo(daysToClump /* + 1 */, ionSlider.currentSliderDates[0]);
        trimmedData = utils.sliceToDates(data, firstStartDate); // make sure we have trimmedData going back to the clump window that predates the current window.
        trimmedData = this.trimTo100Date(trimmedData, minimum);
        let dates = Object.keys(trimmedData);
        let output = dates.reduce((memo,date,i) => {
            if (i < daysToClump) return memo;

            let endOfWindowData = trimmedData[date];
            
            let beginningOfWindowData = trimmedData[dates[i - daysToClump]] || null; // if undefined from being too early of a date
            
            if (endOfWindowData !== null && beginningOfWindowData === null) beginningOfWindowData = data[dates[i - daysToClump]]; // restore data to prevent jump from 0 to >100
            // if (endOfWindowData !== null && beginningOfWindowData === null) endOfWindowData = null;
            
            let lessThanMinimumNew = (endOfWindowData - beginningOfWindowData) < minimum;
            // console.log(endOfWindowData, beginningOfWindowData, utils.getPercentChange(beginningOfWindowData, endOfWindowData)+"%")
            
            memo[date] = utils.getPercentChange(endOfWindowData, beginningOfWindowData)
            
            if (lessThanMinimumNew || isNaN(memo[date])) {
                // console.log(minimum, lessThanMinimumNew, "changing to 0:",memo[date])
                memo[date] = 0;
            }
            
            return memo;
        },{})

        // output = utils.sliceToDates(output);

        return output;
    },

    getDoublingRate(data, daysToClump=7) {
        return this.increaseRateToDoublingRate(this.getIncreaseRate(data, daysToClump, 0), daysToClump);
    },

    increaseRateToDoublingRate(data, daysToClump=1) {
        Object.keys(data).forEach(date => {
            data[date] = this.toDecimal((100 * daysToClump) / data[date]);
        })
        return data;
    },

    zeroToNull: function(data) {
        return Object.keys(data).reduce((memo, date) => {
            memo[date] = data[date] === 0 ? null : date[date];
            return memo;
        },{})
    },

    addBreadcrumb(title, depth, flag) {
        if (!$('ol.breadcrumb').children()[depth]) {
            $('ol.breadcrumb').append(
                $($('ol.breadcrumb').children()[depth-1]).clone()
            )
        }
        flag = flag ? utils.getFlag(title) : "";
        let capitalTitle = title.slice(0,1).toUpperCase() + title.slice(1)
        $($('ol.breadcrumb').children()[depth]).html(`${capitalTitle} ${flag}`);
    },


    caseIncreaseRate(
        daysToClump,
        startXdaysAgo=0,
        selectedData=utils.getSelectedData("Confirmed", this.currentRegion)
        ) {
        let pastNum = utils.getNumFromDaysPast(
            selectedData,
            ( startXdaysAgo + daysToClump )
        );

        let currentNum = /* startXdaysAgo ?  */
            utils.getNumFromDaysPast(selectedData, startXdaysAgo) 
            /* : selectedData[utils.getLastDate()]; */

        let result = utils.getPercentChange(currentNum, pastNum);
        // console.log(pastNum, currentNum, result);

        return result;
    },


    // this will work for now, but if you need more complex handling of params in future, upgrade:
    // https://usefulangle.com/post/81/javascript-change-url-parameters
    updateURL(title, url) {
        window.history.pushState(url, title, url);
        utils.addBreadcrumb(utils.currentRegion, 2, true);
    },


    initSelect2(setURL=true, runGraphs) {
        let altNames = Object.keys(allData).reduce((memo, country) => {
            if (allData[country].meta && allData[country].meta.altNames) {
                allData[country].meta.altNames.forEach(name => memo[name] = country)
            }
            return memo;
        }
        ,{});

        Object.keys(altNames).concat(Object.keys(allData)).sort().forEach((country, i) => {
            $('.select2').append(`<option ${country === utils.currentRegion ? 'selected' : ''} value="${country}">${utils.getFlag(country, true)} ${country}</option>`)
        });

        $('.select2.controller-region').select2({ })
        $('.select2.minimized').select2();
        $('.select2.controller-region + .select2-container').css('width', '100%');
        $('.select2.minimized + .select2-container').css('display', 'inline-block');
        // $('.minimized-toolbar').show();
        
        // $('.minimized-toolbar').hide();
        // $('.select2.minimized + .select2-container').hide()

        $('.select2').on('change', function(e) {
            let params = e.params;
            localStorage.savedRegion = utils.currentRegion = params ? params.data : $(this).children("option:selected").val();
            if (!allData[utils.currentRegion]) {
                localStorage.savedRegion = utils.currentRegion = altNames[utils.currentRegion];
            }
            $('.select2').each((a,b) => $(b).val(localStorage.savedRegion).trigger('change.select2'))
            if (setURL) ionSlider.updateStart(); // sets URL

            if ($(`#analysis>a`).hasClass('active')) utils.addBreadcrumb(utils.currentRegion, 2, true); // sloppy, temporary patch for client side hybrid implementation until we switch from server-url paths to client-side hash routing for countries.\
            
            if (runGraphs) runGraphs();
        });
    },
    chartColors: ['#92bce0','#d47b3c',"#FAD479","#BEA992","#02ad86","#14C7C7","#008dff","#336a85","#e9e5cc","#617250","#bba102", "#dc5b59", "#eb00ff", "#7523ff", "#00e811", "#e57272", "#00ff19", "#fcb244", "#a5a5a5", "#16c2cc", "#bf89a8", "#c60000", "#335ecc"],
    countryColorDict: localStorage.countryColorDict ? JSON.parse(localStorage.countryColorDict) : {"Others":"gray","USA":"#92bce0","Brazil":"#d47b3c","Russia":"#FAD479","Spain":"#77290d","UK":"#02ad86","India":"#14C7C7","Peru":"#008dff","Italy":"#336a85","France":"#e1571e","Germany":"#617250","Turkey":"#bba102","Iran":"#dc5b59","Canada":"#eb00ff","China":"#7523ff","Chile":"#00e811","Saudi Arabia":"#e57272","Mexico":"#00ff19","Pakistan":"#fcb244","Belgium":"#a5a5a5","Qatar":"#16c2cc","Netherlands":"#bf89a8","Belarus":"#c60000","Bangladesh":"#335ecc","Ecuador":"#f1fe04","Sweden":"#b83317","Singapore":"#632050","UAE":"#004dd9","Portugal":"#67d0c2","Switzerland":"#8847e3","South Africa":"#d68654","Ireland":"#87f365","Colombia":"#42dddc","Indonesia":"#c8819c","Kuwait":"#e4aa7c","Poland":"#a28ebd","Ukraine":"#a128f9","Egypt":"#6db940","Romania":"#354c39","Israel":"#c77067","Japan":"#750e87","Austria":"#6017ff","Dominican Republic":"#1c68a4","Philippines":"#648142","Argentina":"#6f0b50","Afghanistan":"#183aa0","Panama":"#b4c007","Denmark":"#cebef6","Serbia":"#57518a","South Korea":"#01831f","Bahrain":"#7ffe34","Kazakhstan":"#eaef67","Czech Republic":"#b7e7fe","Algeria":"#85beed","Nigeria":"#44ddd4","Norway":"#de2e18","Oman":"#87fbfa","Armenia":"#5d16f8","Malaysia":"#0f3869","Morocco":"#5be2a8","Moldova":"#6da458","Ghana":"#b8d855","Australia":"#79701f","Bolivia":"#efca8c","Finland":"#10088f","Cameroon":"#18aeb1","Iraq":"#84c5d3","Azerbaijan":"#e19442","Honduras":"#45f8bc","Sudan":"#afa74a","Guatemala":"#5905b4","Hungary":"#d548c5","Uzbekistan":"#c6d1b5","Guinea":"#e69fe7","Senegal":"#81f6ea","Thailand":"#5924e0","Greece":"#22f5be","Cote d'Ivoire":"#c9099a","Bulgaria":"#8170a4","Bosnia and Herzegovina":"#0e9094","Gabon":"#e3a2f4","Croatia":"#b5fc78","El Salvador":"#950f5f","North Macedonia":"#45dc90","Cuba":"#6b4d27","Estonia":"#331258","Somalia":"#cd3f3b","Lithuania":"#9ea426","Kyrgyzstan":"#5b0ea2","Slovakia":"#eeac9a","New Zealand":"#db0f30","Kenya":"#9d5523","Slovenia":"#49cb74","Sri Lanka":"#bafec0","Venezuela":"#1936f1","Haiti":"#2af345","Lebanon":"#9b1957","Hong Kong":"#4ac41b","Latvia":"#b77d9a","Zambia":"#0ba351","Tunisia":"#c6fb3c","Albania":"#b714ca","Equatorial Guinea":"#892f09","150 Remaining Countries":"gray","Antigua and Barbuda":"#d6b12b","180 Remaining Countries":"gray","179 Remaining Countries":"gray"},
    storeColorDict: {},

    initDefaultSwitches(allCards, runGraphs) {
        ['checkbox-lockCountries-default', 'checkbox-perMil-default'].forEach(id => {
            $('#'+id)
            .bootstrapSwitch({
                onColor: 'black',
                size:'mini',
                state:false,
            })
            .on('switchChange.bootstrapSwitch', (event, state) => {
                allCards.forEach((card, index) => {

                    let prop = id.split("-")[1];
                    // console.log("setting before", prop, card[prop], index, card)
                    buttons.toggle[prop]($(`#button-toggle-${prop}-${index}`), index, true, state)
                    // console.log("setting after", prop, card[prop], `#button-toggle-${prop}-${index}`)
                });
                runGraphs();
            });
        })
    },

    initMinCases(runGraphs) {
        // src: https://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
        var typingTimer;
        var doneTypingInterval = 500;

        $('#checkbox-min-cases')
        .bootstrapSwitch({
            onColor: 'black',
            size:'mini',
            state:true,
        })
        .on('switchChange.bootstrapSwitch', (event, state) => {
            let showNum = state ?
                `${Number($('#min-cases-num').val()).toLocaleString()}`
                : 0;
            utils.setMinCases(showNum)
            // $('#format-min-cases').html(showNum);
            
            if (!state) $('#min-cases-num').css('font-style','italic').css('color','gray')
            else $('#min-cases-num').css('font-style','normal').css('color','black')
            
            if (!state || $('#min-cases-num').val()) {
                utils.minCasesFiltered = [];
                runGraphs();
                utils.setCasesFiltered();
            }
        });

        utils.setMinCases(Number($('#min-cases-num').val()))
        // $('#format-min-cases').html(`${Number($('#min-cases-num').val()).toLocaleString()}`)

        $('#min-cases-num').on('input', function(){
            let showNum = $('#checkbox-min-cases').is(":checked") ?
                `${Number($('#min-cases-num').val()).toLocaleString()}`
                : 0;
            // $('#format-min-cases').html(showNum);
            utils.setMinCases(showNum);
            
            clearTimeout(typingTimer);
            if ($('#min-cases-num').val()) {
                typingTimer = setTimeout(runGraphs, doneTypingInterval);
            }
        });
    },

    setMinCases(formatNum, valNum) {
        if (formatNum) $('#format-min-cases').html(formatNum.toLocaleString());
        if (valNum) $('#min-cases-num').val(valNum);
    },

    initMinPop(runGraphs) {
        // src: https://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
        var typingTimer;
        var doneTypingInterval = 500;

        $('#checkbox-min-pop')
        .bootstrapSwitch({
            onColor: 'black',
            size:'mini',
            state:true,
        })
        .on('switchChange.bootstrapSwitch', (event, state) => {
            if (!state) $('#min-pop-num').css('font-style','italic').css('color','gray')
            else $('#min-pop-num').css('font-style','normal').css('color','black')
            
            if (!state || $('#min-pop-num').val()) {
                utils.minPopFiltered = []
                runGraphs()
                utils.setPopFiltered();
            }
            let showNum = $('#checkbox-min-pop').is(":checked") ?
                `${Number($('#min-pop-num').val()).toLocaleString()}`
                : 0;
            // $('#format-min-pop').html(showNum);   
            utils.setMinPop(showNum)         
        });

        // $('#format-min-pop').html(`${Number($('#min-pop-num').val()).toLocaleString()}`)
        utils.setMinPop(Number($('#min-pop-num').val()))

        $('#min-pop-num').on('input', function(){
            clearTimeout(typingTimer);
            let showNum = $('#checkbox-min-pop').is(":checked") ?
                `${Number($('#min-pop-num').val()).toLocaleString()}`
                : 0;
            // $('#format-min-pop').html(showNum);
            utils.setMinPop(showNum);
            if ($('#min-pop-num').val()) {
                typingTimer = setTimeout(runGraphs, doneTypingInterval);
            }
        });
    },

    setMinPop(formatNum, valNum) {
        if (formatNum) $('#format-min-pop').html(formatNum.toLocaleString());
        if (valNum) $('#min-pop-num').val(valNum);
    },

    initCompareNum(runGraphs) {
        // src: https://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
        var typingTimer;
        var doneTypingInterval = 500;
        $('#format-top-countries').html($('#compare-num').val());
        $('#compare-num').on('input', function (e) {
            clearTimeout(typingTimer);
            if ($('#compare-num').val()) {
                typingTimer = setTimeout(() => utils.toCompare.set(Number($('#compare-num').val())), doneTypingInterval);
            }
        });
    },

    getLowest(countries, func) {
        return countries.reduce((memo, country) => {
            let hm = memo
            let hc = func(country)
            return hc < hm ? hc : hm;
        }, func(countries[0]));
    },

    setCasesFiltered: (() => {
        let cachedDomElem = $('#format-min-cases-filtered');
        return () => { cachedDomElem.html(utils.minCasesFiltered.length); cachedDomElem.attr("title", utils.minCasesFiltered.join(", ")) }
    })(),
    getMinCases: (() => {
        let cachedDomElem = $('#min-cases-num')[0];
        return () => Number(cachedDomElem.value);
    })(),
    getLastDatapoint: (country, data) => {
        data = data || allData[country].Confirmed;
        let datapoints = Object.values(data);
        let lastDatapoint = datapoints[datapoints.length-1];
        return lastDatapoint;
    },
    minCasesFilter(country, exceptions) {
        if (exceptions.includes(country)) return true;
        let exceptLowest = Infinity;
        if (exceptions && exceptions.length) {
            exceptLowest = this.getLowest(exceptions, this.getLastDatapoint)
        }
        let limit = this.getMinCases()
        if (exceptLowest < limit) {
            toastr.info(
                `A country you added (${exceptions}) had a case count as low as ${exceptLowest.toLocaleString()}, so we've changed your filters to reflect that.`
            )
            utils.setMinCases(Number(exceptLowest), exceptLowest)
            // $('#min-cases-num').val(exceptLowest)
        }
        limit = exceptLowest < limit ? exceptLowest : limit;

        let data = allData[country].Confirmed;
        let cases = Object.values(data);
        let highCases = cases[cases.length - 1];
        if (highCases < limit) {
            this.minCasesFiltered.push(country)
        }
        
        return highCases > limit;
    },
    minCasesFiltered: [],

    setPopFiltered: (() => {
        let cachedDomElem = $('#format-min-pop-filtered');
        return () => {cachedDomElem.html(utils.minPopFiltered.length); cachedDomElem.attr("title", utils.minPopFiltered.join(", ")) }
    })(),
    getMinPop: (() => {
        let cachedDomElem = $('#min-pop-num')[0];
        return () => Number(cachedDomElem.value);
    })(),
    minPopFilter(country, exceptions) {
        if (exceptions && exceptions.includes(country)) return true;
        // else
        let exceptLowest = Infinity;
        if (exceptions && exceptions.length) {
            exceptLowest = this.getLowest(exceptions, this.getPopulation.bind(this))
        }
        let limit = this.getMinPop();
        if (exceptLowest < limit) {
            toastr.info(
                `A country you added (${exceptions}) had a population as low as ${exceptLowest.toLocaleString()}, so we've changed your filters to reflect that.`
            )
            utils.setMinPop(Number(exceptLowest), exceptLowest);
            // $('#min-pop-num').val(exceptLowest)
        }
        limit = exceptLowest < limit ? exceptLowest : limit;

        let pop = utils.getPopulation(country);
        if (pop <= limit) this.minPopFiltered.push(country)
        return pop > limit;
    },
    minPopFiltered: [],

    getURLparams() {
        var url = new URL(document.URL);
        var search_params = url.searchParams; 

        let output = {};
        search_params.forEach(function(value, key) {
            output[key]=value.includes(",") ? value.split(",") : value;
        });
        return output;
    },

    getActiveSafe(region, perMil, force) {
        // like getActiveCountry(), but by default will return a 'null' if last day is a zero value.
        // for countries like UK and Spain that aren't reporting this data, allows catching and modifying presentation

        console.warn("not tested yet")
        let output;
        if (typeof countryNameOrData === "string") output = this.getActiveCountry(countryNameOrData, perMil)
        else output = this.getActive(countryNameOrData)

        
        if (!force && !recoveryRate(region)) return null
        else return output;
    },
    getActiveCountry(region, perMil) {
        // like getActive(), but requires only a region name instead of dataset, and accepts 'perMil' argument.
        let data = {
            Confirmed: utils.getSelectedData('Confirmed', region, perMil), 
            Recovered: utils.getSelectedData('Recovered', region, perMil), 
            Deaths: utils.getSelectedData('Deaths', region, perMil)
        };
        let output = utils.getActive(data);
        return output;
    },
    getActive: function(data=utils.getSelectedData()) {
        //turns a dataset into a new numberset that contains the active cases per day.
        let output = Object.keys(data.Confirmed);
        output = output.reduce((memo,date) => {
            memo[date] = (data.Confirmed[date] - data.Recovered[date] - data.Deaths[date])
            return memo;
        },{})
        return output;
    },
    regionActive: () => utils.getActive(utils.getSelectedData()),
    regionActiveToday: (daysAgo=0) => {
        let act = utils.regionActive();
        return utils.getNumFromDaysPast(act, daysAgo)
    },
    
    getNumFromDaysPast(data, days) {
        // let endDateNum = data[utils.getLastDate()];
        days += 1;
        let dates = Object.keys(data);
        let startDate = dates[dates.length - days];
        let startDateNum = data[startDate];
        // console.log("dates are:", startDate);
        // console.log("numbers are:", startDateNum);
        return startDateNum || 0;
    },

    getDateFromDaysAgo(days, from/*optional*/) {
        // BE CAREFUL, this function is CRITICAL and FRAGILE.
        // Has some technical debt, part of an unclear
        // circle of functions connected to ionslider stuff

        days = days+1
        let dates = utils.fullDateRange;
        fromIndex = from ? dates.indexOf(from) : dates.length;
        // console.log(from, fromIndex, dates, days)
        let startDate = dates[fromIndex - days];
        return startDate || '1/22/20';
    },

    getDatefromDaysAgoFromSlider(days) {
        return utils.getDateFromDaysAgo(days-1, utils.ionSlider.getSliderDates()[1])
    },
    
    getPercentDifferent(small, big) {
        small = Number(small);
        big = Number(big);
        let result = (small/big) * 100;
        result = Math.floor(100 - result);
        return this.toDecimal(result);
    },

    getPercentChange(recent, old) {
        let result = ((recent - old) / old) * 100;
        return this.toDecimal(result)
    },

    toDecimal(num, decimalPlaces=1) {
        let power = Math.pow(10, decimalPlaces)
        result = Math.round(num * power) / power
        return result;
    },
    
    getPercentDifferentPrecise(small, big, precision=1) { // precision of 0.1 rounds result to nearest 0.1
        small = Number(small)
        big = Number(big)
        let result = (small/big) * 100;
        result = 100 - result;
        return this.toDecimal(result, precision)
    },
    
    /*
    caseIncreaseRate(days, start, region=this.currentRegion, subset="Confirmed", perMil=false) {
        let selectedData = utils.getSelectedData(subset, region, perMil);
        let pastNum = utils.getNumFromDaysPast(selectedData, (start ? start + days : days));
        let currentNum = !!start ? utils.getNumFromDaysPast(selectedData, start) : selectedData[utils.getLastDate()]
        return utils.getpercent(pastNum, currentNum);
    },
    */

    hasValidRecoveryData(country=utils.currentRegion, strict=false) {
        // return true; // for debugging
        // strict returns 'invalid' if last date of dataset is invalid
        // strict === false returns invalid only if last selected date is invalid
        return strict ? 
            !!utils.getLastDatapoint(country, allData[country].Recovered) :
            !!utils.getLastDatapoint(country, utils.getSelectedData("Recovered", country))
    },
    recoveryRate(region=utils.currentRegion, date=utils.getLastDate()) {
        // returns rate for single day
        let recovered = utils.getSelectedData("Recovered", region);
        let deaths = utils.getSelectedData("Deaths", region);
        let totalClosed = recovered[date] + deaths[date];
        return 100 - utils.getPercentDifferent(recovered[date], totalClosed)
    },
    getRecoveryRate(region) {
        // turns region name into a dataset of recovery rate values
        let dates = utils.ionSlider.getCurrentDateRange();
        return dates.reduce((memo, date) => {
            memo[date] = utils.recoveryRate(region, date) || null;
            return memo
        }, {});
    },
    getRecoveryRateSafe(region, force) {
        // returns null for whole dataset if last value is 0, unless `force` is truthy
        console.warn("untested so far")
        let output = this.getRecoveryRate(region)

        if (force !== true && utils.getNumFromDaysPast(output, 0) === 0) return null
        else return output;
    },


    getRanks() {
        // creates a timesliced object of all rank categories over time.
        // use to make graph of ranks
    },


    getHighLow(data) {
        let output = {
            low: Infinity,
            high: 0,
        };
        Object.values(data).forEach(num => {
            if (num < output.low && num !== null) output.low = num;
            if (num > output.high) output.high = num;
        })
        return [output.low, output.high];
    },

    rangeToLog(tuple) {
        // takes an array of two numbers,
        // returns the nearest power of ten rounded down for first
        // returns highest power of ten rounded up for second
        let output = [Math.pow(10, Math.floor(Math.log10(tuple[0]))), Math.pow(10, Math.ceil(Math.log10(tuple[1])))];
        // console.log(`low ${tuple[0]} -> ${output[0]}, high ${tuple[1]} -> ${output[1]}`);
        return output;
    },

    dataToLog(data) {
        return utils.rangeToLog(utils.getHighLow(data));
    },

    emptyAndFillArray(oldArray, newData) {
        while(oldArray.length > 0) {
            oldArray.pop();
        }
        newData.forEach(datum => oldArray.push(datum));
    },

    sliceToDates(data, optFrom, optTo) {
        let [from, to] = this.ionSlider.getSliderDates();
        if (optFrom) from = optFrom;
        if (optTo) to = optTo;
        let dateRange = utils.fullDateRange
        dateRange = dateRange.slice(dateRange.indexOf(from), dateRange.indexOf(to)+1);

        let subsetOutput = {};
        dateRange.forEach(date => subsetOutput[date] = Number(data[date]));
        return subsetOutput;
    },

    getDateRangeData(data, singleSubset) {
        if (!this.ionSlider) {
            console.error("must set utils.ionSlider to ionSlider.ejs output")
            return
        }
        let subsets = Object.keys(data);
        let output = {};

        let [from, to] = this.ionSlider.getSliderDates('from daterange');
        let dateRange = Object.keys(data[subsets[0]]);
        dateRange = dateRange.slice(dateRange.indexOf(from), dateRange.indexOf(to)+1);
        subsets.forEach(subset => {
            if (subset === 'lastDate') output[subset] = subsets[subset];
            if (singleSubset && singleSubset !== subset) return;
            else {
                let subsetData = data[subset];
                let subsetOutput = {};
                dateRange.forEach(date => subsetOutput[date] = Number(subsetData[date]));
                output[subset] = subsetOutput;
            }
        });

        if (singleSubset) output = output[singleSubset];
        
        // console.log("current dateRanged is:", output);
        return output;
    },

    getSelectedData(singleSubset, region=this.currentRegion, perMil=false) {
        let output = this.getDateRangeData(allData[region], singleSubset);
        let output2 = perMil ? this.getPerMil(region, output) : output;
        // if (perMil && output === output2) console.error("THESE SHOULDn'T BE THE SAME")
        // else if (perMil && region === "USA") {console.warn("different?", output, output2)}
        return output2
    },

    getDaysFromNowDate: function(daysInFuture) {
        return Object.keys(utils.getSelectedData("Confirmed"))[daysInFuture]
    },

    infOrNaN(num) {
        // returns the ∞ symbol if Infinity, or 0 if NaN, for cleaner text.
        return num === Infinity ? '∞' : isNaN(num) ? 0 : num;
    },

    collapseBelowRank(rankedList, limit, exceptions) {
        // turns all below rank limit into one collapsed psuedo-country dataset
        let collapsedRankedList = rankedList.reduce((memo, country, index) => {
            if (exceptions.includes(country.name)) {
                memo.unshift(country);
            } else if (index+1 < limit) {
                memo.push(country);
            } else if ((index+1) == limit || memo[memo.length-1].name !== "Remaining Countries") {
                let collapser = utils.clone(country);
                collapser.name = "Remaining Countries";
                collapser.rank = limit-1
                collapser.howMany = 1;
                memo[memo.length-1] = collapser;
            } else {
                let collapser = memo[memo.length-1];
                collapser.howMany++;
                collapser[collapser.rankBy] += country[country.rankBy];
                collapser.population += country.population && country.population !== Infinity ? country.population : 0;
                if (country.timeSeries) collapser.timeSeries = utils.collapseTimeseries(collapser.timeSeries, country.timeSeries)
            }
            return memo;
        }, [])

        let others = collapsedRankedList[collapsedRankedList.length-1]
        others.name = `${others.howMany} ${others.name}`
        utils.countryColorDict[others.name] = 'gray';
        return collapsedRankedList;
    },

    initSlideIn: function($=jQuery) {
        /**
        * Copyright 2012, Digital Fusion
        * Licensed under the MIT license.
        * http://teamdf.com/jquery-plugins/license/
        *
        * @author Sam Sehnert
        * @desc A small plugin that checks whether elements are within
        *     the user visible viewport of a web browser.
        *     only accounts for vertical position, not horizontal.
        */

        $.fn.visible = function(partial) {
            
            var $t            = $(this),
                $w            = $(window),
                viewTop       = $w.scrollTop(),
                viewBottom    = viewTop + $w.height(),
                _top          = $t.offset().top,
                _bottom       = _top + $t.height(),
                compareTop    = partial === true ? _bottom : _top,
                compareBottom = partial === true ? _top : _bottom;
            
            return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

        };

        var win = $(window);

        var elementsToSlideOnScroll = $(".scroll-slide-up");

        elementsToSlideOnScroll.each(function(i, el, all) {
            var el = $(el);
            if (el.visible(true)) {
                el.addClass("already-visible"); 
            }
        });

        win.scroll(function(event) {
            elementsToSlideOnScroll.each(function(i, el) {
                var el = $(el);
                if (el.visible(true)) {
                    el.addClass("come-in");
                } 
            });
        });
    },

    collapseTimeseries(timeseriesA, timeseriesB) {
        return Object.keys(timeseriesA).reduce((memo,key) => {
            memo[key] = timeseriesA[key] + timeseriesB[key]
            return memo
        }, {});
    },

    lockActiveCards() {
        let activeCards = this.activeCards;
        let locks = [...$('.lock-button')];
        if (activeCards.length !== locks.length) console.error("you're gonna have problems")
        activeCards.forEach((card, index) => buttons.toggleLock(locks[index], card.index, true));
    },

    population: <%- include(`../fragments/population.ejs`) -%>,

    getPopulation(country) {
        // this function doesn't really work,
        // should really lowercase all countrnames everywhere
        // and probably institute fuzzy search
        let output = this.population[country];
        if (!output) {
            name1 = Object.keys(this.population).filter(popCountry => {
                // console.log(country, popCountry, popCountry.indexOf(country), country.indexOf(popCountry))
                // console.log('returning', popCountry.indexOf(country) || country.indexOf(popCountry))
                return popCountry.indexOf(country)+1 || country.indexOf(popCountry)+1
            })[0]
            output = this.population[name1];
        }
        if (!output && allData[country] && allData[country].meta.altNames && !noRecurse) {
            output = allData[country].meta.altNames.reduce((memo, name) => memo || this.population(name, true), "");
        }
        return output || Infinity;
    },


    // flagDecoder(country, noRecurse) {
    // },

    getPerMil: (country, data) => {
        let output = {};
        Object.keys(data).forEach(date => {
            // if (country === "USA") debugger
            let tempOutput = ((1000000/utils.getPopulation(country)) / (1000000/data[date]) * 1000000);
            output[date] = isNaN(tempOutput) ? 0 : Math.round(tempOutput);
        });
        return output;
    },

    rankGridTemplate() {
        return `
            <div id="rank-grid" class="col-12 scroll-slide-up">
                <div class="card bg-gradient-dark">
                    <div class="card-header">
                        <h3 class="card-title">Rankings</h3><!-- as of <span class="today-date"></span> -->
                        <div class="card-tools">
                            <span id="button-toggle-perMil-grid" onclick="buttons.toggleDoubleRate(this, 'grid')" data-toggle="tooltip" type="button" title="toggle showing how many days this value takes to double, on average over the past week" class="badge">doubling rate</span>
                            <span id="button-toggle-perMil-grid" onclick="buttons.togglePerMil(this, 'grid')" data-toggle="tooltip" type="button" title="toggle per million" class="badge">per mil</span>
                            <button type="button" class="btn btn-tool toggle-active-rank-grid" data-card-index="rank-grid" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool toggle-active-rank-grid" data-card-index="rank-grid" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p id="grid-explain-text">Ranks for this country</p>
                        <div>
                            <div id="ranks-grid"></div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        `;
    },

    infoboxTemplate(oneBox) {
        return `
        <div class="col-md-3 col-sm-6 col-12 infobox-shell">
                <div id="${oneBox.id()}-color" class="info-box">
                    <span class="info-box-icon"><i class="${oneBox.logo()}"></i></span>

                    <div class="info-box-content">
                    <span id="${oneBox.id()}-line1" class="info-box-text">${oneBox.line1()}</span>
                    <span id="${oneBox.id()}-num" class="info-box-number"></span>

                    <div class="progress">
                        <div id="${oneBox.id()}-bar" class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span id="${oneBox.id()}-desc" class="progress-description">
                    </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        `
    },

    compareCardTemplate(card) {
        const { title, index:cardIndex, chartId, gridId, genText, customSettings, lockCountries } = card;
        const { noPerMil, noLog, no100, fullWidth } = customSettings;
        let cardWidth = fullWidth ? 12 : 6;
        return `
            <div  class="col-xl-${cardWidth} col-lg-${cardWidth} col-12">
                <!-- LINE CHART -->
                <div id="card-${card.index}" class="scroll-slide-up col-12 card bg-gradient-dark card-${card.index}">
                    <div class="card-header">
                        <h3 class="card-title">${title}</h3>

                        <div class="card-tools">
                        <span id="button-toggle-lockCountries-${cardIndex}" onclick="buttons.toggle.lockCountries(this, ${cardIndex})" data-toggle="tooltip" type="button" title="lock currently displayed countries" class="${lockCountries ? 'bg-secondary' : ''} lock-button badge"><i class="fas fa-lock"></i></span>                            
                        ${!noPerMil ? `
                        <span id="button-toggle-perMil-${cardIndex}" onclick="buttons.toggle.perMil(this, ${cardIndex})" data-toggle="tooltip" type="button" title="toggle per million" class="badge">per mil</span>
                        ` : ""}
                        ${!noLog ? `
                        <span id="button-toggle-log-${cardIndex}" onclick="buttons.toggle.log(this, ${cardIndex})" data-toggle="tooltip" type="button" title="toggle logarithmic y-axis" class="badge">log</span>                            
                        ` : ""}
                        ${!no100 ? `
                        <span id="button-toggle-n100-${cardIndex}" onclick="buttons.toggle.n100(this, ${cardIndex})" data-toggle="tooltip" type="button" title="toggle y-axis to 'days since 100 cases'" class="badge">@100</span>                            
                        ` : ""}
                        <button id="button-toggle-grid-${cardIndex}" onclick="buttons.toggle.grid(this, ${cardIndex})" type="button" title="hide the grid for more chart space and/or faster processing" class="btn btn-tool"><i class="fas fa-table"></i></button>                            
                        <button onclick="buttons.upsizeCanvas(${cardIndex})" type="button" class="btn btn-tool" data-animation-speed="600" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                        <button type="button" class="btn btn-tool toggle-active-${cardIndex} collapse-window-${cardIndex}" data-card-index="${cardIndex}" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            ${genText()}
                        </p>
                        <div>
                            <div id="${gridId}"></div>
                        </div>
                        <br/>                    
                        <div class="chart">
                            <canvas id="${chartId}" style="min-height: 250px; height: 40vw; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <div class="overlay dark load-overlay-${cardIndex}">
                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        `
    },

    analysisGraphTemplate(card) {
        const { title, index:cardIndex, chartId, customSettings, genText } = card;
        const { noPerMil, noLog, fullWidth, showActive, showPercent } = customSettings;
        return `
                <!-- 
            <div id="card-${cardIndex}" class="scroll-slide-up col-xl-4 col-md-6 col-12">
                <div class="card bg-gradient-dark">
                -->
                <div class="col-xl-4 col-md-6 col-12">
                    <div id="card-${cardIndex}" class="scroll-slide-up col-12 card bg-gradient-dark">
                        <div class="card-header" style="cursor:move">
                            <h3 class="card-title">${title}</h3>

                            <div class="card-tools">
                            ${showPercent ? `
                            <span onclick="buttons.togglePercent(this, '${cardIndex}')" data-toggle="tooltip" type="button" title="toggle % y-axis" class="badge">%</span>
                            ` : ""}
                            ${showActive ? `
                            <span onclick="buttons.toggleActive(this, '${cardIndex}')" data-toggle="tooltip" type="button" title="toggle active" class="badge bg-secondary">act</span>
                            ` : ""}
                            ${!noLog ? `
                            <span onclick="buttons.toggleLog(this, ${cardIndex})" data-toggle="tooltip" type="button" title="toggle logarithmic y-axis" class="badge">log</span>                            
                            ` : ""}
                            <button onclick="buttons.upsizeCanvas(${cardIndex})" type="button" class="btn btn-tool" data-animation-speed="600"  data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                            <button type="button" class="btn btn-tool toggle-active-${cardIndex}" data-card-index="${cardIndex}" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool toggle-active-${cardIndex}" data-card-index="${cardIndex}" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            ${ genText ?
                                `<p class="card-text">
                                    ${genText()}
                                </p>
                                <br/>`                    
                                : ""
                            }
                            <div class="chart">
                                <canvas id="${chartId}" style="min-height: 250px; height: 300px; max-height: 1000px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.card -->
            <!--</div> -->
        `
    },

    globalTemplate(card) {
        const { title, index:cardIndex, chartId, gridId, genText, customSettings, lockCountries } = card;
        const { noPerMil, noLog, fullWidth } = customSettings;
        let cardWidth = fullWidth ? 12 : 6;
        return `
            <div id="card-${card.index}" class="col-xl-${cardWidth} col-lg-${cardWidth} col-12 ">
                <!-- LINE CHART -->
                <div class="card bg-gradient-dark">
                    <div class="card-header">
                        <h3 class="card-title">${title}</h3>
                        <div class="card-tools">
                        <button onclick="buttons.upsizeCanvas(${cardIndex})" type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                        <button type="button" class="btn btn-tool toggle-active-${cardIndex}" data-card-index="${cardIndex}" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool toggle-active-${cardIndex}" data-card-index="${cardIndex}" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            ${genText()}
                        </p>
                        <br/>                    
                        <div class="chart">
                            <canvas id="${chartId}" style="min-height: 250px; height: 70vh; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <div class="overlay dark">
                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        `
    },

    stringToHTML(str) {
        str = str.replace(/\W/g, '')
        return str.replace(/ /g,'');
    },

    flagDecode: <%- include(`../fragments/country-codes.ejs`) %>,

    flagDecoder(country, noRecurse) {
        const flagDecode = utils.flagDecode
        let output = flagDecode[country];
        if (!output) {
            flagName = Object.keys(flagDecode).filter(flagCountry => {
                // console.log(country, flagCountry, flagCountry.indexOf(country), country.indexOf(flagCountry))
                // console.log('returning', flagCountry.indexOf(country) || country.indexOf(flagCountry))
                return flagCountry.indexOf(country)+1 || country.indexOf(flagCountry)+1
            })[0]
            output = flagDecode[flagName];
        }
        if (!output) {
            let attempt2 = Object.values(this.emojiFlags).filter(obj => obj.name === country)[0];
            output = attempt2 ? attempt2.code : output;
        }
        if (!output && allData[country] && allData[country].meta.altNames && !noRecurse) {
            output = allData[country].meta.altNames.reduce((memo, name) => memo || this.flagDecoder(name, true), "");
        }
        return output ? output.toLowerCase() : "";
    },
    
    emojiFlags: <%- include(`../fragments/emoji-flags.ejs`) %>,
    haveCssFlag: <%- include(`../fragments/have-css-flag.ejs`) %>,

    getFlag(country, forceEmoji) {
        let countryCode = utils.flagDecoder(country);
        let output;
        if (innerWidth < 600) forceEmoji = true;
        if (this.haveCssFlag[countryCode] && !forceEmoji) {
           output = `<span class="flag-icon flag-icon-${countryCode}"></span>`
        }  else if (this.emojiFlags[countryCode.toUpperCase()]) {
           output = this.emojiFlags[countryCode.toUpperCase()].emoji;
        }  else {
            output = "🇺🇳" || countryCode; // UN flag
        }
        return output;
    },

    updateChart: {
        data: function(chartInstance, newDatasets, reverseGraph) {
            let debugMode = false; // turn on console statements
            let consoleDebug = function() {debugMode ? console.log(...arguments) : null};
            let datasets = chartInstance.data.datasets;
            let limit = datasets.length > newDatasets.length ? datasets.length : newDatasets.length;
            let highlightPosition = reverseGraph ? (newDatasets.length > datasets.length ? newDatasets.length-1 : datasets.length-1) : 0
            
            let noHighlight = reverseGraph; // turning off for now, I think it's better if they don't move...
            
            let oldLabelMap = datasets.reduce(
                (memo, ds, i) => {
                    if (!(memo[ds.label])) memo[ds.label] = i; // this was to fix a problem with duplicates. root problem has been fixed, probably not needed anymore.
                    return memo;
                },
                {}
            );
            let plan = {
                saveOld: {}, // reserved because matched
                saveNew: {},

                usedOld: {}, // keep track of non-reserved, but used
                usedNew: {},

                fromOld: 0, // current indexes
                fromNew: 0,
            };

            let highlighter = newDatasets.reduce((memo, ds, newIndex) => ds.highlight && !noHighlight ? {newIndex, label: ds.label} : memo, {i:-1, label:""})
            if (highlighter.label) {
                highlighter.oldIndex = oldLabelMap[highlighter.label]
            }
            if (highlighter.oldIndex+1) {
                plan.saveOld[highlightPosition] = highlighter.newIndex;
                plan.saveNew[highlighter.newIndex] = highlightPosition;
                consoleDebug("highlighter plan", highlighter)
            } else {
                consoleDebug("NO HIGHLIGHT, highlighter plan", highlighter)
            }

            newDatasets.forEach((ds, newIndex) => {
                if (oldLabelMap[ds.label]+1) {
                    oldIndex = oldLabelMap[ds.label];
                    if (!highlighter.label || (
                        newIndex !== highlightPosition &&
                        newIndex !== highlighter.newIndex &&
                        oldIndex !== highlightPosition
                        )
                    ) {
                        plan.saveOld[oldIndex] = newIndex; // old index points to new index
                        plan.saveNew[newIndex] = oldIndex; // value it points to doesn't matter, but the key being not undefined lets us know it is reserved.
                    }
                }
            }, {});
            consoleDebug('update: plan, old, new', plan, datasets, newDatasets)
            for (let i = 0; i < limit; i++) {
                plan.fromOld = i;
                plan.fromNew = i;
                if (plan.saveOld[i]+1) {
                    // if reserved, set indexes to their reserved values
                    // plan.fromOld = plan.fromOld;
                    plan.fromNew = plan.saveOld[i];
                    consoleDebug(`reservation planned, match for, i ${i}, plan.fromOld ${plan.fromOld}, plan.fromNew ${plan.fromNew}, `)
                }
                else {
                    consoleDebug(`no reserved match at plan.saveOld[${i}], looking for available slots`);
                    // othrewise, find the next unreserved value for both indexes.
                    [["fromOld","usedOld", "saveOld"], ["fromNew","usedNew","saveNew"]].forEach(markers => {
                        let useProp = markers[0];
                        let storeProp = markers[1];
                        let savedProp = markers[2];
                        plan[useProp] = 0;
                        
                        // consoleDebug('before', plan[storeProp], useProp, plan[useProp])
                        while( !!(plan[storeProp][plan[useProp]] + 1) || !!(plan[savedProp][plan[useProp]]+1) ) {
                            consoleDebug(`either plan[${storeProp}][${plan[useProp]}] is used (${plan[storeProp][plan[useProp]]})`)
                            consoleDebug(`or plan[${savedProp}][${plan[useProp]}] is used (${plan[savedProp][plan[useProp]]}) `)
                            plan[useProp]++;
                        }
                        consoleDebug('will use', useProp, plan[useProp])
                        consoleDebug("because", plan[useProp], "in", plan[storeProp], "is", plan[storeProp][plan[useProp]], `plan[${storeProp}][plan[${useProp}]] => plan[${storeProp}][${plan[useProp]}]`)
                        consoleDebug("and", plan[useProp], "in", plan[savedProp], "is",  plan[savedProp][plan[useProp]], `plan[${savedProp}][plan[${useProp}]] => plan[${savedProp}][${plan[useProp]}]`)
                        consoleDebug("which resulted in:", !!(plan[storeProp][plan[useProp]] + 1) || !!plan[savedProp][plan[useProp]])
                        plan[storeProp][plan[useProp]] = 1;
                    });
                }

                let oldDataset = datasets[plan.fromOld];
                let newDataset = newDatasets[plan.fromNew];
                consoleDebug(oldDataset, newDataset)
                consoleDebug("so, recycling/updating", oldDataset ? oldDataset.label : `empty ${plan.fromOld} index`, "to", newDataset ? newDataset.label : `well... nothing new, so will just hide old ${oldDataset.label}`)

                if (oldDataset && newDataset) {
                    consoleDebug(`updating on index ${i}, ${oldDataset.label} from old ${plan.fromOld} to ${newDataset.label} from new ${plan.fromNew}`)
                    oldDataset.data = newDataset.data
                    oldDataset.hidden = newDataset.hidden
                    oldDataset.backgroundColor = newDataset.backgroundColor
                    oldDataset.borderColor = newDataset.borderColor
                    oldDataset.borderDash = newDataset.borderDash;
                    oldDataset.label = newDataset.label
                    // utils.emptyAndFillArray(oldDataset.data, newDataset.data)
                }
                else if (!newDataset) {
                    consoleDebug(`hiding(no equivalent new dataset for new ${plan.fromNew}) on index ${i}, ${oldDataset.label} from old ${plan.fromOld}`)
                    oldDataset.hidden = true
                }
                else if (!oldDataset) {
                    consoleDebug(`adding (no equivalent old dataset for old ${plan.fromOld}) on index ${i}, ${newDataset.label} from new ${plan.fromNew}`)
                    datasets.push(newDataset)
                }
            }
            consoleDebug("result", chartInstance.data.datasets)
        },
        labels: function(chartInstance, newLabels) {
            utils.emptyAndFillArray(chartInstance.data.labels, newLabels)
        },
        scales: function(chart, chartName) {
            let newScales = chart.getOptions().scales;
            let oldOptions = chart.store.instance.options;
            oldOptions.scales = newScales;
        },
    },

    genRankedList(options) {
        let {
            fromCountries,
            customFields,
            allDatesRanked, // not just the last date/item
        } = options;

        let reverseSort;

        let output = fromCountries
        .map((country, index) => {
            customFields.forEach(field => {
                if (field.hasOwnProperty('valid') && !field.valid(country.name)) {
                    country.invalid = true;
                    // console.error("invalid", country.name, field.name)
                    if (country.name === utils.currentRegion) {
                        country.bypass = true; // include even though invalid, but do not rank.
                    }
                }
                else if (field.timeSeries) {
                    // timeSeries functions return an object with keys that are dates
                    // and get sorted by the last date of dates given
                    // then, one timeseries itself can also be stored for later use in the chart if needed

                    let timeSeries = field.func(country.name);
                    if (field.saveTimeseries){
                        if (country.hasOwnProperty('timeSeries'))  console.error("NO MORE THAN 1 TIMESERIES ALLOWED IN CURRENT DESIGN! NEED TO UPDATE THIS CODE IF YOU WANT THAT")
                        country.timeSeries = timeSeries;
                    }
                    country[field.name] = field.nonDateKeys ? timeSeries[Object.keys(timeSeries).length-1] : timeSeries[utils.getLastDate(timeSeries)]
                }
                else {
                    country[field.name] = field.func(country.name);
                }
                if (field.rankBy) {
                    if (country.hasOwnProperty('rankBy')) console.error("NO MORE THAN 1 RANKBY ALLOWED!")
                    country.rankBy = field.name;
                    // console.log("rank by:", country.rankBy, country[country.rankBy])
                    reverseSort = !!field.reverseSort;
                }
            });

            return country;
        })

        let bypass = output.filter(c => c.bypass);
        output = output.filter(c => !c.invalid);

        output = output.sort((a,b) => {
            a = a[a.rankBy] || null;
            b = b[b.rankBy] || null;
            return !!reverseSort ? (a - b) : (b - a);
        })
        .concat(bypass)
        .map((country, i) => {
            country.rank = i+1;
            return country;
        });
        return output;
    },

    gradient: (card) => {
        let gradient = card.chart.store.canvas.createLinearGradient(50, 0, 0, 50);
        gradient.addColorStop(0, 'black');
        gradient.addColorStop(1, '#353b41');
        // gradient.addColorStop(1, 'rgba(255, 0, 0, 0)');
        return gradient;
    },

    chartGenerators: {
        pie(card) {
            // unique at this time:
            // options "index" needs to be removed, or hover is broken
            // needs special handling in the 'labels' function
            // biggest problem though is the "afterlabel" callback
            // also, from the options, the 'scales' object has to be removed.

            let { chartId: id, customSettings:customSettings } = card;
            let genCardData = card.genCardData.bind(card),
                dataFunc = card.dataFunc.bind(card),
                getCardData = (prop) => card.genCardData().filter(d => !d.disabled).map(d => prop ? d[prop] : d),
                stackedAreaChart = !!customSettings.stackedAreaChart;

            return {
                getOptions: () => ({
                    spanGaps: true,
                    tooltips: {
                        callbacks: {
                            title: function(tooltipItems, data) {
                                // tooltipItems is an array of an object that contains the object in label() and afterLabel()
                                let labels = data.labels;
                                let labelIndex = tooltipItems[0].index;
                                return labels[labelIndex];
                            },
                            label: function(tooltipItem, data) {
                                // tooltipItem is just an object as compared to array of objects in title callback
                                // note, however, that to get same array as above, you access '._meta.data' array seen in next function.
                                let datasetIndex = tooltipItem.datasetIndex;
                                let dataIndex = tooltipItem.index;
                                let datasets = data.datasets;
                                let thisValue = datasets[datasetIndex].data[dataIndex];
                                let showNum = customSettings.tooltipAsPercent ? thisValue + "%" : thisValue ? thisValue.toLocaleString() : null;
                                return showNum;
                                // return `${customSettings.hideFlag ? "" : utils.getFlag(datasets[datasetIndex].label,true)} ${datasets[datasetIndex].label}: ${showNum}`
                            },
                            afterLabel: function(tooltipItem, data) {
                                // tooltipItem is same as in label callback above.
                                let datasetIndex = tooltipItem.datasetIndex;
                                let dataIndex = tooltipItem.index;
                                let datasets = data.datasets;
                                let num = data.datasets[datasetIndex].data[dataIndex];
                                
                                var dataset = data.datasets[datasetIndex]
                                var percent = utils.toDecimal((num / Object.values(dataset._meta)[0].total)*100)
                                return '(' + percent + '%)';
                            }
                        },
                        // mode: 'index',
                        intersect: false,
                        // backgroundColor: '#FFF',
                        titleFontSize: 16,
                        // titleFontColor: '#0066ff',
                        // bodyFontColor: '#000',
                        bodyFontSize: 14,
                        displayColors: true
                    },
                    maintainAspectRatio : false,
                    responsive : true,
                    // animation: {
                    //     duration: 0
                    // },
                    legend: {
                        labels: {
                            filter(item, chart) {
                                return customSettings.showLegend ? item.text !== undefined : false
                                // you can hide legend items here.
                                // since you cannot delete a dataset, the
                                // alternative would be to remove its legend
                                // and hide its dataset. lame.
                            },
                            fontColor: "white",
                        },
                        display: customSettings.showLegend
                    },
                    // scales: {
                    //     xAxes: [{
                    //         ticks: {
                    //             fontColor: "white",
                    //         },
                    //         gridLines : {
                    //             display : true,
                    //         },
                    //         stacked: stackedAreaChart, // for stacked bar charts
                    //     }],
                    //     yAxes: card.chart.dataGen.yAxesGenerator()
                    // },
                    datasetFill: stackedAreaChart,
                }),
                getData() {
                    let output = {
                        labels: card.chart.dataGen.labelsGenerator(),
                        datasets: card.chart.dataGen.datasetGenerator(),
                    }
                    
                    return output
                },
                init() {
                    let store = card.chart.store;
                    store.canvas = store.node.get(0).getContext('2d');
                    store.instance = new Chart(
                        store.canvas,
                        {
                            type: !!customSettings.chartType ? customSettings.chartType : "line",
                            data: card.chart.getData(),
                            options: card.chart.getOptions()      
                        }
                    );
                },
                update() {
                    let chart = card.chart;
                    let instance = chart.store.instance;
                    // chart.store.countries = getCardData('name');
                    // console.log('updated countries:', getCardData('name'))
                    utils.updateChart.data(instance, chart.dataGen.datasetGenerator(), card.customSettings.reverseGraph);
                    let upSettings = {lazy:true};
                    if (card.highlightCountry.length) upSettings.duration = 0;
                    if (customSettings.chartType !== "pie") {
                        utils.updateChart.scales(chart);
                    }
                    utils.updateChart.labels(instance, chart.dataGen.labelsGenerator());
                    instance.update(upSettings);
                },
                dataGen: {
                    yAxesGenerator: (log) => {
                        log = log || card.chart.store.log
                        let yAxes = [];
                        let neg = customSettings.allowNegative;
                        yAxes = [{
                            stacked: stackedAreaChart, // for stacked area charts
                            position: 'right',
                            ticks: (() => {
                                let countries = getCardData('name');
                                let range = countries.map(dataFunc).reduce((memo,countryData) => {
                                    let tempRange = utils.getHighLow(countryData);
                                    memo[0] = tempRange[0] < memo[0] ? tempRange[0] : memo[0]
                                    memo[1] = tempRange[1] > memo[1] ? tempRange[1] : memo[1]
                                    return memo;
                                }, [Infinity,0])
                                return {
                                    fontColor: "white",
                                    min: neg ? range[0] : (range[0] > 0 ? range[0] : 0),
                                    callback: function (value, index, values) {
                                        return value.toLocaleString();
                                    }
                                };
                            })(),
                            gridLines : {
                                display : true,
                            }
                        }];
                        return yAxes;
                    },
                    labelsGenerator: () => {
                        let countries = getCardData('name');
                        let output
                        if (countries[0] === "pie") output = getCardData()[0].labels 
                        else if (countries[0]) output = Object.keys(dataFunc(countries[0]))
                        else output = countries
                        return output;
                    },
                    datasetGenerator: () => {
                        // you sure this is the one you're looking for?

                        let chartify = card.chart.store.chartifyData;
                        let result = getCardData().map((data, index) => {
                            let output = {
                                // fill                : stackedAreaChart,
                                // label               : data.name,
                                // hidden              : !data.show,
                                backgroundColor     : data.color,
                                // hoverBorderDash     : [10,10],
                                borderDash          : data.highlight ? [2,2] : [],
                                // hoverBorderColor    : 'white',
                                borderColor         : data.color,
                                // pointRadius         : true,
                                data                : chartify(data.timeSeries ? data.timeSeries : dataFunc(data.name)),
                            }
                            if (data.color === 'gray') console.log(output.backgroundColor)
                            return output;
                        });
                        return result;
                    },
                },
                store: {
                    canvas: "",
                    instance: "",
                    node: $(`#${id}`),
                    upsized: false,
                    log: false,
                    getCardData: getCardData,
                    chartifyData: (data) => Object.values(data).map(n => n === 0 ? null : n),
                },
            };
        },
        line(card) {
            // also stackedAreaChart for now...
            let { chartId: id, customSettings } = card;
            let genCardData = card.genCardData.bind(card),
                dataFunc = card.dataFunc || card.customFields.filter(field => field.rankBy)[0].func.bind(card),
                getCardData = (prop) => card.genCardData().filter(d => !d.disabled).map(d => prop ? d[prop] : d),
                stackedAreaChart = !!customSettings.stackedAreaChart;

            return {
                getOptions: () => ({
                    spanGaps: true,
                    tooltips: {
                        callbacks: {
                            title: function(tooltipItems, data) {
                                // tooltipItems is an array of an object that contains the object in label() and afterLabel()
                                let labels = data.labels;
                                let labelIndex = tooltipItems[0].index;
                                return labels[labelIndex];
                            },
                            label: function(tooltipItem, data) {
                                // tooltipItem is just an object as compared to array of objects in title callback
                                // note, however, that to get same array as above, you access '._meta.data' array seen in next function.
                                let datasetIndex = tooltipItem.datasetIndex;
                                let dataIndex = tooltipItem.index;
                                let datasets = data.datasets;

                                if (!customSettings.preciseHover) {
                                    if (datasets.length > 9 && datasetIndex > 9) return ""
                                    else if (datasets.length > 9 && datasetIndex === 9) return "..."
                                }

                                let thisValue = datasets[datasetIndex].data[dataIndex];
                                let showNum = customSettings.tooltipAsPercent ? thisValue + "%" : thisValue ? thisValue.toLocaleString() : null;

                                return `${customSettings.hideFlag ? "" : utils.getFlag(datasets[datasetIndex].label,true)} ${datasets[datasetIndex].label}: ${showNum}`
                            },
                            afterLabel: function(tooltipItem, data) {
                                // tooltipItem is same as in label callback above.
                                if (!customSettings.tooltipAddPercent) return

                                let datasetIndex = tooltipItem.datasetIndex;
                                let dataIndex = tooltipItem.index;
                                let datasets = data.datasets;
                                var dataset = data.datasets[datasetIndex]
                                let num = dataset.data[dataIndex];
                                

                                let total = datasets.reduce((m, ds) => {
                                    let a = (m.hasOwnProperty('data') ? m.data[dataIndex] : m)
                                    let b = ds.data[dataIndex];
                                    return utils.infOrNaN(a) + utils.infOrNaN(b)
                                })
                                // datasets[1].data[133]
                                // console.log(datasets, dataset, datasetIndex, dataIndex, num, total)
                                var percent = utils.toDecimal((num / total)*100)
                                return '(' + percent + '%)';
                            }
                        },
                        mode: customSettings.preciseHover ? 'nearest' : 'index',
                        intersect: false,
                        // backgroundColor: '#FFF',
                        titleFontSize: 16,
                        // titleFontColor: '#0066ff',
                        // bodyFontColor: '#000',
                        bodyFontSize: 14,
                        displayColors: true
                    },
                    maintainAspectRatio : false,
                    responsive : true,
                    // animation: {
                    //     duration: 0
                    // },
                    legend: {
                        labels: {
                            filter(item, chart) {
                                return customSettings.showLegend ? item.text !== undefined : false
                                // you can hide legend items here.
                                // since you cannot delete a dataset, the
                                // alternative would be to remove its legend
                                // and hide its dataset. lame.
                            },
                            fontColor: "white",
                        },
                        display: customSettings.showLegend
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: "white",
                            },
                            gridLines : {
                                display : true,
                            },
                            stacked: stackedAreaChart, // for stacked bar charts
                        }],
                        yAxes: card.chart.dataGen.yAxesGenerator(),
                    },
                    datasetFill: stackedAreaChart,
                }),
                getData() {
                    let output = {
                        labels: card.chart.dataGen.labelsGenerator(),
                        datasets: card.chart.dataGen.datasetGenerator(),
                    }
                    
                    return output
                },
                init() {
                    let store = card.chart.store;
                    store.canvas = store.node.get(0).getContext('2d');
                    store.instance = new Chart(
                        store.canvas,
                        {
                            type: !!customSettings.chartType ? customSettings.chartType : "line",
                            data: card.chart.getData(),
                            options: card.chart.getOptions()      
                        }
                    );
                },
                update() {
                    let chart = card.chart;
                    let instance = chart.store.instance;
                    // chart.store.countries = getCardData('name');
                    // console.log('updated countries:', getCardData('name'))
                    utils.updateChart.data(instance, chart.dataGen.datasetGenerator(), card.customSettings.reverseGraph);
                    let upSettings = {lazy:true};
                    if (card.highlightCountry.length) upSettings.duration = 0;
                    if (customSettings.chartType !== "pie") {
                        utils.updateChart.labels(instance, chart.dataGen.labelsGenerator());
                        utils.updateChart.scales(chart);
                    }
                    instance.update(upSettings);
                },
                dataGen: {
                    yAxesGenerator: (log) => {
                        log = log || card.chart.store.log
                        let yAxes = [];
                        let neg = customSettings.allowNegative;
                        if (log) {
                            yAxes = [{
                                // scaleLabel: {
                                //     display: true,
                                //     labelString: 'People',
                                // },
                                stacked: stackedAreaChart,
                                type: 'logarithmic',
                                position: 'right',
                                ticks: (() => {
                                    let countries = getCardData('timeSeries');
                                    if (!countries[0]) countries = getCardData('name').map(dataFunc)
                                    let range = countries.reduce((memo,countryData) => {
                                        let logRange = utils.dataToLog(countryData);
                                        memo[0] = logRange[0] < memo[0] ? logRange[0] : memo[0]
                                        memo[1] = logRange[1] > memo[1] ? logRange[1] : memo[1]
                                        return memo;
                                    }, [Infinity,0])

                                    return {
                                        reverse: !!customSettings.reverseTicks,
                                        fontColor: "white",
                                        min: neg ? range[0] : (range[0] > 0 ? range[0] : 0),
                                        max: (window.maxRange || range[1]),
                                        maxTicksLimit: 5,
                                        callback: function (value, index, values) {
                                            return value.toLocaleString();
                                        }
                                    };
                                })(),
                            }]
                        }
                        else {
                            yAxes = [{
                                stacked: stackedAreaChart,
                                position: 'right',
                                ticks: (() => {
                                    let asPercent = customSettings.percent
                                    let countries = getCardData('timeSeries');
                                    if (!countries[0]) countries = getCardData('name').map(dataFunc)
                                    let range;
                                    range = countries.reduce((memo,countryData) => {
                                        let tempRange = utils.getHighLow(countryData);
                                        memo[0] = tempRange[0] < memo[0] ? tempRange[0] : memo[0]
                                        memo[1] = tempRange[1] > memo[1] ? tempRange[1] : memo[1]
                                        return memo;
                                    }, [Infinity,0])

                                    if (customSettings.yaxisMinMainOnly) {
                                        let selectedCountry = getCardData().filter(c => c.name === utils.currentRegion)[0] || countries[0]
                                        if (selectedCountry) range[0] = utils.getHighLow(selectedCountry.timeSeries || dataFunc(utils.currentRegion))[0];
                                    }

                                    let output = {
                                        reverse: !!customSettings.reverseTicks,
                                        fontColor: "white",
                                        min: neg ? range[0] : (range[0] > 0 ? range[0] : 0),
                                        callback: function (value, index, values) {
                                            // return value.toLocaleString();
                                            return `${value.toLocaleString()}${asPercent ? "%" : ""}`;
                                        }
                                    };

                                    if (asPercent) {
                                        output.min = customSettings.yaxisMinMainOnly ? range[0] : 0;
                                        output.max = 100;
                                    }
                                    if (window.maxRange) {
                                        // for playing with an idea, not in use
                                        // this would be a way to enable 'zooming' towards top, could do minRange to zoom to bottom.
                                        output.max = window.maxRange;
                                    }


                                    return output
                                })(),
                                gridLines : {
                                    display : true,
                                }
                            }];
                        }
                        return yAxes;
                    },
                    labelsGenerator: () => {
                        let countries = getCardData('name');
                        let output = countries[0] ? Object.keys(dataFunc(countries[0])) : countries;
                        return output;
                    },
                    datasetGenerator: () => {
                        let chartify = card.chart.store.chartifyData;
                        let cardData = customSettings.reverseGraph ? getCardData().reverse() : getCardData();
                        
                        let result = cardData.map((data, index) => {
                            let output = {
                                fill                : stackedAreaChart,
                                label               : data.name,
                                hidden              : !data.show,
                                backgroundColor     : data.color !== "gray" ? data.color : utils.gradient(card),
                                hoverBorderDash     : [10,10],
                                borderDash          : data.highlight && !stackedAreaChart ? [10,10] : [],
                                highlight           : data.highlight,
                                hoverBorderColor    : 'white',
                                borderColor         : data.color !== "gray" ? data.color : utils.gradient(card),
                                pointRadius         : true,
                                data                : chartify(data.timeSeries ? data.timeSeries : dataFunc(data.name)),
                            }
                            return output;
                        });

                        if (customSettings.percent) {
                            let dates = Object.keys(result[0].data)
                            dates.forEach((date, index) => {
                                let dayTotal = result.reduce((memo, dataset) => memo + dataset.data[date], 0);
                                result.forEach(dataset => {
                                    dataset.data[date] = utils.toDecimal(100 - utils.getPercentDifferentPrecise(dataset.data[date], dayTotal))
                                })
                            })
                        }

                        return result;
                    },
                },
                store: {
                    canvas: "",
                    instance: "",
                    node: $(`#${id}`),
                    upsized: false,
                    log: false,
                    getCardData: getCardData,
                    chartifyData: (data) => Object.values(data).map(n => n === 0 ? null : n),
                },
            };
        },
        bar(card) {
            // see bar chart in analysis page for what custom settings are needed
            return this.line(card)
        },
    },
    chartGen(card) {
        const chartType = card.customSettings.chartType || "line"
        return this.chartGenerators[chartType](card)
    }
}








// html tooltip idea, abandoned for not looking as nice and being more bug prone:
                /* tooltips: {
                    enabled: false,
                    mode: 'index',
                    intersect: false,
                    // backgroundColor: '#FFF',
                    titleFontSize: 16,
                    // titleFontColor: '#0066ff',
                    // bodyFontColor: '#000',
                    bodyFontSize: 14,
                    displayColors: true,
                    custom: function(tooltipModel, other) {
                        // Tooltip Element
                        var tooltipEl = document.getElementById('chartjs-tooltip');

                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = 'chartjs-tooltip';
                            tooltipEl.innerHTML = '<table></table>';
                            document.body.appendChild(tooltipEl);
                        }

                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                let both = body[0].split(":");
                                let country = both[0];
                                let num = both[1];
                                body = `${utils.getFlag(country)} ${Number(num).toLocaleString()}`
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        var position = this._chart.canvas.getBoundingClientRect();

                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.backgroundColor = "white"
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + window.pageXOffset + tooltipModel.caretX + 'px';
                        tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.pointerEvents = 'none';
                    }
                }, */