<div id="chart-controller">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card bg-gradient-dark">
                <div class="card-header">
                    <div class="card-tools">
                        <span onclick="buttons.toggle100(this)" data-toggle="tooltip" type="button" title="Jump timeline to first day region reported >100 cases" class="badge">@100</span>
                        <button type="button" class="btn btn-tool bg-primary" data-card-widget="collapse"> <i class="fas fa-minus"></i> </button>
                    </div>                  
                </div>
                <div class="card-body">
                    <div class="row">
                            <div class="col-md-3 col-12" style="padding:0% 1% 1% 1%">
                                <h5 class="d-none d-sm-block">Region:</h5>
                                <div class="row justify-content-center">
                                    <div id="country-selector" class="col-8">
                                        <!-- <select data-placeholder="World" single class="chosen-select">
                                        </select> -->
                                        <select data-placeholder="World" single class="form-control select2">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 col-12">
                                <h5 class="d-none d-sm-block">Timeline:</h5>
                                <div title="hotkeys: try spacebar, and left/right arrow keys (with and without shift)" class="col-sm-12" style="padding:20px">
                                    <input id="range_1" type="text" name="range_1" value="">
                                </div>
                            </div>
                            <div style="padding:2% 0% 0% 2%" class="col-md-4 col-sm-12 col-12">
                                <a id="playbutton" title="Play (spacebar)" onclick="ionSlider.playShow()" class="col-2 col-sm-3 col-md-2 playback-btn btn btn-app">
                                    <i class="fas fa-play"></i> Play
                                </a>
                                <a id="pausebutton" title="Pause (spacebar)" onclick="ionSlider.pauseShow()" class="col-2 col-sm-3 col-md-2 playback-btn btn btn-app">
                                    <i class="fas fa-pause"></i> Stop
                                </a>
                                <a id="backbutton" title="Backward one day (left arrow)" onclick="ionSlider.backShow()" class="col-2 playback-btn btn btn-app">
                                    <i class="fas fa-step-backward"></i> Day
                                </a>
                                <a id="forwardbutton" title="Forward one day (right arrow)" onclick="ionSlider.forwardShow()" class="col-2 playback-btn btn btn-app">
                                    <i class="fas fa-step-forward"></i> Day
                                </a>
                                <div class="form-group">
                                    <label for="customRange1">Speed</label>
                                    <input id="speed" type="range" class="custom-range" id="customRange1" min="50" max="2000" step="50" value="200">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>