<div id="chart-controller" class="card bg-gradient-dark direct-chat direct-chat-primary">
    <div class="card-header" ><!--style="cursor: move;"-->

        <select data-placeholder="World" single class="select2 minimized minimized-toolbar" style="display:none;"></select>
        <button type="button" class="minimized-toolbar btn btn-tool bg-primary" data-toggle="tooltip" title="forward one day" data-widget="chat-pane-toggle" style="display:none;" onclick="ionSlider.backShow()">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button type="button" class="minimized-toolbar btn btn-tool bg-primary" data-toggle="tooltip" title="back one day" data-widget="chat-pane-toggle" style="display:none;" onclick="ionSlider.forwardShow()">
            <i class="fas fa-chevron-right"></i>
        </button>
        <div class="card-tools" style="padding-top:5px">

            
            <button type="button" id='country-select-btn' data-toggle="tooltip" class="btn btn-tool controller-quickclicks always-show-menu d-sm-none" title="countries" onclick="$('#country-select-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-flag"></i>
            </button>
            <button type="button" id='timeline-btn' data-toggle="tooltip" class="btn btn-tool controller-quickclicks always-show-menu bg-secondary" title="timeline" onclick="$('#timeline-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-calendar-alt"></i>
            </button>
            <button type="button" id='filters-btn' data-toggle="tooltip" class="btn btn-tool controller-quickclicks always-show-menu" title="filters" onclick="$('#filters-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-filter"></i>
            </button>
            <% if (!analysis) { %>
            <button type="button" id='defaults-btn' data-toggle="tooltip" class="btn btn-tool controller-quickclicks always-show-menu" title="defaults" onclick="$('#defaults-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-anchor"></i>
            </button>
            <% } %>
            <button type="button" id='secret-options-btn' data-toggle="tooltip" style="padding-right:10px" class="btn btn-tool controller-quickclicks always-show-menu" title="power user tips" onclick="$('#secret-options-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-user-secret"></i>
            </button>

            <button type="button" id='secret-options-btn' data-toggle="tooltip" class="btn btn-tool bg-primary" title="toggle dock mode" onclick="$('#chart-controller').toggleClass('top-mode').toggleClass('chat-mode')">
                <i style="padding-top:5px;" class="fas fa-window-restore"></i>
            </button>
            <button id="show-hide-controls" type="button" class="btn btn-tool bg-primary" title="hide" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button id="show-menu" type="button" class="btn btn-tool bg-primary always-show-menu" data-toggle="tooltip" title="Settings Menu" data-widget="chat-pane-toggle">
                <i class="loading-cog fas fa-spin fa-cogs"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <!-- Conversations are loaded here -->
        <div style="padding: 20px; height: 300px;">
            <div class="row">
                <div id="settings1" class="sub-settings d-sm-block col-sm-6" >
                     <div class="row">
                        <div class="form-group col-11">
                            <% if (!analysis) { %>
                            <label style="margin-bottom:0px; margin-top:1rem;">Add Country</label>
                            <% } else { %>
                            <label style="margin-bottom:0px; margin-top:1rem;">Select Region</label>
                            <% } %>
                            <select data-placeholder="World" single class="controller-region form-control select2"></select>
                            <% if (!analysis) { %>
                            <label style="margin-bottom:0px; margin-top:1rem;">Show Top [<i><span id="format-top-countries"></span></i>] Countries</label>
                            <input class="form-control" value="5" id="compare-num" type="number" name="compare-num" min="1" max="50">
                            <% } %>
                        </div>
                    </div>
                </div>
                <div id="settings2" class="sub-settings col-12 col-sm-6" >
                    <div class="row">
                        <div title="hotkeys: try spacebar, and left/right arrow keys (with and without shift)" class="col-12" style="padding:20px">
                            <input id="range_1" type="text" name="range_1" value="">
                        </div>
                        <a id="playbutton" title="Play (spacebar)" onclick="ionSlider.playShow()" class="col-2 playback-btn btn btn-app">
                            <i class="fas fa-play"></i> Play
                        </a>
                        <a id="pausebutton" title="Pause (spacebar)" onclick="ionSlider.pauseShow()" class="col-2 playback-btn btn btn-app">
                            <i class="fas fa-pause"></i> Pause
                        </a>
                        <a id="backbutton" title="Backward one day (left arrow)" onclick="ionSlider.backShow()" class="col-2 playback-btn btn btn-app">
                            <i class="fas fa-step-backward"></i> Day
                        </a>
                        <a id="forwardbutton" title="Forward one day (right arrow)" onclick="ionSlider.forwardShow()" class="col-2 playback-btn btn btn-app">
                            <i class="fas fa-step-forward"></i> Day
                        </a>
                        <div class="form-group col-12">
                            <label for="customRange1">Speed</label>
                            <input id="speed" type="range" class="custom-range" id="customRange1" min="50" max="2000" step="50" value="800">
                        </div>
                    </div>
                   
                </div>
                <div id="settings3" class="sub-settings col-12 col-sm-6" style="display:none">
                    <h2>Filter Settings</h2>
                    <p style="margin-bottom:0px; margin-top:1rem;">Min Cases (<span id="format-min-cases"></span>) (filtering <span onclick="if (this.getAttribute('title').length) toastr.info(this.getAttribute('title'))" style="text-decoration:underline;" id="format-min-cases-filtered"></span>)</p>
                    <div class="input-group">
                        <span id="span-checkbox-min-cases" style="padding-right:10px; padding-top:5px;">
                            <input id="checkbox-min-cases" type="checkbox" name="my-checkbox" checked data-bootstrap-switch="">
                        </span>
                        <input id="min-cases-num" type="number" class="form-control" value='1000'>
                    </div>
                    <p style="margin-bottom:0px; margin-top:1rem;">Min Population (<span id="format-min-pop"></span>) (filtering <span onclick="if (this.getAttribute('title').length) toastr.info(this.getAttribute('title'))" style="text-decoration:underline;" id="format-min-pop-filtered"></span>)</p>
                    <div class="input-group">
                        <span id="span-checkbox-min-pop" style="padding-right:10px; padding-top:5px;">
                            <input id="checkbox-min-pop" type="checkbox" name="my-checkbox" checked data-bootstrap-switch="">
                        </span>
                        <input id="min-pop-num" type="number" class="form-control" value='1000000'>
                    </div>
                </div>
                <% if (!analysis) { %>
                <div id="settings5" class="sub-settings col-12 col-sm-6" style="display:none">
                    <h2>Defaults</h2>
                    <p style="margin-bottom:0px; margin-top:1rem;">Lock country lists</p>
                    <div class="input-group">
                        <span id="span-checkbox-lockCountries-default" style="padding-right:10px; padding-top:5px;">
                            <input id="checkbox-lockCountries-default" type="checkbox" name="my-checkbox" checked="false" data-bootstrap-switch="">
                        </span>
                    </div>
                    <p style="margin-bottom:0px; margin-top:1rem;">Normalized by population (per mil)</p>
                    <div class="input-group">
                        <span id="span-checkbox-perMil-default" style="padding-right:10px; padding-top:5px;">
                            <input id="checkbox-perMil-default" type="checkbox" name="my-checkbox" checked="false" data-bootstrap-switch="">
                        </span>
                    </div>
                </div>
                <% } %>
                <div id="settings4" class="sub-settings col-12 col-sm-6" style="display:none">
                    <h4>Power Users:</h4>
                    <ul>
                        <% if (!analysis) { %>
                        <li><b>Highlight 1:</b> 🖱️<kbd>left-click</kbd> on a grid row to toggle highlighting that country.</li>
                        <li><b>Show Only 1:</b> <kbd>Shift</kbd>+ 🖱️<kbd>left-click</kbd> on a grid row (<i>or double tap on mobile</i>) to toggle de-selecting all other countries.</li>
                        <li><b>Lock Selection:</b> Use the <i class="fas fa-lock"></i> button to keep the current selected countries in the selected grid/graph before clicking <kbd>per mil</kbd> or adjusting the timeline slider, to track those countries specifically.</li>
                        <li><b>Go Deeper:</b> Dive deeper into any one country with the <button title="detailed analysis of some country"> <i class="nav-icon fas fa-chart-pie"></i> 🇺🇳</button> on the far right column.</li>
                        <li><b>Re-Color:</b> Colors too similar? Change it by clicking the color selector on the right side of the grid for that row.</li>
                        <% } %>
                        <li><b>Hotkeys:</b> Use <kbd>space</kbd>, (<kbd>shift</kbd> +) <kbd>⬅</kbd> & <kbd>➡</kbd> to control timeline playback.</li>
                        <li><b>Performance:</b> Closing or minimizing 'windows' will prevent the accompanying graph+grid from rendering. This can drastically speed up render for graphs you do want to see.
                </div>
                <div id="settings5" class="sub-settings col-12 col-sm-6" style="display:none">
                    
                </div>
            </div>
        </div>
            
            

    <!-- Contacts are loaded here -->
    <div class="direct-chat-contacts">
        <ul class="contacts-list">
            <li id="country-select-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings1').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#country-select-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-flag"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Country Select
                    </span>
                    <span class="contacts-list-msg">Compare selected country, how many countries</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
            <li id="timeline-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings2').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#timeline-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-calendar-alt"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Timeline
                    </span>
                    <span class="contacts-list-msg">Adjust date range, playback controls</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
            <li id="filters-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings3').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#filters-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-filter"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Filters
                    </span>
                    <span class="contacts-list-msg">Minimum cases, minimum population</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
            <% if (!analysis) { %>
            <li id="defaults-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings5').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#defaults-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-anchor"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Defaults
                    </span>
                    <span class="contacts-list-msg">Log, Per Million, Locking</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
            <% } %>
            <li id="secret-options-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings4').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#secret-options-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-user-secret"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Secret Options
                    </span>
                    <span class="contacts-list-msg">p0w3r us3r5 0n1y</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
        </ul>
        <!-- /.contacts-list -->
    </div>
    <!-- /.direct-chat-pane -->
    </div>
    <!-- /.card-body -->
</div>

<div id="chart-controller chat-mode" class="card bg-gradient-dark direct-chat direct-chat-primary">
    <div class="card-header" ><!--style="cursor: move;"-->

        <select data-placeholder="World" single class="select2 minimized minimized-toolbar" style="display:none;"></select>
        <button type="button" class="minimized-toolbar btn btn-tool bg-primary" data-toggle="tooltip" title="forward one day" data-widget="chat-pane-toggle" style="display:none;" onclick="ionSlider.backShow()">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button type="button" class="minimized-toolbar btn btn-tool bg-primary" data-toggle="tooltip" title="back one day" data-widget="chat-pane-toggle" style="display:none;" onclick="ionSlider.forwardShow()">
            <i class="fas fa-chevron-right"></i>
        </button>
        <div class="card-tools" style="padding-top:5px">

            
            <button type="button" id='country-select-btn' data-toggle="tooltip" class="btn btn-tool controller-quickclicks always-show-menu d-sm-none" title="countries" onclick="$('#country-select-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-flag"></i>
            </button>
            <button type="button" id='timeline-btn' data-toggle="tooltip" class="btn btn-tool controller-quickclicks always-show-menu bg-secondary" title="timeline" onclick="$('#timeline-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-calendar-alt"></i>
            </button>
            <button type="button" id='filters-btn' data-toggle="tooltip" class="btn btn-tool controller-quickclicks always-show-menu" title="filters" onclick="$('#filters-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-filter"></i>
            </button>
            <% if (!analysis) { %>
            <button type="button" id='defaults-btn' data-toggle="tooltip" class="btn btn-tool controller-quickclicks always-show-menu" title="defaults" onclick="$('#defaults-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-anchor"></i>
            </button>
            <% } %>
            <button type="button" id='secret-options-btn' data-toggle="tooltip" style="padding-right:10px" class="btn btn-tool controller-quickclicks always-show-menu" title="power user tips" onclick="$('#secret-options-menu').click(); window.allOffButMe(this)">
                <i style="padding-top:5px;" class="fas fa-user-secret"></i>
            </button>

            <button type="button" id='dock-mode' data-toggle="tooltip" class="btn btn-tool bg-primary" title="toggle dock mode" onclick="$('#chart-controller').toggleClass('top-mode').toggleClass('chat-mode')">
                <i style="padding-top:5px;" class="fas fa-window-restore"></i>
            </button>
            <button id="show-hide-controls" type="button" class="btn btn-tool bg-primary" title="hide" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button id="show-menu" type="button" class="btn btn-tool bg-primary always-show-menu" data-toggle="tooltip" title="Settings Menu" data-widget="chat-pane-toggle">
                <i class="loading-cog fas fa-spin fa-cogs"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <!-- Conversations are loaded here -->
        <div style="padding: 20px; height: 300px;">
            <div class="row">
                <div id="settings1" class="sub-settings d-sm-block col-sm-6" >
                     <div class="row">
                        <div class="form-group col-11">
                            <% if (!analysis) { %>
                            <label style="margin-bottom:0px; margin-top:1rem;">Add Country</label>
                            <% } else { %>
                            <label style="margin-bottom:0px; margin-top:1rem;">Select Region</label>
                            <% } %>
                            <select data-placeholder="World" single class="controller-region form-control select2"></select>
                            <% if (!analysis) { %>
                            <label style="margin-bottom:0px; margin-top:1rem;">Show Top [<i><span id="format-top-countries"></span></i>] Countries</label>
                            <input class="form-control" value="5" id="compare-num" type="number" name="compare-num" min="1" max="50">
                            <% } %>
                        </div>
                    </div>
                </div>
                <div id="settings2" class="sub-settings col-12 col-sm-6" >
                    <div class="row">
                        <div title="hotkeys: try spacebar, and left/right arrow keys (with and without shift)" class="col-12" style="padding:20px">
                            <input id="range_1" type="text" name="range_1" value="">
                        </div>
                        <a id="playbutton" title="Play (spacebar)" onclick="ionSlider.playShow()" class="col-2 playback-btn btn btn-app">
                            <i class="fas fa-play"></i> Play
                        </a>
                        <a id="pausebutton" title="Pause (spacebar)" onclick="ionSlider.pauseShow()" class="col-2 playback-btn btn btn-app">
                            <i class="fas fa-pause"></i> Pause
                        </a>
                        <a id="backbutton" title="Backward one day (left arrow)" onclick="ionSlider.backShow()" class="col-2 playback-btn btn btn-app">
                            <i class="fas fa-step-backward"></i> Day
                        </a>
                        <a id="forwardbutton" title="Forward one day (right arrow)" onclick="ionSlider.forwardShow()" class="col-2 playback-btn btn btn-app">
                            <i class="fas fa-step-forward"></i> Day
                        </a>
                        <div class="form-group col-12">
                            <label for="customRange1">Speed</label>
                            <input id="speed" type="range" class="custom-range" id="customRange1" min="50" max="2000" step="50" value="800">
                        </div>
                    </div>
                   
                </div>
                <div id="settings3" class="sub-settings col-12 col-sm-6" style="display:none">
                    <h2>Filter Settings</h2>
                    <p style="margin-bottom:0px; margin-top:1rem;">Min Cases (<span id="format-min-cases"></span>) (filtering <span onclick="if (this.getAttribute('title').length) toastr.info(this.getAttribute('title'))" style="text-decoration:underline;" id="format-min-cases-filtered"></span>)</p>
                    <div class="input-group">
                        <span id="span-checkbox-min-cases" style="padding-right:10px; padding-top:5px;">
                            <input id="checkbox-min-cases" type="checkbox" name="my-checkbox" checked data-bootstrap-switch="">
                        </span>
                        <input id="min-cases-num" type="number" class="form-control" value='1000'>
                    </div>
                    <p style="margin-bottom:0px; margin-top:1rem;">Min Population (<span id="format-min-pop"></span>) (filtering <span onclick="if (this.getAttribute('title').length) toastr.info(this.getAttribute('title'))" style="text-decoration:underline;" id="format-min-pop-filtered"></span>)</p>
                    <div class="input-group">
                        <span id="span-checkbox-min-pop" style="padding-right:10px; padding-top:5px;">
                            <input id="checkbox-min-pop" type="checkbox" name="my-checkbox" checked data-bootstrap-switch="">
                        </span>
                        <input id="min-pop-num" type="number" class="form-control" value='1000000'>
                    </div>
                </div>
                <% if (!analysis) { %>
                <div id="settings5" class="sub-settings col-12 col-sm-6" style="display:none">
                    <h2>Defaults</h2>
                    <p style="margin-bottom:0px; margin-top:1rem;">Lock country lists</p>
                    <div class="input-group">
                        <span id="span-checkbox-lockCountries-default" style="padding-right:10px; padding-top:5px;">
                            <input id="checkbox-lockCountries-default" type="checkbox" name="my-checkbox" checked="false" data-bootstrap-switch="">
                        </span>
                    </div>
                    <p style="margin-bottom:0px; margin-top:1rem;">Normalized by population (per mil)</p>
                    <div class="input-group">
                        <span id="span-checkbox-perMil-default" style="padding-right:10px; padding-top:5px;">
                            <input id="checkbox-perMil-default" type="checkbox" name="my-checkbox" checked="false" data-bootstrap-switch="">
                        </span>
                    </div>
                </div>
                <% } %>
                <div id="settings4" class="sub-settings col-12 col-sm-6" style="display:none">
                    <h4>Power Users:</h4>
                    <ul>
                        <% if (!analysis) { %>
                        <li><b>Highlight 1:</b> 🖱️<kbd>left-click</kbd> on a grid row to toggle highlighting that country.</li>
                        <li><b>Show Only 1:</b> <kbd>Shift</kbd>+ 🖱️<kbd>left-click</kbd> on a grid row (<i>or double tap on mobile</i>) to toggle de-selecting all other countries.</li>
                        <li><b>Lock Selection:</b> Use the <i class="fas fa-lock"></i> button to keep the current selected countries in the selected grid/graph before clicking <kbd>per mil</kbd> or adjusting the timeline slider, to track those countries specifically.</li>
                        <li><b>Go Deeper:</b> Dive deeper into any one country with the <button title="detailed analysis of some country"> <i class="nav-icon fas fa-chart-pie"></i> 🇺🇳</button> on the far right column.</li>
                        <li><b>Re-Color:</b> Colors too similar? Change it by clicking the color selector on the right side of the grid for that row.</li>
                        <% } %>
                        <li><b>Hotkeys:</b> Use <kbd>space</kbd>, (<kbd>shift</kbd> +) <kbd>⬅</kbd> & <kbd>➡</kbd> to control timeline playback.</li>
                        <li><b>Performance:</b> Closing or minimizing 'windows' will prevent the accompanying graph+grid from rendering. This can drastically speed up render for graphs you do want to see.
                </div>
                <div id="settings5" class="sub-settings col-12 col-sm-6" style="display:none">
                    
                </div>
            </div>
        </div>
            
            

    <!-- Contacts are loaded here -->
    <div class="direct-chat-contacts">
        <ul class="contacts-list">
            <li id="country-select-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings1').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#country-select-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-flag"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Country Select
                    </span>
                    <span class="contacts-list-msg">Compare selected country, how many countries</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
            <li id="timeline-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings2').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#timeline-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-calendar-alt"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Timeline
                    </span>
                    <span class="contacts-list-msg">Adjust date range, playback controls</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
            <li id="filters-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings3').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#filters-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-filter"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Filters
                    </span>
                    <span class="contacts-list-msg">Minimum cases, minimum population</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
            <% if (!analysis) { %>
            <li id="defaults-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings5').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#defaults-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-anchor"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Defaults
                    </span>
                    <span class="contacts-list-msg">Log, Per Million, Locking</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
            <% } %>
            <li id="secret-options-menu" onclick="$('.sub-settings').css({display:'none'}); $('#settings4').css({display:'block'}); $('#chart-controller').removeClass('direct-chat-contacts-open'); window.allOffButMe($('#secret-options-btn'))">
                <i style="padding-top:5px;" class="contacts-list-img fas fa-user-secret"></i>
                <a>
                <div class="contacts-list-info">
                    <span class="contacts-list-name">
                    Secret Options
                    </span>
                    <span class="contacts-list-msg">p0w3r us3r5 0n1y</span>
                </div>
                <!-- /.contacts-list-info -->
                </a>
            </li>
            <!-- End Contact Item -->
        </ul>
        <!-- /.contacts-list -->
    </div>
    <!-- /.direct-chat-pane -->
    </div>
    <!-- /.card-body -->
</div>


<script>
    setTimeout(() => {
        window.allOffButMe = function(btn) {
            $('.always-show-menu').each((i, button) => window.buttons.toggle.background(button, false))
            window.buttons.toggle.background(btn, true)
            btn.blur()
        }

        $('.select2.minimized').select2();
        $('.minimized-toolbar').hide();
        $('.select2.minimized + .select2-container').hide()
    }, 1000); // wait for script on bottom of page to load before init

    $(`.nav-item`).click(() => {
        if ($('body').hasClass('sidebar-collapse') &&
        window.innerWidth < 500) {
            $('#chart-controller').CardWidget('collapse');
        }
    });

    $('#show-hide-controls').click(e => {
        if ($('#show-hide-controls .fa-minus').length) localStorage.minimizeController = true
        else localStorage.minimizeController = false
    });

    $('#chart-controller').on('expanded.lte.cardwidget', () => {
        $('.select2.minimized + .select2-container').css('display', 'none');
        $('.minimized-toolbar').hide();
    })
    $('#chart-controller').on('collapsed.lte.cardwidget', () => {
        $('.select2.minimized + .select2-container').css('display', 'inline-block');
        $('.minimized-toolbar').show();
    })

    if (localStorage.minimizeController === "true" && window.innerWidth <= 700) {
        console.log(localStorage.minimizeController)
        $('#chart-controller .card-body').hide();
        setTimeout(() => $('#chart-controller').CardWidget('collapse'), 1000);
    }

    $('.always-show-menu').click(() => {
        if ($('#show-hide-controls').has('.fa-plus').is(':visible')) $('#show-hide-controls').click()
    })


</script>
