<!-- Main content -->
<div class="content">
  <div class="container-fluid">
      <div class="row">
            <div class="col-12">
              <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes --> 
                    <div class="widget-user-header text-white" style="background: url('../dist/img/gravel-go-board-rotated-desat-3.jpg') center center;">
                      <!-- <h3 class="widget-user-username text-right">Kyle Baker</h3>
                      <h5 class="widget-user-desc text-right">Software Engineer</h5> -->
                    </div>
                    <div class="widget-user-image">
                      <img class="img-circle" src="../dist/img/octopus.jpeg" alt="User Avatar">
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <div class="col-sm-4 border-right">
                          <div class="description-block">
                            <h5 class="description-header"><a style="color:#336A85;" href="http://code.kylebaker.io">code</a></h5>
                            <!-- <span class="description-text">CODE</span> -->
                          </div>
                          <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                          <div class="description-block">
                            <h5 class="description-header"><a style="color:#336A85;" href="http://kylebaker.io">kyle baker</a></h5>
                            <!-- <span class="description-text">LIFE</span> -->
                          </div>
                          <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                          <div class="description-block">
                            <h5 class="description-header"><a style="color:#336A85;" href="http://ju.kylebaker.io">bjj+judo</a></h5>
                            <!-- <span class="description-text">BJJ+JUDO</span> -->
                          </div>
                          <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </div>
              </div>
            </div>
            

            
        <div class="col-xl-12">
        <div class="row justify-content-center">




          <div class="col-md-12 col-xl-8">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <img class="img-circle" src="../dist/img/octopus.jpeg" alt="User Image">
                  <span class="username">Kyle Baker</span>
                  <span class="description">Analysis - 1:21PM 5-4-20</span>
                </div>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: block;">
                <h5>Analyzing the data today</h5>
                
                <!-- post text -->
                <p class="card-text">
                  Short version: Globally, the trend is following the US trend of linear, stable growth. South America is start to blow up, with <a href="http://covid.kylebaker.io/analysis/Ecuador?date=2/23/20,5/3/20">Ecuador</a> doing particularly badly. <a href="http://covid.kylebaker.io/analysis/Nigeria?date=2/23/20,5/3/20">Nigeria</a> is seeing an intense outbreak. <a href="http://covid.kylebaker.io/analysis/Russia?date=2/23/20,5/3/20">Russia</a> is in rough shape. 

                  <br/><br/>
                  <b><a href="http://covid.kylebaker.io/analysis/World?date=2/23/20,5/3/20">Global</a></b>
                  <ul>
                    <li>World crosses 3.5 million (confirmed) cases threshold, now in 187 countries. Deaths hit 250,000.</li>
                    <li>Still hovering the relatively stable fuctuation around the new-case rate of 80k~/day or so--today is right in the middle of that average, this trend has been going since April 2nd.</li>
                    <li>Deaths per day is down a bit below its average among the sharp fluctuations around 6k~/day that it has been following since April 2nd, hitting 3400 yesterday. Based purely on how the graphs have looked in the last month, I would expect this number to begin a two or three day rise upward trend starting tomorrow.</li>
                    <li>It's possible that given its steady, linear, non-exponential growth, we're seeing fewer medical system get shocked/overwhelmed, and could begin to start seeing a trend of reduced death/case rate. The trend is minor, but it is there over the last month.</li>
                  </ul>

                  <b><a href="http://covid.kylebaker.io/analysis/USA?date=2/23/20,5/3/20">USA</a></b>
                  <ul>
                    <li>World trends are pretty much mirroring the US, which makes sense given that it is far and away the source of more deaths and new cases per day than anywhere else in the world by a longshot--a fluctuating new-case rate hovering roughly around 30k/day for the last month, and a new deaths per day rate of roughly 1.7k~ for the last month, which is experiencing a downturn the last few days, though one would expect that to rise again in the next few if the trend continues to hold (and, given the steady new case rate, we would expect it to).</li>
                  </ul>

                  <b><a href="http://covid.kylebaker.io/#!cases">New Cases</a></b>
                  <ul>
                    <li>UK continues its rise--on a log scale, it perfectly mirrors the US over the past month. It blew past France a couple days ago, and now looks poised to intersect the line of Italy, which has been flattening out for a while now. I'd expect UK to pass Italy in total cases in about a week based on current trends.</li>
                    <li>Russia's new cases number today puts it essentially second all-time, not counting Ecudaor's accounting-correction spike two weeks ago. It's been on a steady trend upwards, and is second in daily new cases behind the US now.
                    <li>Qatar now tops the graphs in cases-per-million <i>and</i> cases-per-day-per-million. FWIW, population is relatively tiny at 2.6 million.</li>
                    <li>USA, UK, and Ireland are all 3 in the top 15 of new cases per day per million. Belgium and Spain, while having high totals, continue to trend downwards in new cases per day.</li>
                  </ul>

                  <b><a href="http://covid.kylebaker.io/#!deaths">Deaths</a></b>
                  <ul>
                    <li>While Belgium trends dramatically downward in new cases, and new deaths, it is still in 2nd per-million deaths-per-day, and 1st in total deaths per million.</li>
                    <li>The UK makes a strong appearance on these charts sadly as well, showing 4th total deaths per million and 3rd in new deaths per million.</li>
                    <li>USA is steadily trending down a little on these charts, at 9th total, 10th daily deaths-per-million.</li>
                  </ul>

                  <b><a href="http://covid.kylebaker.io/#!casegrowth">New Cases</a></b>
                  <ul>
                    <li>Nigeria tops the growth rate chart--though having only a couple thousand cases, it has seen a steady, dramatic doubling over the last week, and has been on a straight trajectory now for a couple weeks in this direction. In spite of that, a week ago, <a href="https://www.npr.org/sections/coronavirus-live-updates/2020/04/28/846922678/nigerias-president-eases-covid-19-restrictions-citing-economic-hardship">they began easing their lockdowns</a> It's currently exploding in a very poor region where many people <a href="https://www.hrw.org/news/2020/05/04/fears-covid-19-outbreak-nigerias-kano-state">don't even believe it's real.</a> As an American, sounds familiar, unfortunately...</li>                    
                    <li>Russia's growth has slowed down a bit from last week, but it's still near the top of the charts. Their total cases number grew 67% over the last week. Better than the 89% the week before, but still among the worst.</li>
                    <li>Peru, Afghanistan, Bolivia, Brazil, and Bangladesh are all countries seeing doubling-in-less-than-two-weeks rates of growth in their total cases right now.</li>
                  </ul>

                  <b><a href="http://covid.kylebaker.io/#!deathgrowth">New Deaths</a></b>
                  <ul>
                    <li>Ecuador continues its <a href="https://www.wlrn.org/post/expats-ecuadors-covid-19-meltdown-warning-americans-too">horrific trend</a>. Deaths today are approaching well over 2x the number reported a week ago. No country has seen growth rates this high among its death-count for the last few weeks--since Russia, April 21.</li>
                    <li>Russia is in 3rd on this list. Peru is on 2nd. Brazil is in 4th. So, Russia is not doing well, as we've seen on other charts, and South America is doing really bad overall. (Mexico is also in the top 10 here.)</li>
                    <li>Next tier is Pakistan and India.</li>
                    <li>Canada, UK, Egypt, Japan</li>
                    <li>USA and Sweden are at the bottom of the top 15.</li>
                  </ul>

                  <b>Site updates:</b>
                  <ul>
                    <li><b>Minor Graph Updates</b>: Growth rate graphs have more inuitive defaults, and each get their own page. Toggling the grid show/hide will allow expanding the graph. Performance should be significantly higher, and closing one of the two graphs on a page will prevent unnecesary data processing from going on in the background.</li>
                    <li><b>Analysis</b>: Analysis page has an improved control menu, allowing for much more natural use on mobile.</li>
                    <li><b>Forward/Backward</b>: Buttons for moving one day at a time forward and backward.</li>
                    <li><b>Covid Simluator</b>: Wanna do serious analysis? Try out the Covid Simluator, in the sidebar. Input your assumptions, see predictions. It's a serious tool that is a bit overwhelming for a lay person, but it's high quality stuff.</li>
                    <li><b>Icons</b>: Icons everywhere should be more intuitive, giving easy visual anchors to help navigate around the site.</li>
                  </ul>
                </p>

                <div class="attachment-block">
                    <!-- video width="240" height="180" controls>
                      <source src="../dist/vid/dashv2.webm" type="video/webm">
                      Your browser does not support the video tag.
                      <img class="attachment-img" src="http://covid.kylebaker.io/dist/img/corona-dash-dark.jpeg" alt="Attachment Image">
                    </video> -->
                  <!-- /.attachment-pushed -->
                </div>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>



          <div class="col-md-12 col-xl-8">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <img class="img-circle" src="../dist/img/octopus.jpeg" alt="User Image">
                  <span class="username">Kyle Baker</span>
                  <span class="description">Update - 10:36AM 5-1-20</span>
                </div>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: block;">
                <h5>Dash Page V2 complete</h5>
                What else to do when locked in? I found myself using the data here to get real insights, like noticing that the UK and the US are experiencing almost exactly the same growth rate curve, or seeing how Sweden really does compare to other countries. (Not good--per million, 8th in total deaths, and was 4th in new deaths yesterday. Guess those memes pointing to Sweden haven't aged well...)
                <!-- post text -->
                <p class="card-text">
                  <ul>
                    <li><b>Growth Rate Graphs</b>: Track rate-of-change over time.</li>
                    <li><b>Organized</b>: Now focus on two graphs at a time by category, enabling higher performance usage and a less overwhelming display.</li>
                    <li><b>Mobile Control Refactor</b>: Controls are now available wherever you are on the page in all interfaces (especially nice in mobile).</li>
                    <li><b>Not Just 5</b>: Select the number of countries you are interested in viewing--from 0 to 100+. (Keep in mind, your computer might start to choke if you put too many and try the playback feature!)</li>
                    <li><b>Enable/Disable Single Countries</b>: Individual countries can now be turned on/off with color-coded toggle switches. Try double tapping (or shift-clicking) a row to toggle disabling all except for selected row.</li>
                    <li><b>Color Changing</b>: Click a row to toggle highlighting that row into white. Don't like it's main color? Click the 'color' button to have it randomly re-assigned.</li>
                    <li><b>Improved Animations</b>: Individual lines within graphs now animate from their own old state into their own new state, instead of merging and morphing into each other at times, allowing for more meaningful changes from one state to the next. Highlighting also now calls a line to be above all other lines on a chart, making it much easier to see when crowded or on a small screen.</li>
                    <li><b>Speed</b>: Closing or minimizing a card on a page will prevent updates to that card in the background, reducing heavy data processing load in half for dash pages. Useful if you want to put 50 countries on a grid and watch it play back.</li>
                  </ul>

                  Those growth rate charts were surprisingly difficult to write. Filtering out the infinite-and-astronomical increases in the early stages, trimming multiple datasets to custom ranges accordingly, normalizing them to be handled by Chart.js nicely, handling inconsistent numbers of countries, fixing animation issues resulting from wildly changing countrysets, and just nailing the underlying data function... Just when I thought it was smooth sailing, I ended up filling up two whole days writing those out and refactoring code arround it.
                  <br/>
                  <br/>
                  I think the interfaces with the grid--the on/off switches (also more work than I anticipated), shift-click/double-tap functionality, color changing stuff is some of the coolest stuff. Ironically, adjusting the controls to the new mobile-friendly style interface only took a few hours to implement.
                </p>

                <div class="attachment-block">
                    <video width="240" height="180" controls>
                      <source src="../dist/vid/dashv2.webm" type="video/webm">
                      Your browser does not support the video tag.
                      <img class="attachment-img" src="http://covid.kylebaker.io/dist/img/corona-dash-dark.jpeg" alt="Attachment Image">
                    </video>
                  <!-- /.attachment-pushed -->
                </div>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-md-12 col-xl-8">
              <!-- Box Comment -->
              <div class="card card-widget">
                <div class="card-header">
                  <div class="user-block">
                    <img class="img-circle" src="../dist/img/octopus.jpeg" alt="User Image">
                    <span class="username">Kyle Baker</span>
                    <span class="description">Update - 8:00AM 4-24-20</span>
                  </div>
                  <!-- /.user-block -->
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="display: block;">
                  <!-- post text -->
                  <h5>Dash Page V1 complete</h5>
                  This was the real thing I had envisioned when I started this project. Basic functionality is there, and it's ready to be built on.
                  <p class="card-text">
                    <ul>
                      <li><b>Add a reference country</b>: add any country to the graph to compare with the top 5.</li>
                      <li><b>Minimum Cases filter</b>: Select the minimum number of cases you want--helpful when scaling at per million</li>
                      <li><b>per million button</b>: select 'per million' on the dash page cards to view data through a different lens.</li>
                      <li><b>lock button</b>: useful when watching the charts evolve over time, if you want to watch the current selected countries and not have them replaced by the top 5 at other points in time.</li>
                      <li><b>Hover Highlight / Checkbox Hide</b>: hovering over rows in the grid will highlight that country's line in the graph.</li>
                      <li><b>Analysis page animations improved</b>: The analysis page now feels buttery smooth. Try it out!</li>
                    </ul>
                  </p>

                  <div class="attachment-block">
                      <video width="240" height="180" controls>
                        <source src="../dist/vid/dashv1.webm" type="video/webm">
                        Your browser does not support the video tag.
                        <img class="attachment-img" src="http://covid.kylebaker.io/dist/img/corona-dash-dark.jpeg" alt="Attachment Image">
                      </video>
                    <!-- /.attachment-pushed -->
                  </div>

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

            </div>
          <!-- /.col -->


          <div class="col-md-12 col-xl-8">
              <!-- Box Comment -->
              <div class="card card-widget">
                  <div class="card-header">
                    <div class="user-block">
                      <img class="img-circle" src="../dist/img/octopus.jpeg" alt="User Image">
                      <span class="username">Kyle Baker</span>
                      <span class="description">Update - 6:00AM 4-22-20</span>
                    </div>
                    <!-- /.user-block -->
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                      </button>
                    </div>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="display: block;">
                    <!-- post text -->
                    <h5>Major Analysis Page Improvements</h5>
                    <p class="card-text">
                      <ul>
                        <li><b>Dynamic URLs</b>: now you can share your url at any time and it will go <a href="/analysis/USA?date=2/17/20,2/24/20">to the exact country and date that you have in mind</a>. Noet that you can also <a href="/analysis/USA">just use the country as well</a>. If you have the last date selected, it will just forward you to the last date when you use the URL.</li>
                        <li><b>Better hover tags</b> on graphs and charts: now the hover popup comes up easily, is formatted better, and has more useful information</li>
                        <li><b>% button</b>: the stacked bar chart now has a "%" button that lets you analyze how percent of cases are in what state any given day. I haven't seen this feature elsewhere.</li>
                        <li><b>act button</b>: the active button for the stacked bar chart and pie chart lets you add/remove active cases, so you can compare recovery rate.</li>
                        <li><b>External link</b>: Check our some other resources I have found worth seeing.</li>
                      </ul>
                    </p>
                    <!-- <p>Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts. Separated they live in Bookmarksgrove right at</p>

                    <p>the coast of the Semantics, a large language ocean.
                      A small river named Duden flows by their place and supplies
                      it with the necessary regelialia. It is a paradisematic
                      country, in which roasted parts of sentences fly into
                      your mouth.</p> -->

                    <!-- Attachment -->
                    <div class="attachment-block clearfix">
                      <img class="attachment-img" src="http://covid.kylebaker.io/dist/img/corona-dash-dark.jpeg" alt="Attachment Image">

                      <div class="attachment-pushed">
                        <h4 class="attachment-heading"><a href="/analysis">Deep Country Analysis</a></h4>

                        <div class="attachment-text">
                          <!-- Link <a href="/analysis">here</a> -->
                        </div>
                        <!-- /.attachment-text -->
                      </div>
                      <!-- /.attachment-pushed -->
                    </div>

                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
          <!-- /.col (Card wrapper) -->

        </div> <!-- post container row -->
        </div>

      
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
