<section class="content">
    <div class="container-fluid">
        <h5 class="mt-4 mb-2"><span class="today-date"></span></h5>
        
        <div class="row infobox-container"></div>

        <%# include(`./sub-partial/html/controller-analysis`, data) %>
        <%- include(`./sub-partial/html/controller`, {analysis: true}) %>
        <br/>

        <div id="rank-grid-container" class="row"> </div>

        <div class="row" id="sortable"></div>
    </div>
</section>
