<section class="content">
    <div class="container-fluid">

        <%- include(`./sub-partial/html/controller`, {analysis: false}) %>
        
        <div class="row" id="sortable">
        </div>

        <!-- see utils.ejs for template that generates cards, and controller.ejs for controller template -->

    </div>
</section>
