<section class="content">
    <div class="container-fluid">

        <div class="row" id="sortable">
        </div>

        <!-- see utils.ejs for template that generates cards, and controller.ejs for controller template -->

        <%- include(`./sub-partial/html/controller`, data) %>
    </div>
</section>
