<%- include("_partials/base", {
    page:"analysis",
    combo:["ionrangeslider"],
    scripts: ["analysis"],
    head: [],
    plugins: {
        scripts:[
            'select2/js/select2.min.js',
            'toastr/toastr.min.js',
            'chart.js/Chart.min.js',
            'bootstrap-switch/js/bootstrap-switch.min.js',
            'jquery-ui/jquery-ui.min.js',
            'jsgrid/jsgrid.min.js',
        ],
        head:[
            'select2/css/select2.min.css',
            'select2-bootstrap4-theme/select2-bootstrap4.min.css',
            'toastr/toastr.min.css',
            'jquery-ui/jquery-ui.min.css',
            'bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css',
            'jsgrid/jsgrid.min.css',
            'jsgrid/jsgrid-theme.min.css',            
        ],        
    },
    url:{
        scripts:[
        ],
        head:[
        ],
    },
    pageName:"Analysis",
}) %>
