<%- include("_partials/base", {
    page:"compare",
    combo: ['ionrangeslider'],
    scripts:["compare"],
    head:[],
    plugins:{
        scripts:[
            'select2/js/select2.full.min.js',
            'toastr/toastr.min.js',
            'bootstrap-switch/js/bootstrap-switch.min.js',
            'chart.js/Chart.min.js',
            'jsgrid/jsgrid.min.js',
        ],
        head:[
            'select2/css/select2.min.css',
            'select2-bootstrap4-theme/select2-bootstrap4.min.css',
            'toastr/toastr.min.css',
            'bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css',
            'jsgrid/jsgrid.min.css',
            'jsgrid/jsgrid-theme.min.css',
        ],
    },
    url:{
        scripts:[
        ],
        head:[
        ],
    },
    pageName:"Compare",
}) %>
