<%- include("_partials/base", {
    page:"global-overview",
    combo: ['ionrangeslider'],
    scripts:["global-overview"],
    head:["chosen"],
    plugins:{
        scripts:[
            'toastr/toastr.min.js',
            'bootstrap-switch/js/bootstrap-switch.min.js',
            'chart.js/Chart.min.js',
            'jsgrid/jsgrid.min.js',
        ],
        head:[
            'toastr/toastr.min.css',
            'bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css',
            'jsgrid/jsgrid.min.css',
            'jsgrid/jsgrid-theme.min.css',
        ],
    },
    url:{
        scripts:[
            "https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js",
        ],
        head:[
        ],
    },
    pageName:"Global Overview",
}) %>
