<%- include("_partials/base", {
    page: "maintablepage",
    scripts: ["maintablepage"],
    head:[],
    combo:[],
    plugins: {
        scripts:['jsgrid/jsgrid.min.js'],
        head:['jsgrid/jsgrid-theme.min.css'],
    },
    url: {
        scripts:[],
        head:[],
    },
    data,
    pageName:"World Table"
}) %>
