<!-- page script -->
<script>
    $(function (
        $,
        ) {
        allData=(<%- JSON.stringify(data) -%>)
        // if (false) {
        //     // this artificially shortens the data to an old date for running tests
        //     console.error("running test, truncating all data")
        //     Object.keys(allData).forEach(region => {
        //         Object.keys(allData[region]).forEach(subset => {
        //             Object.keys(allData[region][subset]).forEach((date,i) => {
        //                 if (i > 60) delete allData[region][subset][date]
        //             })
        //         })
        //     })
        // }
        utils=<%- include(`../fragments/utils.ejs`) -%>
        ionSlider=<%- include(`../fragments/ionrangeslider.ejs`) -%>
        gridUtils=<%- include(`../fragments/jsgrid-utils.ejs`) -%>

        window.utils = utils;
        utils.grid = gridUtils;
        window.allData = allData
        utils.currentRegion = `<%- region %>` || utils.currentRegion;

        //
        // activate country selector
        //

        if (!allData[utils.currentRegion]) {
            utils.currentRegion = altNames[utils.currentRegion];
        }
        if (!Object.keys(allData).includes(utils.currentRegion)) {
            // could add fuzzy search:
            // https://fusejs.io/examples.html#search-string-array
            toastr.info("no such region: "+ utils.currentRegion)
            utils.currentRegion = "World";
        }

        const runGraphs = async function(cardIndex) {
            await utils.toggleSpinner(true);

            $(`.info-box`).css("transition-duration", `${utils.ionSlider.getPlaybackSpeed() / 1000}s`);
            boxFunctions.forEach(setBox);

            utils.grid.updateCardGrid({
                customFields: rankCols,
                genCardData: genAllRanks,
                gridId: `ranks-grid`,
            });
            setGridExplainer();

            $('.today-date').html(utils.getLastDate());
            
            let newCard = false;
            activeCards.forEach((card, index) => {
                if (card.init) {
                    card.chart.update();
                }
                else {
                    newCard = true;
                    card.index = index;
                    card.chartId = "chart" + index;
                    card.lockCountries = !!card.lockCountries;
                    card.highlightCountry = "";
                    card.perMil = false;

                    $('#sortable').append(utils.analysisGraphTemplate(card));

                    card.chart = utils.chartGen(card);
                    card.chart.init();
                    card.init = true;
                    
                    $(`.toggle-active-${card.index}`).click(function(){
                        let cardIndex = $(this).attr('data-card-index');
                        if (activeCards[cardIndex]) {
                            delete activeCards[cardIndex]
                        }
                        else {
                            activeCards[cardIndex] = allCards[cardIndex]
                        }
                    })
                }
                utils.toggleSpinner(false);
            });
            if (newCard) {
                utils.initSlideIn();
            }

            // display filtered countries in separate grid.
            // utils.grid.initFilteredGrid(
            //     utils.minCasesFiltered,
            //     utils.minPopFiltered
            // )
        };
        utils.attemptDataUpdate(runGraphs);

        let rankGridPerMil = false
        let rankGridDoubleRate = false;
        let gridExplainTextDict = {
            normal: 'Ranks + raw values for each category for this country',
            doubling: 'Ranks + doubling rate for each value (how many days it takes the value to double, as indicated by averaging values over last week)',
            perMil: 'Ranks + normalized values (per million citizens)'
        }
        setGridExplainer = () => {
            let currentText;
            if (rankGridDoubleRate) {
                currentText = gridExplainTextDict.doubling
            }
            else if (rankGridPerMil) {
                currentText = gridExplainTextDict.perMil
            }
            else {
                currentText = gridExplainTextDict.normal
            }
            $("p#grid-explain-text").html(currentText)
        }
        const rankCols = [
            {
                // values injected later
                rankBy: false,
                name: "-",
                width: 70,
                itemTemplate: (v,i) => `<b>${v}</b>`,
                func() {},
            },
            {
                rankBy: true,
                name: "Population",
                width: 145,
                get reverseSort() {
                    return false;
                },
                itemTemplate: (v,i) => {
                    return (v !== 0 && v !== undefined) ? v.toLocaleString() : '?'
                },
                func(country) {
                    let pop = utils.getPopulation(country);
                    return (pop === Infinity ? 0 : pop);
                }
            },
            {
                rankBy: true,
                name: "Total Cases",
                timeSeries: true,
                get reverseSort() {
                    return rankGridDoubleRate;
                },
                itemTemplate: function(v,i) {
                    if (v === undefined) console.log('total cases rank grid', v, i) // has been undefined sometimes...?
                    return  `<a href='/compare/#!${rankGridDoubleRate ? 'casegrowth' : 'cases'}'>${v.toLocaleString()}</a>`
                },
                func(country) {
                    // this.reverseSort = rankGridDoubleRate
                    return rankGridDoubleRate ? utils.getDoublingRate(allData[country].Confirmed)
                    : utils.getSelectedData("Confirmed", country, rankGridPerMil);
                },
            },
            {
                rankBy: true,
                name: "Cases/day",
                timeSeries: true,
                get reverseSort() {
                    return rankGridDoubleRate;
                },
                itemTemplate: function(v,i) {
                    return  `<a href='/compare/#!${rankGridDoubleRate ? 'casegrowth' : 'cases'}'>${v.toLocaleString()}</a>`
                },
                func(country) {
                    // this.reverseSort = rankGridDoubleRate;
                    return rankGridDoubleRate ? utils.getDoublingRate(utils.getNew(utils.getSelectedData("Confirmed", country, false)))
                    : utils.getNew(utils.getSelectedData("Confirmed", country, rankGridPerMil))
                },
            },
            {
                rankBy: true,
                name: "Total Deaths",
                timeSeries: true,
                get reverseSort() {
                    return rankGridDoubleRate;
                },
                itemTemplate: function(v,i) {
                    return  `<a href='/compare/#!${rankGridDoubleRate ? 'deathgrowth' : 'deaths'}'>${v.toLocaleString()}</a>`
                },
                func(country) {
                    // this.reverseSort = rankGridDoubleRate
                    return rankGridDoubleRate ? utils.getDoublingRate(allData[country].Deaths)
                    : utils.getSelectedData("Deaths", country, rankGridPerMil);
                },
            },
            {
                rankBy: true,
                name: "Deaths/day",
                timeSeries: true,
                width: 98,
                get reverseSort() {
                    return rankGridDoubleRate;
                },
                itemTemplate: function(v,i) {
                    return  `<a href='/compare/#!${rankGridDoubleRate ? 'deathgrowth' : 'deaths'}'>${v.toLocaleString()}</a>`
                },
                func(country) {
                    let perMil = (rankGridPerMil && rankGridDoubleRate) || rankGridPerMil;
                    let result = utils.getNew(utils.getSelectedData("Deaths", country, perMil));
                    return rankGridDoubleRate ? utils.getDoublingRate(result) : result;
                },
            },
            {
                rankBy: true,
                name: "Active Cases",
                timeSeries: true,
                itemTemplate: function(v,i) {
                    return !this.valid(this.currentRegion) ?
                                `<a onclick='toastr.info("No reliable recovery data is available for ${utils.currentRegion} for this date")' style='text-decoration:underline' title='no data'>?*</a>`: 
                            (v !== 0 && v !== undefined) ? 
                                `<a href='/compare/#!${rankGridDoubleRate ? 'casegrowth' : 'cases'}'>${v.toLocaleString()}</a>` : 
                            '?' // we probably don't hit this anymore, covered by new first conditional...
                },
                get reverseSort() {
                    return rankGridDoubleRate;
                },
                valid: utils.hasValidRecoveryData,
                func(country) {
                    // this.reverseSort = rankGridDoubleRate; // this should actually be done as a getter
                    
                    let result = utils.getActiveCountry(country, rankGridPerMil);
                    // if (country === "USA") console.log('activecases func', result);
                    return rankGridDoubleRate ? utils.getDoublingRate(result) : result;
                },
            },
            {
                rankBy: true,
                name: "Recovery Rate",
                itemTemplate: function(v,i) {
                    return  !this.valid(utils.currentRegion) ?
                                `<a onclick='toastr.info("No reliable recovery data is available for ${utils.currentRegion} for this date")' style='text-decoration:underline' title='no data'>?*</a>` : 
                            `<a href='/compare/#!recovery'>
                             ${typeof v === "number" || !isNaN(Number(v)) ? 
                                Number(v).toLocaleString()+'%' : 
                            v}</a>`;
                },
                timeSeries: false,
                valid: utils.hasValidRecoveryData,
                get reverseSort() {
                    return false;
                },
                func(country) {
                    let result = utils.recoveryRate(country);
                    return result;
                },
            },
        ];

        const genAllRanks = function() {
            let fromCountries = Object.keys(allData)
            .map(name => ({ name }))
            if (utils.currentRegion !== "World") {
                // we don't want 'world' being ranked, unless we're explicitly viewing world stats
                fromCountries = fromCountries.filter(region => (region.name !== "World"))
            }

            const options = {
                fromCountries: utils.clone(fromCountries),
            };

            if ($('#checkbox-min-pop').is(":checked")){
                utils.minPopFiltered = []; // clear array before refilling
                options.fromCountries = options.fromCountries.filter(country => utils.minPopFilter(country.name, [utils.currentRegion]))
                utils.setPopFiltered();
            }
            if ($('#checkbox-min-cases').is(":checked")) {
                utils.minCasesFiltered = []; // clear array before refilling
                options.fromCountries = options.fromCountries.filter(country => utils.minCasesFilter(country.name, [utils.currentRegion]))
                utils.setCasesFiltered();
            }

            let optionsClone = () => utils.clone(options);

            let output = rankCols.map(customField => {
                const options = optionsClone();
                options.customFields = [customField];

                let thisColRanked = utils.genRankedList(options)
                let filtered = thisColRanked.filter(country => country.name === utils.currentRegion)[0]
                // console.log(`${customField.name}`, filtered)
                return filtered;
            })
            .reduce((memo, rankObj, i, a) => {
                if (rankObj.rankBy === undefined) return memo;
                memo[0][rankObj.rankBy] = `#`+rankObj.rank;
                memo[1][rankObj.rankBy] = (typeof rankObj[rankObj.rankBy] === "number" ? rankObj[rankObj.rankBy].toLocaleString() : "");
                return memo;
            },[
                {
                    "-": "Rank"
                },
                {
                    "-": "Value"
                }
            ]);

            // console.log(output)
            return output;
        }

        utils.addBreadcrumb(utils.currentRegion, 2, true);
        // utils.initChosen(true, runGraphs);
        utils.initSelect2(true, runGraphs);
        ionSlider.initSlider("#range_1", runGraphs, true, false, utils.getURLparams());

         $("#sortable").sortable(/* {
             connectWith: "#sortable"
         } */);

        /* set the box info on top */
        let numToArrowPercent = function(num) {
            let arrow = '⬆';
            if (num < 0) {
                arrow = '⬇';
                num = num * -1;
            }
            return `${arrow}${utils.infOrNaN(num)}%`;
        };
        let numToColorNum = function(num) {
            output = num > 100 ? 100 : num;
            output = output < 0 ? 0 : output;
            return output;
        };
        const boxFunctions = [
            {
                line1: () => `Total Cases`,
                // idCache: {}, // added dynamically
                id: () => 'total', // total confirmed cases
                line2: () => utils.getSelectedData("Confirmed")[utils.getLastDate()].toLocaleString(),
                bar: () => 100,
                line3: () => `${utils.getNumFromDaysPast(utils.getSelectedData("Confirmed"), 7).toLocaleString()} 7 days ago`,
                line3() {
                    let wk1Ago = utils.getNumFromDaysPast(utils.getSelectedData("Confirmed"), 7);
                    let wk0Ago = utils.getSelectedData("Confirmed")[utils.getLastDate()];
                    let num = utils.getPercentChange(
                        wk0Ago,
                        wk1Ago,
                    );
                    return wk1Ago ? `${numToArrowPercent(num)}` + (` vs wk prior: ${wk1Ago.toLocaleString()}`) : '(no data)';
                },
                // color: () => "blue",
                background: () => 0, // could use percentile/rank for per-mil to colorize this
                hover: () => `How many cases have been confirmed through positive tests`,
                logo: () => `far fa-calendar-alt`,
            },
            {
                line1: () => `New Cases`,
                // idCache: {}, // added dynamically
                id: () => 'cases', // new cases
                line2() { return utils.getNew(utils.getSelectedData("Confirmed"))[utils.getLastDate()].toLocaleString()},
                bar: () => 100,
                line3() {
                    let day1Ago = utils.getNew(utils.getSelectedData("Confirmed"))[utils.getDatefromDaysAgoFromSlider(1)];
                    let day0Ago = utils.getNew(utils.getSelectedData("Confirmed"))[utils.getLastDate()];
                    let num = utils.getPercentChange(
                        day0Ago,
                        day1Ago,
                    );
                    return day1Ago ? `${numToArrowPercent(num)}` + (` vs day prior: ${day1Ago.toLocaleString()}`) : '(no data)';
                },
                // color: () =>  utils.getNew(utils.getSelectedData("Confirmed"))[utils.getDatefromDaysAgoFromSlider(2)] > utils.getNew(utils.getSelectedData("Confirmed"))[utils.getLastDate()] ? "green" : "yellow",
                background: () => {
                    let output = (utils.getPercentDifferent(
                        utils.getNew(utils.getSelectedData("Confirmed"))[utils.getDatefromDaysAgoFromSlider(1)],
                        utils.getNew(utils.getSelectedData("Confirmed"))[utils.getLastDate()]
                    ));

                    // a decrease of 50% or more in a week is best color
                    // an increase of 50% or more in a week is worst color
                    output = 
                        output > 50 ? 100
                        : output < -50 ? 0 
                        : output + 50;

                    // if new cases are less than 100, we just color it best color
                    output = utils.getNew(utils.getSelectedData("Confirmed"))[utils.getLastDate()] < 100 ? 0 : output;
                    return output;
                },
                hover: () => `How many new cases confirmed on last finished day of reporting`,
                logo: () => `fas fa-calendar-plus`,
            },
            {
                line1: () => `Active Cases`,
                // idCache: {}, // added dynamically
                id: () => 'trend', // active cases increase rate
                line2: () => {
                    // let num = utils.caseIncreaseRate(7,0,utils.getActive());
                    let num = utils.regionActiveToday().toLocaleString()
                    return !utils.hasValidRecoveryData() ? `n/a` : `${num} `
                },
                bar: () => utils.caseIncreaseRate(7,0,utils.getActive()),
                line3: () => {
                    let pct = utils.caseIncreaseRate(7,0,utils.getActive());
                    let num = utils.regionActiveToday(7);
                    return !utils.hasValidRecoveryData() ? `<a title="${utils.currentRegion} does not provide recovery stats for this date">(no data for ${utils.currentRegion})</a>` : `${numToArrowPercent(pct)} vs. ${num.toLocaleString()} 7 days ago`
                },
                // color: () => {
                    // return utils.caseIncreaseRate(7,0,utils.getActive()) > utils.caseIncreaseRate(7,7,utils.getActive()) ? "yellow" : "green";
                // },
                background: () => {
                    return !utils.hasValidRecoveryData() ? null : numToColorNum(utils.caseIncreaseRate(7,0,utils.getActive()))
                },
                hover: () => `Ongoing cases, those who have been confirmed positive but have not died and not recovered`,
                logo: () => `ion ion-stats-bars`,
            },
            {
                line1: () => `Recover | Die`,
                // idCache: {}, // added dynamically
                id: () => 'recovered', // percent of closed cases recovered
                line2: () => {
                    let recovered = utils.getSelectedData("Recovered")[utils.getLastDate()]
                    return `${recovered ? recovered.toLocaleString() : "?"}|${utils.getSelectedData("Deaths")[utils.getLastDate()].toLocaleString()}`
                },
                bar: () => utils.recoveryRate(),
                line3: () => {
                    let recovery = utils.recoveryRate();
                    let output = !utils.hasValidRecoveryData() ? 
                    `<a title="${utils.currentRegion} does not provide recovery stats for this date">(no data for ${utils.currentRegion})</a>`
                    : `${utils.infOrNaN(recovery)}% recover, ${utils.infOrNaN(100 - recovery)}% die`;
                    return output
                },
                // color: () => utils.recoveryRate() > utils.recoveryRate('World') ? 'green' : 'yellow',
                background: () => { // should be based on rank percentile
                    let num = utils.recoveryRate();
                    num = 
                        num === 90 ? 
                            50 : 
                        num > 90 ? 
                            50 + ((num-90)*5) 
                    : num*.5;
                    return !utils.hasValidRecoveryData() ? null : 100-num;
                },
                hover: () => `Percent of people who were infected and then died vs. infected and then lived; does not include ongoing cases`,
                logo: () => `fas fa-user-plus`,
            },
        ];

        // const genBackground = (red=0,blue=100) => `linear-gradient(to right, rgba(112,49,16,0.8) ${red}%, rgba(30,95,165,0.8) ${blue}%) !important`
        const setBox = function(oneBox) {
            let {
                background,
                line1,
                id,
                line2,
                bar,
                line3,
                color,
                hover,
                logo, // not implemented
            } = oneBox;

            if (!oneBox.hasOwnProperty('idCache')) {
                oneBox.idCache = {}
                oneBox.idCache.elBack = $(`#${id()}-color`);
                oneBox.idCache.elBar = $(`#${id()}-bar`);
                oneBox.idCache.elLine1 = $(`#${id()}-line1`);
                oneBox.idCache.elLine2 = $(`#${id()}-num`);
                oneBox.idCache.elLine3 = $(`#${id()}-desc`);
            }

            let elBack = oneBox.idCache.elBack,
            elBar = oneBox.idCache.elBar,
            elLine1 = oneBox.idCache.elLine1,
            elLine2 = oneBox.idCache.elLine2,
            elLine3 = oneBox.idCache.elLine3

            background = background();
            if (background === null) {
                elBack.css("background", `inherit`);
                elBack.css("background-color", `gray`);
            } else {
                if (elBack.css("background").includes("none")) {
                    // note, this conditional is kind of weak... could create problems if CSS is tinkered with.
                    // if you have problems with gray backgrounds getting stuck, improve this conditional
                    elBack.css("background", backgroundCache);
                }
                elBack.css("background-position", `51% ${background}%`);
            }
            elLine1.html(line1())
            elBack.attr('title', hover())
            elLine2.html(line2())
            elBar.css({width: `${bar()}%`})
            elLine3.html(line3())
        };

        window.buttons = {
            toggle: {
                // this is newer paradigm that I haven't backported yet here; should
                // either be fully upgraded, or--better--moved to utils,
                // but doing this for now to get controller working
                background(btn, force) {
                    // console.log("toggling", btn, force)
                    if (!$(btn).length) {
                        return
                    }
                    if (($(btn).hasClass('bg-secondary')  && force !== true) || force === false) {
                        $(btn).removeClass('bg-secondary');
                    }
                    else if (!$(btn).hasClass('bg-secondary')) {
                        $(btn).addClass('bg-secondary');
                    }
                },
            },
            upsizeCanvas(cardIndex) {
                if (!activeCards[cardIndex].chart.store.upsized) {
                    let newHeight = innerHeight - 100;
                    if (newHeight > innerWidth) newHeight = innerWidth * .9;
                    $(`#${activeCards[cardIndex].chartId}`).css({height:newHeight})
                    activeCards[cardIndex].chart.store.upsized = true;
                }
                else {
                    $(`#${activeCards[cardIndex].chartId}`).css({height:'300px'})
                    activeCards[cardIndex].chart.store.upsized = false;
                }
            },
            toggleBackground(btn, force) {
                if ($(btn).hasClass('bg-secondary') || force === false) {
                    $(btn).removeClass('bg-secondary');
                }
                else if (!$(btn).hasClass('bg-secondary')) {
                    $(btn).addClass('bg-secondary');
                }
            },   
            toggleLog(btn, cardIndex) {
                this.toggleBackground(btn);
                activeCards[cardIndex].chart.store.log = !activeCards[cardIndex].chart.store.log;
                activeCards[cardIndex].chart.update();
            },
            togglePercent(btn, cardIndex) {
                this.toggleBackground(btn);
                activeCards[cardIndex].customSettings.percent = !activeCards[cardIndex].customSettings.percent;
                // console.log(canvasId, activeCards[cardIndex].chart.store.percent)
                activeCards[cardIndex].chart.update();
            },
            toggleActive(btn, cardIndex) {
                this.toggleBackground(btn);
                activeCards[cardIndex].customSettings.includeActive = !activeCards[cardIndex].customSettings.includeActive;
                activeCards[cardIndex].chart.update();
            },
            togglePerMil(btn, cardIndex) {
                this.toggleBackground(btn);
                if (cardIndex === 'grid') {
                    rankGridPerMil = !rankGridPerMil;
                    setGridExplainer()
                    runGraphs();
                    return;
                }
                // else
                let card = activeCards[cardIndex];
                card.perMil = !card.perMil;
                runGraphs(false, cardIndex);
            },
            toggleDoubleRate(btn, cardIndex) {
                this.toggleBackground(btn);
                if (cardIndex === 'grid') {
                    rankGridDoubleRate = !rankGridDoubleRate;
                    setGridExplainer()
                    runGraphs();
                    return;
                }
                // else... not yet programmed to work, but in theory, could do this.
                let card = activeCards[cardIndex];
                card.perMil = !card.perMil;
                runGraphs(false, cardIndex);
            },
            toggle100(btn) {
                this.toggleBackground(btn);
                ionSlider.toggle100();
                runGraphs();
            },
        };

        //
        // Rank graph work in progess:
        // see genAllRanks()[0], which gives the data we need for a single
        // date (the current last date); we need to expand one or both of the 
        // underlying functions to generate ranks for every date, and we need to
        // cache this per-country because it'll be exponentially more expensive
        // than a normal card update.
        //
        // also, something weird... timeSeries is both used to store a timeseries
        // as well as to indicate that it should be processed as a timeseries...?
        // keep an eye on that, that's not good design.
        //
        //
        // let countryRankTimeseries = {};
        // window.rankTimeseries = () => {
        //     if (countryRankTimeseries[utils.currentRegion]) return countryRankTimeseries[utils.currentRegion]
        //     // else

        //     // let currentDates = utils.ionSlider.getCurrentDateRange();

        //     let dates = utils.fullDateRange;
        //     let ranks = genAllRanks()[0]
        //     return dates.reduce((memo, date) => {
        //         memo[date] = utils.recoveryRate(region, date) || null;
        //         return memo
        //     }, {});


        //     countryRankTimeseries[country] = rankTimeSeries
        //     return rankTimeSeries;
        // }
        // window.rankColors = rankCols.map(utils.generateRandomColor)

        window.allCards = [
            // {
            //     title: "Ranks",
            //     genCardData: () => {
            //         let ranks = rankCols.map((c,i) => {
            //             c.color = rankColors[i];
            //             c.show = true;
            //             return c;
            //         })
            //         .filter(c => (c.name !== "-" && c.name !== "Population"))
            //         console.log(ranks)
            //         return ranks
            //     },
            //     // genText(){ return ""},
            //     customSettings: {
            //         showLegend: true,
            //         hideFlag: true,
            //     },
            //     dataFunc(colName) {
            //         console.log(colName)
            //         let col = rankCols.filter(col => col.name === colName)[0];
            //         let output = col.func()
            //         console.log(colName, output)
            //         return output
            //     },
            // },
            {
                title: "Cases/day",
                genCardData: () => {
                    return [
                        {
                            name: "Confirmed",
                            color: "#92bce0",
                            show: true,
                        },
                        {
                            name: "Deaths",
                            color: "orange",
                            show: true,
                        },
                    ];
                },
                // genText(){ return ""},
                customSettings: {
                    showLegend: true,
                    hideFlag: true,
                },
                dataFunc(subset) {
                    let preNew = utils.getSelectedData(subset, utils.currentRegion, this.perMil);
                    let afterNew = utils.getNew(preNew)
                    return afterNew;
                },
            },
            {
                title: "Total Cases",
                genCardData: () => {
                    return [
                        {
                            name: "Confirmed",
                            color: "#92bce0",
                            show: true,
                        },
                        {
                            name: "Deaths",
                            color: "orange",
                            show: true,
                        },
                    ];
                },
                // genText(){ return ""},
                customSettings: {
                    showLegend: true,
                    hideFlag: true,
                },
                dataFunc(subset) {
                    return utils.getSelectedData(subset, utils.currentRegion, this.perMil)
                },
            },
            {
                title: "Total Deaths",
                genCardData: () => {
                    return [
                        {
                            name: "Deaths",
                            color: "orange",
                            show: true,
                        },
                    ];
                },
                // genText(){ return ""},
                customSettings: {
                    showLegend: true,
                    hideFlag: true,
                },
                dataFunc(subset) {
                    return utils.getSelectedData(subset, utils.currentRegion, this.perMil)
                },
            },
            {
                title: "Deaths/day",
                genCardData: () => {
                    return [
                        {
                            name: "Deaths",
                            color: "orange",
                            show: true,
                        },
                    ];
                },
                // genText(){ return ""},
                customSettings: {
                    showLegend: true,
                    hideFlag: true,
                },
                dataFunc(subset) {
                    return utils.getNew(utils.getSelectedData(subset, utils.currentRegion, this.perMil))
                },
            },
            {
                title: "Case Status/Time",
                genCardData() {
                    let validRecovery = utils.hasValidRecoveryData();
                    let output = [
                        {
                            name: "Deaths",
                            color: "orange",
                            show: true,
                        },
                    ].concat ( validRecovery ? [
                        {
                            name: "Recovered",
                            color: "white",
                            show: true,
                        },
                        {
                            name: "Active",
                            color: "grey",
                            show: true,
                        },
                    ] :
                    [
                        {
                            name: "Confirmed",
                            color: "#92bce0",
                            show: true,
                        },
                    ]);

                    if (!this.customSettings.includeActive && validRecovery) {
                        output.pop();
                    }
                    return output;
                },
                // genText(){ return ""},
                customSettings: {
                    showLegend: true,
                    hideFlag: true,
                    chartType: "bar",
                    stackedAreaChart: true,
                    tooltipAddPercent: true,
                    
                    // custom toggles
                    noPerMil: true,
                    noLog: true,
                    showActive: true,
                    showPercent: true, // adds '%' toggle button
                    percent: false, // means dataFunc returns percentages... renders y axis as 0-100, and shows % after hovered values. this is value toggled by above button
                    includeActive: true,
                },
                dataFunc(subset) {
                    let output = (subset === "Active") ?
                        utils.getActive(utils.getSelectedData())
                        : utils.getSelectedData(subset, utils.currentRegion, this.perMil)
                    return output
                },
            },
            {
                title: "Case Status",
                genCardData() {
                    let validRecovery = utils.hasValidRecoveryData();
                    let output = [
                        {
                            name: "pie",
                            color: validRecovery ? ["white","orange","grey"] : ["orange", "#92bce0"],
                            show: true,
                            labels: validRecovery ? ["Recovered", "Dead", "Active"] : ["Dead", "Confirmed"],
                        },
                    ];
                    if (!this.customSettings.includeActive && validRecovery) {
                        output[0].color.pop()
                        output[0].labels.pop()
                    }
                    return output;
                },
                // genText(){ return ""},
                customSettings: {
                    showLegend: true,
                    hideFlag: true,
                    chartType: "pie",
                    stackedAreaChart: false,
                    
                    // custom toggles
                    noPerMil: true,
                    noLog: true,
                    showActive: true, // whether to show button to toggle active
                    includeActive: true, // value toggled by active button
                },
                dataFunc(/* name */) {
                    let validRecovery = utils.hasValidRecoveryData();
                    let output = validRecovery ? [
                        utils.getSelectedData("Recovered")[utils.getLastDate()],
                        utils.getSelectedData("Deaths")[utils.getLastDate()], 
                        utils.regionActiveToday() || null,
                    ] : [
                        utils.getSelectedData("Deaths")[utils.getLastDate()],
                        utils.getSelectedData("Confirmed")[utils.getLastDate()],
                    ];
                    if (!this.customSettings.includeActive && validRecovery) output.pop();
                    return output;
                },
            },
        ];

        initInfoBoxes = function() {
            boxFunctions.forEach(oneBox => {
                $('.infobox-container').append(utils.infoboxTemplate(oneBox));
            });
            window.backgroundCache = $(`#total-color`).css("background");
        };

        const activeCards = [].concat(allCards);


        utils.initMinCases(runGraphs);
        utils.initMinPop(runGraphs);
        utils.initDefaultSwitches(allCards, runGraphs)

        initInfoBoxes()

        $('#rank-grid-container').append(utils.rankGridTemplate());
        utils.grid.initCountryRankGrid({
            customFields: rankCols,
            genCardData: genAllRanks,
            gridId: `ranks-grid`,
        });

        runGraphs();

    })
</script>
