<!-- REQUIRED SCRIPTS -->

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

<script>
    var typed = new Typed('.d-block', {
        strings: ["kyle^200baker^150.io"],
        typeSpeed: 100,
        cursorChar: "_",
        showCursor: true,
        autoInsertCss: true,
    });
    
    // var typed = new Typed('.brand-text', {
    //     strings: ["CoViD-19"],
    //     typeSpeed: 30
    // });
</script>
