
<!-- page script -->
<script>
    $(function (
        $,
        allData=(<%- JSON.stringify(data) -%>),
        utils=<%- include(`../fragments/utils.ejs`) -%>,
        ionSlider=<%- include(`../fragments/ionrangeslider.ejs`) -%>,
        gridUtils=<%- include(`../fragments/jsgrid-utils.ejs`) -%>,
        ) {

        window.utils = utils;
        utils.grid = gridUtils;
        window.allData = allData;

        const runGraphs = async function(chartOnly, cardIndex) {
                await utils.toggleSpinner(true);
                let oneCard = (typeof cardIndex === "number");
                $('span.today-date').html(utils.getLastDate());

                let newCard = false;
                activeCards.forEach((card, index) => {
                    if (!oneCard || cardIndex === index) {
                        if (card.init) {
                            card.cache.valid = false;
                            if (!chartOnly && $(`#`+card.gridId).is(":visible")) {
                                card.updateGrid();
                            }
                            card.chart.update();
                        }
                        else {
                            newCard = true;
                            // Chart.defaults.line.spanGaps = false;
                            if (card.customSettings.compareNum) {
                                let currentCompare = Number($('#compare-num').val());
                                console.log(currentCompare, card.customSettings.compareNum)
                                if (card.customSettings.compareNum !== currentCompare) {
                                    $('#compare-num').val(card.customSettings.compareNum);
                                    $('#compare-num').trigger("input");
                                    return;
                                    // this could be asking for bugs, but will allow a big performance boost when working correctly.
                                    // calling this trigger re-calls runGraphs, and kills the cache. This would avoid that.
                                }
                            }

                            card.index = index;
                            card.chartId = "chart" + index;
                            card.gridId = "jsGrid" + index;
                            
                            card.hideCountries = [];
                            card.lockCountries = !!card.lockCountries;
                            card.highlightCountry = "";
                            card.perMil = !!card.perMil;
                            card.n100 = !!card.n100;
                            
                            card.cache = {};

                            card.gridFields = utils.grid.genGridFields(card, runGraphs);
                            card.genGrid = () => utils.grid.initCardGrid(card, runGraphs);
                            card.updateGrid = () => utils.grid.updateCardGrid(card, runGraphs, true);
                            
                            card.genCardData = genCardDataTemplate(card);
                            

                            $('#sortable').append(utils.compareCardTemplate(card));
                            $(`.toggle-active-${card.index}`).click(function(){
                                // adds feature so that when card is minimized or closed,
                                // computation for that card doesn't happen in background
                                // adds listener on top of existing template stuff
                                let cardIndex = $(this).attr('data-card-index');
                                if (activeCards[cardIndex]) {
                                    delete activeCards[cardIndex]
                                }
                                else {
                                    activeCards[cardIndex] = allCards[cardIndex]
                                }

                                if ($(this).hasClass("close-window")) {
                                    let newWidth = Math.round(12 / activeCards.filter(x=>1).length)
                                    activeCards.forEach(card => {
                                        $(`#card-${card.index}`)
                                        .removeClass()
                                        .addClass(`col-xl-${newWidth}`)
                                        .addClass(`col-lg-${newWidth}`)
                                        .addClass(`col-12`)
                                    })
                                }
                            })

                            card.init = true;
                            if (card.perMil) {
                                buttons.toggle.background($(`#button-toggle-perMil-${card.index}`), card.index, true)
                            }
                            if (card.n100) {
                                buttons.toggle.background($(`#button-toggle-n100-${card.index}`), card.index, true)
                            }
                            if (card.lockCountries) {
                                buttons.toggle.lockCountries($(`#button-toggle-lockCountries-${card.index}`), card.index, true, card.lockCountries)
                            }

                            if (window.innerWidth < 500 && activeCards.length > 1 && activeCards.filter(x=>1)[0] !== card) {
                                $(`.collapse-window-${card.index}`).click();
                                let finishedInit = false;
                                delete activeCards[card.index];
                                $(`.toggle-active-${card.index}`).click(() => {
                                    if (!finishedInit) {
                                        console.log("finishing init now!", card)
                                        setTimeout(() => {
                                            finishedInit = true;
                                            card.genGrid();
                                            card.chart = utils.chartGen(card);
                                            card.chart.init();
                                        }, 500)
                                    }
                                })
                            }
                            else {
                                card.genGrid();
                                card.chart = utils.chartGen(card);
                                card.chart.init();
                            }

                        }
                    }
                });

                if (newCard) {
                    utils.initSlideIn();
                }

                // display filtered countries in separate grid.
                // currently an empty function, but these arrays are real.
                utils.grid.initFilteredGrid(
                    utils.minCasesFiltered,
                    utils.minPopFiltered
                )
                utils.toggleSpinner(false); // note that we don't await here.
            // },5)
        };
        utils.attemptDataUpdate(runGraphs);

        // handles:
        // min pop
        // min cases
        // addCountry
        // custom property name (required)
        // custom datafunc value (required)
        // locked countries
        // limit on how many to return
        // removing countries with 0 incidence
        // highlighting countries
        const genCardDataTemplate = (card) => function(){
            if (card.cache && card.cache.valid && card.cache.data) {
                console.log("using cache")
                return card.cache.data;
            }
            else {
                console.log("NOT using cache")
            }
            let getCountries = (utils.currentRegion !== "World" ? [utils.currentRegion] : []);

            let numToCompare = utils.toCompare.get();
            const options = {
                fromCountries: Object.keys(allData).filter(region => (region !== "World")),
                customFields: card.customFields.map(field => {
                    field.func = field.func.bind(card)
                    return field;
                }),
            };

            let before = utils.clone(options.fromCountries)
            if ($('#checkbox-min-pop').is(":checked")){
                // options.filters.push(utils.minPopFilter)
                utils.minPopFiltered = []; // clear array before refilling
                options.fromCountries = options.fromCountries.filter(name => utils.minPopFilter(name, getCountries))
            }
            if ($('#checkbox-min-cases').is(":checked")) {
                // options.filters.push(utils.minCasesFilter)
                utils.minCasesFiltered = []; // clear array before refilling
                options.fromCountries = options.fromCountries.filter(name => utils.minCasesFilter(name, getCountries))
            }
            utils.setPopFiltered();
            utils.setCasesFiltered();

            options.fromCountries = options.fromCountries.map(name => ({
                name,
                disabled: false, // only ever true for completely blank filler grid rows, which is a pattern we've stopped using
                show: !card.hideCountries.includes(name),
                highlight: card.highlightCountry === name,
                population: utils.getPopulation(name),
            }))
            
            let rankedList = utils.genRankedList(options);

            let addCountry;
            if (getCountries.length) {
                if (getCountries.length > 1) console.warn("want multiple getCountries? update starting here, current code only enables first in list")
                addCountry = rankedList.filter(obj => obj.name === getCountries[0])[0];
            }

            if (card.lockCountries && card.lockedCountries.length) {
                limitCountries = card.lockedCountries.concat(addCountry);
                rankedList = rankedList.filter(obj => limitCountries.includes(obj.name))
            }
            else if (!card.customSettings.stackedAreaChart) {
                // if we're not locked, and not stackedArea, remove countries with rank col val of 0.
                rankedList = rankedList.filter(c => c[c.rankBy] > 0)
            }


            if (!card.customSettings.stackedAreaChart) {
                let len = rankedList.length > numToCompare ? numToCompare : rankedList.length;
                len += (addCountry ? 1 : 0);
                rankedList = rankedList.slice(0, len);

                if (addCountry && !rankedList.filter(obj => obj.name === addCountry.name)[0]) {
                    // rankedList[rankedList.length - 1] = addCountry; // replace last item with addcountry
                    rankedList = [addCountry].concat(...rankedList);
                    rankedList.pop()
                }
            }
            else if (numToCompare+1 < rankedList.length) {
                rankedList = utils.collapseBelowRank(rankedList, numToCompare+2, getCountries);
                // it's +2, because:
                // +1 for going from a 0-based counting system
                // +1 for making room for the collapsed remaining countries
            }


            // while ( rankedList.length < (numToCompare + Number(!!addCountry)) ) {
            //     rankedList.push({
            //         name:"",
            //         rank:"",
            //         population:"",
            //         color:"",
            //         disabled:true,
            //     });
            // }

            rankedList = rankedList.map((country, i) => {
                if (!country.disabled && !utils.countryColorDict[country.name]) {
                    utils.countryColorDict[country.name] = utils.chartColors.shift() || utils.generateRandomColor();
                }
                country.color = utils.countryColorDict[country.name];
                return country;
            });

            if (card.cache) {
                card.cache.data = rankedList;
                card.cache.valid = true;
            }

            return rankedList;
        };
        
        let allCards = window.allCards /*debugging*/ = [
            {
                // note: many properties are auto-added at init in runGraphs.
                // be sure to check there.
                title: "All Cases",
                genText() { return "All confirmed cases in world, in context." },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        name: "total",
                        title: "Cases",
                        func(country) {
                            return utils.getSelectedData("Confirmed", country);
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        name: "cases per mil",
                        func(country) {
                            return utils.getSelectedData("Confirmed", country, true);
                        },
                    },
                    // would be nice to have a `% of all` here, and in deaths
                    //
                    //
                ],
                customSettings: {
                    reverseGraph: true,
                    fullWidth: true,
                    stackedAreaChart: true,
                    preciseHover: true,
                    noLog: true,
                    noPerMil: true,
                    no100: true,

                    tooltipAddPercent: true,
                    noGridToggle: true, // to implement, turn off switch (?)
                },
            },
            {
                title: "Cases/day",
                genText() { return "Each x/y vertex represents new confirmed cases reported that date." },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        name: "Yesterday",
                        func(country) {
                            let output = utils.getNew(utils.getSelectedData("Confirmed", country, this.perMil))
                            return this.n100 ? utils.trimTo100Date(output, 100, true) : output;
                        },
                    },
                ],
                customSettings: {
                    fullWidth: true,
                },                
            },
            {
                // note: many properties are auto-added at init in runGraphs.
                // be sure to check there.
                title: "Total Cases",
                genText() { return "All confirmed positive test results." },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        name: "total",
                        title: "Cases",
                        func(country) {
                            let output = utils.getSelectedData("Confirmed", country, this.perMil);
                            return this.n100 ? utils.trimTo100Date(output, 100, true) : output;
                        },
                    },
                ],
                customSettings: {
                    
                },
            },
            {
                // note: many properties are auto-added at init in runGraphs.
                // be sure to check there.
                title: "Active Cases",
                genText() { return "Cases where patient outcome (death or recovery) is unknown." },
                customFields: [
                    {
                        rankBy: true,
                        name: "Cases",
                        timeSeries: true,
                        saveTimeseries: true,
                        valid: utils.hasValidRecoveryData,
                        get itemTemplate() {
                            return (function(v,i) {
                                return this.valid(i.name) ? v.toLocaleString() : "<a style='text-decoration:underline' title='no data'>?*</a>";
                            }).bind(this)
                        },
                        func(country) {
                            let result = utils.getActiveCountry(country, this.perMil);
                            return this.n100 ? utils.trimTo100Date(result, 100, true) : result;
                        },
                    },
                ],
                customSettings: {
                },
            },
            {
                title: "All Deaths",
                genText() { return "" },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        name: "total",
                        title: "Deaths",
                        func(country) {
                            return utils.getSelectedData("Deaths", country);
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        name: "deaths per mil",
                        func(country) {
                            return utils.getSelectedData("Deaths", country, true);
                        },
                    },
                ],
                customSettings: {
                    reverseGraph: true,
                    fullWidth: true,
                    stackedAreaChart: true,
                    preciseHover: true,
                    no100: true,
                    noLog: true,
                    noPerMil: true,

                    tooltipAddPercent: true,
                },
            },
            {
                title: "Total Deaths",
                genText() { return "Each x/y vertex represents <b>all</b> confirmed deaths <b>as of</b> that date." },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        name: "deaths",
                        func(country) {
                            let output = utils.getSelectedData("Deaths", country, this.perMil);
                            return this.n100 ? utils.trimTo100Date(output, 100, true) : output;
                        },
                    },
                ],
                customSettings: {},                 
            },
            {
                title: "Deaths/day",
                genText() { return "Each x/y vertex represents <b>newly confirmed deaths</b> reported <b>on</b> that date." },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        name: "yesterday",
                        func(country) {
                            let output = utils.getNew(utils.getSelectedData("Deaths", country, this.perMil))
                            return this.n100 ? utils.trimTo100Date(output, 100, true) : output;
                        },
                    },
                ],
                customSettings: {},             
            },
            {
                title: "Case Growth",
                genText() { return "How long it takes the number of cases to double (rolling average of last 7 days). </br><br/> Example: A datapoint of '10' means that there was a 70% increase in cases over the last week, which would indicate that the number of cases doubles every 10 days. <br/><br/>Useful to see what countries are recording most dramatic increase in number of recorded cases over the last week.<br><br> A steady downward trend indicates that the growth is linear, a level trend indicates that the growth is exponential." },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        sorting: true,
                        name: "Days to Double",
                        reverseSort: true,
                        // itemTemplate: (v,i) => `${utils.infOrNaN(v)}%`,
                        func(country) {
                            // return utils.getIncreaseRate(allData[country].Confirmed)
                            let output = utils.getDoublingRate(allData[country].Confirmed)
                            return this.n100 ? utils.trimTo100Date(output, 100, true) : output;
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        name: "Cases yesterday",
                        func(country) {
                            return utils.getSelectedData("Confirmed", country, this.perMil);
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: false,
                        name: "Cases 7 days before",
                        sorting: true,
                        func(country) {
                            let cases = utils.getSelectedData("Confirmed", country, this.perMil);
                            return utils.getNumFromDaysPast(cases, 7);
                        },
                    },
                ],       
                customSettings: {
                    reverseTicks: true,
                    // tooltipAsPercent: true,
                    noPerMil: true,
                    noLog: true,
                    fullWidth: true,
                    // compareNum: 25,
                },
            },
            {
                title: "Death Growth",
                genText() { return "How long it takes the number of dead to double (rolling average of last 7 days). </br> A datapoint of '10', for example, means that there was a 70% increase in deaths over the last week, which would indicate that the number of deaths doubles every 10 days.  <br/>Useful to see what countries are recording most dramatic increase in number of recorded deaths over the last week. <br><br>A steady downward trend indicates that the growth is linear, a level trend indicates that the growth is exponential." },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        sorting: true,
                        name: "Days to Double",
                        reverseSort: true,
                        // itemTemplate: (v,i) => `${utils.infOrNaN(v)}%`,
                        func(country) {
                            let output = utils.getDoublingRate(allData[country].Deaths);
                            return this.n100 ? utils.trimTo100Date(output, 100, true) : output;
                            // return utils.getIncreaseRate(allData[country].Deaths)
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        name: "Deaths Yesterday",
                        func(country) {
                            return utils.getSelectedData("Deaths", country);
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: false,
                        name: "7 days before",
                        sorting: true,
                        func(country) {
                            let cases = utils.getSelectedData("Deaths", country);
                            return utils.getNumFromDaysPast(cases, 7);
                        },
                    },
                ],
                customSettings: {
                    reverseTicks: true,
                    // tooltipAsPercent: true,
                    noPerMil: true,
                    noLog: true,
                    fullWidth: true,
                    // compareNum: 25,
                },      
            },
            {
                title: "Recovery Rate",
                genText() { return `Obviously, take these numbers with a grain of salt. 
                Several countries do not report numbers to try to keep up with this, as accurate 
                reporting is so difficult (and some countries report numbers that are unbelievable).
                There are also strong incentives to artificially improve these numbers by nations. 
                Applying filters as desired may help produce more meaningful data here--check the 
                <i class="loading-cog fas fa-cogs"></i> button on the controls for more.` },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        name: "% Recovered",
                        width: 100,
                        get itemTemplate() {
                            return (function(v,i) {
                                if (i.name === "Sweden") console.log(v,i,this)
                                return this.valid(i.name) ? `${utils.infOrNaN(v) || 0}%` : "<a style='text-decoration:underline' title='no data'>?*</a>";
                            }).bind(this)
                        },
                        valid: utils.hasValidRecoveryData,
                        func(country) {
                            let output = utils.getRecoveryRate(country);
                            return output
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        saveTimeseries: false,
                        name: "# Recovered",
                        width: 100,
                        func(country) {
                            return utils.getSelectedData("Recovered", country);
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        saveTimeseries: false,
                        name: "all cases",
                        func(country) {
                            return utils.getSelectedData("Confirmed", country);
                        },
                    },
                    {
                        rankBy: false,
                        name: "active cases",
                        timeSeries: true,
                        saveTimeseries: false,
                        valid: utils.hasValidRecoveryData,
                        get itemTemplate() {
                            return (function(v,i) {
                                if (i.name === "Spain") console.log(v,i,this)
                                return this.valid(i.name) ? v.toLocaleString() : "<a style='text-decoration:underline' title='no data'>?*</a>";
                            }).bind(this)
                        },
                        func(country) {
                            let result = utils.getActiveCountry(country, this.perMil);
                            return this.n100 ? utils.trimTo100Date(result, 100, true) : result;
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        saveTimeseries: false,
                        name: "deaths",
                        func(country) {
                            return utils.getSelectedData("Deaths", country);
                        },
                    },
                ],
                customSettings: {
                    tooltipAsPercent: true,
                    noPerMil: true,
                    noLog: true,
                    no100: true,
                    compareNum: 15,
                    yaxisMinMainOnly: true,
                },
            },
            {
                title: "Total Recovered",
                genText() { return "Number of reported recoveries" },
                customFields: [
                  {
                        rankBy: true,
                        timeSeries: true,
                        saveTimeseries: true,
                        width: 100,
                        name: "# Recovered",
                        func(country) {
                            return utils.getSelectedData("Recovered", country, this.perMil);
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        saveTimeseries: false,
                        name: "% Recovered",
                        width: 100,
                        get itemTemplate() {
                            return (function(v,i) {
                                if (i.name === "Sweden") console.log(v,i,this)
                                return this.valid(i.name) ? `${utils.infOrNaN(v) || 0}%` : "<a style='text-decoration:underline' title='no data'>?*</a>";
                            }).bind(this)
                        },
                        valid: utils.hasValidRecoveryData,
                        func(country) {
                            let output = utils.getRecoveryRate(country);
                            return output
                        },
                    },
                    {
                        rankBy: false,
                        name: "active cases",
                        timeSeries: true,
                        saveTimeseries: false,
                        valid: utils.hasValidRecoveryData,
                        get itemTemplate() {
                            return (function(v,i) {
                                if (i.name === "Spain") console.log(v,i,this)
                                return this.valid(i.name) ? v.toLocaleString() : "<a style='text-decoration:underline' title='no data'>?*</a>";
                            }).bind(this)
                        },
                        func(country) {
                            let result = utils.getActiveCountry(country, this.perMil);
                            return this.n100 ? utils.trimTo100Date(result, 100, true) : result;
                        },
                    },
                    {
                        rankBy: false,
                        timeSeries: true,
                        saveTimeseries: false,
                        name: "deaths",
                        func(country) {
                            return utils.getSelectedData("Deaths", country);
                        },
                    },
                ],
                customSettings: {
                },
            },
        ];

        let hashDict = {
            "#!cases": [0,1,2,3],
            "#!deaths": [4,5,6],
            "#!casegrowth": [7],
            "#!deathgrowth": [8],
            "#!recovery": [9,10],
        };

        window.onhashchange = function() {
            if (!location.hash) location.hash =  "#!cases"
            let hash = location.hash;
            setSidebarActive();
            let cardIndexes = hashDict[hash];

            let tab = hash.split("!")[1];

            // adjust breadcrumb
            utils.addBreadcrumb(tab, 2, false);

            Object.keys(allCards).forEach(index => {
                $(`#card-${index}`).css({display:"none"})
                delete activeCards[index];
            });

            cardIndexes.forEach(index => {
                if (allCards[index].init) $(`#card-${index}`).css({display:"block"});
                if (allCards[index].finishedInit || !allCards[index].init) activeCards[index] = allCards[index];
            });

            runGraphs();
        };

        window.activeCards = utils.activeCards = [];

        window.buttons = {
            upsizeCanvas(cardIndex) {
                return;
                // currently, using return to bypass seems to work just fine... not sure what the point of it ever was?
                // leaving here in case I run into a bug that I forgot. Maybe this was a bug workaround that no longer is needed.
                // later note: seems this is necessary to expand chart to be bigger on full screen on analysis page. More investigation needed.

                if (!activeCards[cardIndex].chart.store.upsized) {
                    let newHeight = innerHeight - $(`#${activeCards[cardIndex].gridId}`).outerHeight() - 150;
                    if (newHeight > innerWidth) newHeight = innerWidth * .9;
                    $(`#${activeCards[cardIndex].chartId}`).css({height:newHeight})
                    activeCards[cardIndex].chart.store.upsized = true;
                }
                else {
                    $(`#${activeCards[cardIndex].chartId}`).css({height:'300px'})
                    activeCards[cardIndex].chart.store.upsized = false;
                }
            },
            toggle: {
                background(btn, force) {
                    // console.log("toggling", btn, force)
                    if (!$(btn).length) {
                        return
                    }
                    if (($(btn).hasClass('bg-secondary')  && force !== true) || force === false) {
                        $(btn).removeClass('bg-secondary');
                    }
                    else if (!$(btn).hasClass('bg-secondary')) {
                        $(btn).addClass('bg-secondary');
                    }
                },
                log(btn, cardIndex) {
                    if (allCards[cardIndex].customSettings.noLog) return;
                    this.background(btn)
                    // if you want to upgrade this to work as a default, you'll
                    // need to move this setting to the card itself, and then
                    // switch to using allCards
                    activeCards[cardIndex].chart.store.log = !activeCards[cardIndex].chart.store.log;
                    activeCards[cardIndex].chart.update();
                },
                lockCountries(btn, cardIndex, stopRender, force) {
                    this.background(btn, force);
                    let card = allCards[cardIndex];
                    if (card.init && (!card.lockCountries || force)) {
                        card.lockedCountries = card.genCardData().map(co => co.name);
                    }
                    else {
                        card.lockedCountries = [];
                    }
                    card.lockCountries = (force !== undefined) ? force : !card.lockCountries;
                    if (!stopRender) runGraphs(false, cardIndex);
                },
                perMil(btn, cardIndex, stopRender, force) {
                    if (allCards[cardIndex].customSettings.noPerMil) return;
                    this.background(btn);
                    let card = allCards[cardIndex];
                    // card.perMil = !card.perMil;
                    card.perMil = (force !== undefined) ? force : !card.perMil;
                    if (!stopRender) runGraphs(false, cardIndex);
                },
                n100(btn, cardIndex, stopRender, force) {
                    if (allCards[cardIndex].customSettings.no100) return;
                    this.background(btn);
                    let card = allCards[cardIndex];
                    // card.perMil = !card.perMil;
                    card.n100 = (force !== undefined) ? force : !card.n100;
                    if (!stopRender) runGraphs(false, cardIndex);
                },
                grid(btn, cardIndex) {
                    $(`#${activeCards[cardIndex].gridId}`).toggle()
                    let gridHeight = $(`#${activeCards[cardIndex].gridId}`).outerHeight() - 125
                    if ($(`#${activeCards[cardIndex].gridId}`).is(":visible")) {
                        $(`#${activeCards[cardIndex].chartId}`).css({height:'300px'})
                        activeCards[cardIndex].updateGrid();
                    }
                    else {
                        let chartHeight = $(`#${activeCards[cardIndex].chartId}`).outerHeight()
                        let newHeight = chartHeight + gridHeight;
                        if (newHeight > innerWidth) newHeight = innerWidth * .9;
                        $(`#${activeCards[cardIndex].chartId}`).css({height:newHeight})
                    }
                },
            },
        };

        $(`#compare-menu-core`).css("display","block");
        $(`#compare-menu`).addClass("menu-open");
        window.updateCompareNum = utils.toCompare.set.bind(utils.toCompare);
        utils.runGraphs = runGraphs;
        utils.initSelect2(false, runGraphs);
        utils.initCompareNum(runGraphs);
        utils.initMinCases(runGraphs);
        utils.initMinPop(runGraphs);
        utils.initDefaultSwitches(allCards, runGraphs)
        ionSlider.initSlider("#range_1", runGraphs, false, true);
        window.onhashchange();
    })
</script>
