
<!-- page script -->
<script>
    $(function (
        $,
        allData=(<%- JSON.stringify(data) -%>),
        utils=<%- include(`../fragments/utils.ejs`) -%>,
        ionSlider=<%- include(`../fragments/ionrangeslider.ejs`) -%>,
        gridUtils=<%- include(`../fragments/jsgrid-utils.ejs`) -%>,
        ) {

        window.utils = utils;
        utils.grid = gridUtils;
        window.allData = allData;

        const runGraphs = async function(chartOnly, cardIndex) {
                await utils.toggleSpinner(true);
                let oneCard = (typeof cardIndex === "number");
                $('span.today-date').html(utils.getLastDate());

                activeCards.forEach((card, index) => {
                    if (!oneCard || cardIndex === index) {
                        if (card.init) {
                            card.cache.valid = false;
                            if (!chartOnly && $(`#`+card.gridId).is(":visible")) {
                                card.updateGrid();
                            }
                            card.chart.update();
                        }
                        else {
                            // Chart.defaults.line.spanGaps = false;
                            if (card.customSettings.compareNum) {
                                $('#compare-num').val(card.customSettings.compareNum)
                                $('#compare-num').trigger("input")
                            }

                            card.index = index;
                            card.chartId = "chart" + index;
                            card.gridId = "jsGrid" + index;
                            
                            card.hideCountries = [];
                            card.lockCountries = !!card.lockCountries;
                            card.highlightCountry = "";
                            card.perMil = !!card.perMil;
                            
                            card.cache = {};

                            card.gridFields = utils.grid.genGridFields(card, runGraphs);
                            card.genGrid = () => utils.grid.initCardGrid(card, runGraphs);
                            card.updateGrid = () => utils.grid.updateCardGrid(card, runGraphs, true);
                            
                            card.genCardData = genCardDataTemplate(card);
                            

                            $('#sortable').append(utils.globalTemplate(card));

                            card.init = true;
                            if (card.perMil) {
                                buttons.toggle.background($(`#button-toggle-perMil-${card.index}`), card.index, true)
                            }
                            if (card.lockCountries) {
                                buttons.toggle.lockCountries($(`#button-toggle-lockCountries-${card.index}`), card.index, true, card.lockCountries)
                            }

                            card.genGrid();
                            card.chart = utils.chartGen(card);
                            card.chart.init();
                            $(`.toggle-active-${card.index}`).click(function(){
                                // adds feature so that when card is minimized or closed,
                                // computation for that card doesn't happen in background
                                // adds listener on top of existing template stuff
                                let cardIndex = $(this).attr('data-card-index');
                                if (activeCards[cardIndex]) {
                                    delete activeCards[cardIndex]
                                }
                                else {
                                    activeCards[cardIndex] = allCards[cardIndex]
                                }
                            })
                            if (index === 0) {
                                // hacky, not sure the proper way in this template
                                // to do this with code. works for now. todo: improve
                                setTimeout(() => {
                                    // console.log("click", $(`#compare-menu`))
                                    // $(`#compare-menu-shell`).addClass('has-menu');
                                    // $(`#compare-menu-core`).css("display", "block");
                                    $(`#compare-menu`).click();
                                }, 1000)
                            }
                        }
                    }
                });

                // display filtered countries in separate grid.
                // currently an empty function, but these arrays are real.
                utils.grid.initFilteredGrid(
                    utils.minCasesFiltered,
                    utils.minPopFiltered
                )
                utils.toggleSpinner(false); // note that we don't await here.
            // },5)
        };

        // handles:
        // min pop
        // min cases
        // addCountry
        // custom property name (required)
        // custom datafunc value (required)
        // locked countries
        // limit on how many to return
        // removing countries with 0 incidence
        // highlighting countries
        const genCardDataTemplate = (card) => function(){
            if (card.cache && card.cache.valid && card.cache.data) {
                // console.log("using cache")
                return card.cache.data;
            }
            // else {
            //     console.log("not using cache")
            // }
            let getCountries = (utils.currentRegion !== "World" ? [utils.currentRegion] : []);

            let numToCompare = utils.toCompare.get();
            const options = {
                fromCountries: Object.keys(allData).filter(region => (region !== "World")),
                customFields: card.customFields.map(field => {
                    field.func = field.func.bind(card)
                    return field;
                }),
            };

            if ($('#checkbox-min-pop').is(":checked")){
                // options.filters.push(utils.minPopFilter)
                options.fromCountries = options.fromCountries.filter(name => utils.minPopFilter(name, getCountries))
            }
            if ($('#checkbox-min-cases').is(":checked")) {
                // options.filters.push(utils.minCasesFilter)
                options.fromCountries = options.fromCountries.filter(name => utils.minCasesFilter(name, getCountries))
            }

            options.fromCountries = options.fromCountries.map(name => ({
                name,
                disabled: false, // only ever true for completely blank filler grid rows
                show: !card.hideCountries.includes(name),
                highlight: card.highlightCountry === name,
                population: utils.getPopulation(name),
            }))
            
            let rankedList = utils.genRankedList(options);

            let addCountry;
            if (getCountries.length) {
                if (getCountries.length > 1) console.warn("want multiple getCountries? update starting here, current code only enables first in list")
                addCountry = rankedList.filter(obj => obj.name === getCountries[0])[0];
            }

            if (card.lockCountries && card.lockedCountries.length) {
                limitCountries = card.lockedCountries.concat(addCountry);
                rankedList = rankedList.filter(obj => limitCountries.includes(obj.name))
            }
            else {
                // if we're not locked, remove countries with rank row val of 0.
                rankedList = rankedList.filter(c => c[c.rankBy] > 0)
            }

            let len = rankedList.length > numToCompare ? numToCompare : rankedList.length;
            len += (addCountry ? 1 : 0);
            rankedList = rankedList.slice(0, len);

            if (addCountry && !rankedList.filter(obj => obj.name === addCountry.name)[0]) {
                // rankedList[rankedList.length - 1] = addCountry; // replace last item with addcountry
                rankedList = [addCountry].concat(...rankedList);
                rankedList.pop()
            }

            // while ( rankedList.length < (numToCompare + Number(!!addCountry)) ) {
            //     rankedList.push({
            //         name:"",
            //         rank:"",
            //         population:"",
            //         color:"",
            //         disabled:true,
            //     });
            // }

            rankedList = rankedList.map((country, i) => {
                if (!country.disabled && !utils.countryColorDict[country.name]) {
                    utils.countryColorDict[country.name] = utils.chartColors.shift() || utils.generateRandomColor();
                }
                country.color = utils.countryColorDict[country.name];
                return country;
            });

            if (card.cache) {
                card.cache.data = rankedList;
                card.cache.valid = true;
            }

            return rankedList;
        };
        
        let allCards = window.allCards /*debugging*/ = [
            {
                // note: many properties are auto-added at init in runGraphs.
                // be sure to check there.
                title: "Total Cases",
                genText() { return "" },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        name: "total",
                        title: "Cases",
                        reverseSort: true,
                        func(country) {
                            return utils.getSelectedData("Confirmed", country, this.perMil);
                        },
                    },
                ],
                customSettings: {
                    fullWidth: true,
                    stackedAreaChart: true,
                    preciseHover: true,
                },
            },
            {
                title: "Cases/day",
                genText() { return "" },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        name: "new",
                        reverseSort: true,
                        func(country) {
                            return utils.getNew(utils.getSelectedData("Confirmed", country, this.perMil))
                        },
                    },
                ],
                customSettings: {
                    fullWidth: true,
                    stackedAreaChart: true,
                    preciseHover: true,
                },                
            },
            {
                title: "Total Deaths",
                genText() { return "" },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        reverseSort: true,
                        name: "deaths",
                        func(country) {
                            return utils.getSelectedData("Deaths", country, this.perMil)
                        },
                    },
                ],
                customSettings: {
                    fullWidth: true,
                    stackedAreaChart: true,
                    preciseHover: true,
                },            
            },
            {
                title: "Deaths/day",
                genText() { return "" },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        name: "new",
                        reverseSort: true,
                        func(country) {
                            return utils.getNew(utils.getSelectedData("Deaths", country, this.perMil))
                        },
                    },
                ],
                customSettings: {
                    fullWidth: true,
                    stackedAreaChart: true,
                    preciseHover: true,
                },           
                dataFunc(country) {return utils.getNew(utils.getSelectedData("Deaths", country, this.perMil))},
            },
            {
                // note: many properties are auto-added at init in runGraphs.
                // be sure to check there.
                title: "Cases (since case #100)",
                genText() { return "0 on the y-axis is the day that country hit the 100th case" },
                customFields: [
                    {
                        rankBy: true,
                        timeSeries: true,
                        name: "cases-100",
                        title: "Cases (since 100th)",
                        func(country) {
                            let cases = utils.getSelectedData("Confirmed", country, this.perMil);
                            return utils.trimTo100Date(cases, 100, true)
                        },
                    },
                ],
                customSettings: {
                    fullWidth: true,
                    preciseHover: true,
                },
            },
        ];

        let hashDict = {
            "#!totalcases": [0],
            "#!newcases": [1],
            "#!totaldeaths": [2],
            "#!newdeaths": [3],
            "#!since100": [4],
        };

        window.onhashchange = () => {
            let hash = location.hash || "#!totalcases";
            console.warn(hash)
            let cardIndexes = hashDict[hash];

            Object.keys(hashDict).forEach(tab => {
                tab = tab.split("!")[1];
                $(`#tab-${tab}`).removeClass('active-sub-tab')
            })

            let tab = hash.split("!")[1]
            $(`#tab-${tab}`).addClass('active-sub-tab')

            // adjust breadcrumb
            utils.addBreadcrumb(tab, 2);

            Object.keys(activeCards).forEach(index => {
                $(`#card-${index}`).css({display:"none"})
                delete activeCards[index];
            });

            cardIndexes.forEach(index => {
                activeCards[index] = allCards[index];
                if (activeCards[index].init) $(`#card-${index}`).css({display:"block"})
            });
            runGraphs();
        };

        window.activeCards = utils.activeCards = [];

        window.buttons = {
            upsizeCanvas(cardIndex) {
                console.log(innerHeight, innerWidth)


                if (!activeCards[cardIndex].chart.store.upsized) {
                //     let newHeight = innerHeight - $(`#${activeCards[cardIndex].gridId}`).outerHeight() - 150;
                //     if (newHeight > innerWidth) newHeight = innerWidth * .9;
                //     $(`#${activeCards[cardIndex].chartId}`).css({height:newHeight})
                //     activeCards[cardIndex].chart.store.upsized = true;
                    let newHeight = innerHeight * .85;
                    $(`#${activeCards[cardIndex].chartId}`).css({height:newHeight})
                    activeCards[cardIndex].chart.store.upsized = true;
                }
                else {
                    let newHeight = innerHeight * .75;
                    $(`#${activeCards[cardIndex].chartId}`).css({height:newHeight})
                    activeCards[cardIndex].chart.store.upsized = false;
                //     $(`#${activeCards[cardIndex].chartId}`).css({height:'300px'})
                //     activeCards[cardIndex].chart.store.upsized = false;
                }
            },
            toggle: {
                background(btn, force) {
                    // console.log("toggling", btn, force)
                    if (!$(btn).length) {
                        return
                    }
                    if (($(btn).hasClass('bg-secondary')  && force !== true) || force === false) {
                        $(btn).removeClass('bg-secondary');
                    }
                    else if (!$(btn).hasClass('bg-secondary')) {
                        $(btn).addClass('bg-secondary');
                    }
                },
                grid(btn, cardIndex) {
                    $(`#${activeCards[cardIndex].gridId}`).toggle()
                    let gridHeight = $(`#${activeCards[cardIndex].gridId}`).outerHeight() - 125
                    if ($(`#${activeCards[cardIndex].gridId}`).is(":visible")) {
                        $(`#${activeCards[cardIndex].chartId}`).css({height:'300px'})
                        activeCards[cardIndex].updateGrid();
                    }
                    else {
                        let chartHeight = $(`#${activeCards[cardIndex].chartId}`).outerHeight()
                        let newHeight = chartHeight + gridHeight;
                        if (newHeight > innerWidth) newHeight = innerWidth * .9;
                        $(`#${activeCards[cardIndex].chartId}`).css({height:newHeight})
                    }
                },
            },
        };

        utils.toCompare.num = 20
        window.updateCompareNum = utils.toCompare.set.bind(utils.toCompare);
        utils.runGraphs = runGraphs;
        utils.initChosen(false, runGraphs);
        utils.initMinCases(runGraphs);
        utils.initMinPop(runGraphs);
        utils.initCompareNum(runGraphs);
        utils.initDefaultSwitches(allCards, runGraphs)
        utils.initController();
        ionSlider.initSlider("#range_1", runGraphs, false, true);

        window.onhashchange();
    })
</script>
