<!-- grid script -->
<script>
  $(function (allData=(<%- JSON.stringify(data) -%>)) {
    const removeWhitespace = str => str.replace(/ /g,'');
    const camelToTitleCase = function(str) {
      // src: https://stackoverflow.com/questions/4149276/how-to-convert-camelcase-to-camel-case
      return str
      .replace(/([A-Z])/g, ' $1') // insert a space before all caps
      .replace(/^./, function(str){ return str.toUpperCase(); }) // uppercase the first character
    };
    
    // const allData = JSON.parse($('#data')[0].innerText);
    
    Object.keys(allData).forEach((country, index) => {
      // if (country !== 'world') return // temporary block other options while fixing bugs
      countryCSS = removeWhitespace(country);
      
      const acceptableFields = [/* "city", "province",  */"country", "confirmed", "deaths", "recovered"];
      // let fields = Object.keys(allData[country][0]).map(key => {
      let fields = Object.keys(allData[country]).map(key => {
        // note: with this design, if, say, some are cities but some are states, it will drop whichever don't match the type of the first one
        field = {};
        field.name = key;
        field.type = typeof allData[country][0][key] === "number" ? "number" : "text"; // this is an assumption that we only get strings and numbers.
        field.width = 150;
        field.title = camelToTitleCase(field.name);
        field.remove = !acceptableFields.includes(key) || !("" + allData[country][0][key]); // remove field if empty, or if internal data we shouldn't show
        console.log(!acceptableFields.includes(key), !allData[country][0][key], field.remove, key)
        return field
      });

      window.initGrid = function(country) {
        let countryCSS = removeWhitespace(country);
        setTimeout(() => {$(`#${countryCSS}-grid`).jsGrid({
          height: "100%",
          width: "100%",
          
          sorting: true,
          paging: true,
          
          data: allData[country],
          
          fields: fields
        })}, 300)
      }; // why this way? Otherwise, the grid is initialized to a collapsed div behind a tab. We need to wait for that container div to be maximized before the init function is run. The timer is just a hack to wait for animation delays.
      
      console.log(`removing fields ${fields.filter(field => field.remove)}`);
      fields = fields.filter(field => !field.remove);

      $("#custom-tabs-one-tab").append(`
        <li class="nav-item" onclick="initGrid('${country}')">
          <a class="nav-link${index === 0 ? " active" : ""}" id="custom-tabs-one-${countryCSS}-tab" data-toggle="pill" href="#custom-tabs-one-${countryCSS}" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="${index === 0 ? "true" : "false"}">${camelToTitleCase(country)}</a>
        </li>
      `);
 
      $("#custom-tabs-one-tabContent").append(`
        <div class="tab-pane fade show${index === 0 ? " active" : ""}" id="custom-tabs-one-${countryCSS}" role="tabpanel" aria-labelledby="custom-tabs-one-${countryCSS}-tab">
          <div id="${countryCSS}-grid"></div>
        </div>
      `);

      if (index === 0) initGrid(country); // initialize default grid
    });
  });
</script>
