<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="http://covid.kylebaker.io/dist/img/corona-dash-dark2.jpeg" />
    <meta property="og:description" content="Interactive, highly configurable graphs relating to Covid-19 data throughout the world and per-country." />
    <meta property="og:title" content="Interactive Covid Graphs" />
    <title>Corona Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- flags, see: https://github.com/lipis/flag-icon-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117108072-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117108072-4');
    </script>
    <style>
      .d-block {
        display: inline !important;
      }
     .typed-cursor{
        color: white;
        opacity: 1;
        padding-bottom: 1px;
        /* -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
      }
      @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
      }
      @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
      }
        @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; } 
      }
      .d-block:after {
        visibility: visible;
        content: '';
        background-color: #fff;
        display: inline-block;
        position: relative;
        width: 2px;
        height: 1em;
        top: 5px;
        margin-left: 3px;*/
      } 
     /*  #total-color {
          background-color:#3e6094 !important;
      } */
      .bg-success {
          background-color:#488840 !important;
      }
      .bg-warning {
          background-color: #d47b3c !important;
          color: white !important;
      }
      a:not([href]):hover {
          color:grey !important;
      }
      .jsgrid {
        color: black;
        max-height: 400px;
      }
      table.jsgrid-table,
      table.jsgrid-table .jsgrid-header-row,
      .jsgrid-cell,
      .jsgrid-header-cell,
      .jsgrid-header-row {
        /* background: #353B41 !important; */
      }

      .jsgrid-no-bar-wrapper{
          width: 100%;
          height: 100%;
          overflow: hidden;
      }

      .jsgrid-no-bar {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
          box-sizing: content-box; /* So the width will be 100% + 17px */
      }
      .jsgrid-grid-body {
        /* overflow-y: hidden; */
        max-height: 30%;
      }
      .colorpicker-bs-popover.show {
        z-index:10000;
      }

      .select2-selection {
        min-height: 38px;
      }

      .select2-dropdown {
        z-index: 10000 !important;
      }

      @keyframes AnimationName {
        0%{background-position:51% 0%}    /* red  */
        50%{background-position:50% 100%} /* blue */
        100%{background-position:51% 0%}
      }
      .info-box {
        height: 87%;
        color: white;

        background: linear-gradient(180deg, rgba(69,122,179,1) 0%, rgba(30,95,165,1) 25%, rgba(112,49,16,1) 75%, rgba(168,0,0,1) 100%);
        background-color: gray; /* when there's no good data, we'll fall back to this */
        background-size: 400% 400%;
        background-position: 51% 0%;
        transform: translateX(-800%);

        animation: 2s ease 1s 1 slideInFromLeft, 1s linear 1s 1 fade-in;
        animation-fill-mode: forwards;
        /* try with nth to get nicer effect? */

        transition-property: background-position;
        transition-duration: .4s;

        /* animation: AnimationName 30s ease infinite; */
        /* background: rgba(112,49,16,0.8) !important; */
        /* background: linear-gradient(to right, rgba(112,49,16,0.8) 0%, rgba(30,95,165,0.8) 100%) !important; */
      }

      .infobox-shell:nth-of-type(1) .info-box {
        animation-delay: .75s !important;
      }
      .infobox-shell:nth-of-type(2) .info-box {
        animation-delay: .85s !important;
      }
      .infobox-shell:nth-of-type(3) .info-box {
        animation-delay: 1s !important;
      }
      .infobox-shell:nth-of-type(4) .info-box {
        animation-delay: 1.2s !important;
      }

      .card, .info-box {
        box-shadow: 13px 11px 29px -2px rgba(0,0,0,0.58);
      }

      .card {
      }

      .card.maximized-card {
        overflow-y: scroll;
      }

      .card .overlay.dark, .info-box .overlay.dark, .overlay-wrapper .overlay.dark, .small-box .overlay.dark {
          background: rgba(0,0,0,.5);
          animation: fade 2s linear;
      }

      .card .overlay, .info-box .overlay, .overlay-wrapper .overlay, .small-box .overlay {
          border-radius: .25rem;
          -ms-flex-align: center;
          align-items: center;
          background: rgba(255,255,255,.7);
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          z-index: 50;
          animation: fade 2s linear;
      }

      .card>.loading-img, .card>.overlay, .info-box>.loading-img, .info-box>.overlay, .overlay-wrapper>.loading-img, .overlay-wrapper>.overlay, .small-box>.loading-img, .small-box>.overlay {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          animation: fade 2s linear;
      }

      .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
      .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active,
      [class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link.active {
        background-color: #3e6094;
        color: #ffffff;
      }

      .bg-primary {
        background-color: #3e6094 !important
      }

      .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        width:100%;
      }


      @keyframes fade {
        0% {
          opacity: 0;
          filter: blur(50px);
        }
        100% {
          opacity: 1;
          filter: blur(0px);
        }
      }

      /* @media only screen and (max-width: 600px) {
          #country-selector {
              padding-bottom:5%;
          }
      } */

      .minimized-toolbar.btn.btn-tool {
        height: 32px;
      }

      .select2 {
        width:100%;
      }


      .select2.minimized {
        width: 15%;
        /* max-width: 200px; */
      }

      #chart-controller{ 
              width: 100%;
      }
      .direct-chat-contacts {
          z-index: 10000;
          height:100% !important;
      }
      /* #chart-controller.chat-mode{
          position: fixed;
          z-index: 10000;
          bottom: -20px;
          left: 0;
          max-width: 585px;
      } */
      #chart-controller{
          position: fixed;
          z-index: 10000;
          bottom: -20px;
          left: 0;
          max-width: 470px;
      }
      #chart-controller.top-mode{
          position: inherit;
          z-index: inherit;
          bottom: inherit;
          left: inherit;
          max-width: inherit;
      }
      @media (max-width:515px) {
        .collapsed-card .controller-quickclicks {
          display: none;
        }
      }
      @media (max-width:500px) {
          .select2.minimized {
            width: 29%;
            /* max-width: 200px; */
          }
      }
      


      @keyframes come-in-blur {
        from {
          filter: blur(20px);
        }
        to {
          filter: blur(0px);
        }
      }

      @keyframes come-in {
        to {
          transform: translateY(0);
        }
      }

      .info-box-content {
        max-width: 95%;
      }
      .info-box-number {
        text-overflow: ellipsis;
      }
      .come-in-email {
        transform: rotateX(100deg);
        filter: blur(100px);
        animation: enter-email 2s ease forwards;
      }
      .come-in {
        transform: translateY(150px);
        filter: blur(20px);

        animation: come-in 0.8s ease forwards, come-in-blur 1.2s ease, fadein 1s;
        animation-fill-mode: forwards;

        /* animation-delay: .1s;
        animation: come-in-blur 1.5s ease; */
      }
      .come-in:nth-child(odd) {
        animation-duration: 1s;
      }


      /* use with reverse to remove at end of animation */
      @keyframes remove-at-begin {
        0% {
          display: none;
          overflow: hidden;
          height: 0px;
        }
        1% {
          display: block;
        }
        100% {
          display: block;
        }
      }
      .remove-card {
        /* not working quite right, can play with later */
        animation: come-in .75s, fade .75s, remove-at-begin .8s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
      }


      @keyframes slideInFromLeft {
        /* 0% {
          transform: translateX(-120%);
        } */
        to {
          transform: translateX(0);
        }
      }


      
      .scroll-slide-up {
        /* transform: translateY(150px); */
        /* transition-property: filter 1.5s, transform 1.5s */
        filter: blur(100px);
        /* animation: filter 1.5s ease-in, transform 1.5s ease-in; */
        /* transition-property: filter 1.5s ease-in, transform 1.5s ease-in; */
      }
      .already-visible {
        /* filter: blur(0px);
        transform: translateY(0); */
        /* transition-property: filter 1.5s ease-in, transform 1.5s ease-in; */
        animation: come-in 0.8s ease forwards, come-in-blur 1.2s ease, fadein 1s;
        animation-fill-mode: forwards;

        /* animation: none; */

        /* background-position: 51% 0%;
        transition-property: transform;
        transition-duration: .4s; */
      }
    </style>
    <!-- jQuery (included here because every browser in the world has this cached...) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      if (typeof $ === 'undefined') {
        console.log("no cdn jquery, loading local")
        document.write('<script src="/plugins/jquery/jquery.min.js"><\/script>');
      }
      else {
        console.log("used cdn jquery", $, typeof $)
      }
    </script>
    
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
</head>
