<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen-sprite.png">
<style>
    .chosen-container {
        font-size: 20px;
        line-height: 2;
        height: 35px;
        /* min-width: 200px; */
    }
    .chosen-container {
        width: 100% !important;
    }
    .chosen-single {
        padding: 5px 10px 30px 20px !important;
        height: 35px !important;
    }
</style>
