<!-- Ion Slider -->
<link rel="stylesheet" href="/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">
<style>
    /* span.irs-from, span.irs-to {
        background: #428bca;
    } */
    .irs--big .irs-handle {
        box-shadow: none;
        background: #B4B9BE;
    }
    .irs--big .irs-handle:hover {
        box-shadow: none;
        background:grey;
    }
    .irs--big .irs-bar {
        box-shadow: none;
        background: rgb(122, 159, 192);
    }
    .irs--big .irs-grid-text {
        color: white;
    }
    #speed {
        direction: rtl
    }
    .btn-app {
        min-width: 40px !important;
    }
    #pausebutton, #playbutton, #forwardbutton, #backbutton {
        color: black;
    }
    #pausebutton:hover, #playbutton:hover, #forwardbutton:hover, #backbutton:hover  {
        color: #444;
    }
</style>