<!DOCTYPE html>
<html lang="en">
<%- include(`./pages/sub-partial/head/basic`) %>
<% if (plugins.head) { %>
  <% plugins.head.forEach(function(head) { %>
    <%- `<link href="/plugins/${head}" rel="stylesheet">` -%>
  <% }) %>
<% } %>

<% if (head || combo) { %>
  <% combo.concat(head).forEach(function(head) { %>
    <%- include(`./pages/sub-partial/head/${head}`); -%>
  <% }) %>
<% } %>

<% if (url.head) { %>
  <% url.head.forEach(function(head) { %>
    <%- `<link href="${head}" rel="stylesheet">` -%>
  <% }) %>
<% } %>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="mailto:covid@kylebaker.io" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <!-- <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form> -->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <!-- <i class="far fa-bell"></i> -->
          <!-- <span class="badge badge-warning navbar-badge">15</span> -->
        </a>
        <!--<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-header">Coming soon</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> Coming soon
            <span class="float-right text-muted text-sm">~</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
            class="fas fa-th-large"></i></a>
      </li> -->
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img src="/dist/img/rsz_coronavirus-cdc.jpg" alt="CoViD Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">CoViD-19</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/dist/img/octopus.jpeg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="http://kylebaker.io" class="d-block"></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <!-- <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Page Group
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Active Page</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inactive Page</p>
                </a>
              </li>
            </ul>
          </li> 


          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-chart-area"></i>
              <p>
                Dash
                <span class="right badge badge-warning">!</span>
              </p>
            </a>
          </li> -->

          <li id="analysis" class="nav-item">
            <a href="/analysis" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Analyze
              </p>
            </a>
          </li>

          <li id="compare" class="nav-item has-treeview">
            <a id="compare-menu" class="nav-link">
              <i class="nav-icon far fa-window-restore"></i>
              <p>
                Compare
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul id="compare-menu-core" class="nav nav-treeview" style="display: none;">
              <li id="compare-cases" class="nav-item">
                <a target="_blank" onclick="location.pathname !== '/compare' ? location = '/compare/#!cases' : location.hash='!cases'" class="nav-link">
                  <i class="left fas fa-angle-right"></i>
                  <i class="fa fa-hospital-user nav-icon"></i>
                  <p>  Cases</p>
                </a>
              </li>
              <li id="compare-deaths" class="nav-item">
                <a target="_blank" onclick="location.pathname !== '/compare' ? location = '/compare/#!deaths' : location.hash='!deaths'" class="nav-link">
                  <i class="left fas fa-angle-right"></i>
                  <i class="fa fa-hourglass-end nav-icon"></i>
                  <p>  Deaths</p>
                </a>
              </li>
              <li id="compare-casegrowth" class="nav-item">
                <a target="_blank" onclick="location.pathname !== '/compare' ? location = '/compare/#!casegrowth' : location.hash='!casegrowth'" class="nav-link">
                  <i class="left fas fa-angle-right"></i>
                  <i class="fas fa-chart-line nav-icon"></i>
                  <p>  Case Growth</p>
                </a>
              </li>
              <li id="compare-deathgrowth" class="nav-item">
                <a target="_blank" onclick="location.pathname !== '/compare' ? location = '/compare/#!deathgrowth' : location.hash='!deathgrowth'" class="nav-link">
                  <i class="left fas fa-angle-right"></i>
                  <i class="fas fa-chart-line nav-icon"></i>
                  <p> Death Growth</p>
                </a>
              </li>
              <li id="compare-recovery" class="nav-item">
                <a target="_blank" onclick="location.pathname !== '/compare' ? location = '/compare/#!recovery' : location.hash='!recovery'" class="nav-link">
                  <i class="left fas fa-angle-right"></i>
                  <i class="fas fa-heartbeat nav-icon"></i>
                  <p> Recovery Rates</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="https://www.worldometers.info/coronavirus/" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Source
                <!-- <span class="right badge badge-danger">New</span> -->
              </p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="/news" class="nav-link">
              <i class="nav-icon fa fa-newspaper"></i>
              <p>
                News
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">
              <i class="nav-icon fa fa-disease"></i>
              <p>
                About COVID-19
              </p>
            </a>
          </li> -->
          <li id="about" class="nav-item">
            <a href="/about" class="nav-link">
              <i class="nav-icon fa fa-mug-hot"></i>
              <p>
                Highlights
              </p>
            </a>
          </li> 

          <!-- EXTERNAL LINKS -->

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-link"></i>
              <p>
                Other Resources
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <!--
              <li class="nav-item">
                <a target="_blank" href="https://www.globalsecurity.org/security/library/news/daily/index.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Daily Status Update</p>
                </a>
              </li>
              -->
              <li class="nav-item">
                <a target="_blank" href="http://covidsim.eu/" class="nav-link">
                  <i class="fas fa-book-dead nav-icon"></i>
                  <p>Covid Simulator</p>
                </a>
              </li>
              <li class="nav-item">
                <a target="_blank" href="https://public.flourish.studio/visualisation/1712761/?fbclid=IwAR3vla8G_N9N6j9ojXsKvTnqGFkcBtXD0xxZs6GoRZAcNxZ4HhJ811f_Kng" class="nav-link">
                  <i class="fas fa-book-dead nav-icon"></i>
                  <p>Causes of Death (USA)</p>
                </a>
              </li>
              <li class="nav-item">
                <a target="_blank" href="https://www.nytimes.com/interactive/2020/06/10/world/coronavirus-history.html" class="nav-link">
                  <i class="fas fa-book-dead nav-icon"></i>
                  <p>How Deadly is it?</p>
                </a>
              </li>
              <li class="nav-item">
                <a target="_blank" href="https://www.starlords3k.com/covid19.php" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>More Graphs</p>
                </a>
              </li>
              <li class="nav-item">
                <a target="_blank" href="https://kiksu.net/covid-19/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>More Graphs</p>
                </a>
              </li>              
              <li class="nav-item">
                <a target="_blank" href="https://rt.live/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tracking R (USA)</p>
                </a>
              </li>
              <li class="nav-item">
                <a target="_blank" href="https://www.endcoronavirus.org/countries" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Track Progression</p>
                </a>
              </li>
              <li class="nav-item">
                <a target="_blank" href="https://www.youtube.com/watch?v=4f6-MDhygWc" class="nav-link">
                  <i class="far fa-laugh-squint nav-icon"></i>
                  <p>Aural Analysis</p>
                </a>
              </li>
              
              <!-- <li class="nav-item">
                <a href="https://adhsgis.maps.arcgis.com/apps/opsdashboard/index.html?fbclid=IwAR1sjzqexe02U7Za6Tb7h5aCvbkltaEg29x52h5gG1jOfrbbW63CrFaW5V0#/93b5204128b84ae99fa607cce55357b7" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    Cases per zipcode in US
                    <i class="right fas"></i>
                  </p>
                </a>
              </li> -->
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="padding-bottom:50px">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">SARS-CoV-2 Dash</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <% if (!pageName) { %>
                <li class="breadcrumb-item active"><a href="#">Home</a></li>
              <% } else { %>
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><%= pageName %></li>
            <% } %>
              </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- MAIN CONTENT GOES HERE! -->
    <%- include(`./pages/${page}`, data) %>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark"> -->
    <!-- Control sidebar content goes here -->
    <!-- <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside> -->
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <!-- <div class="float-right d-none d-sm-inline">
      This website uses an MIT-licensed template from AdminLTE.
      Design copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a> + <a href="http://kylebaker.io/" target="_blank">kylebaker.io</a> | All Right Reserved
    </div> -->
    <!-- Default to the left -->
    <!-- <strong>site: <a href="http://kylebaker.io">kylebaker.io</a>. -->
  </footer>
</div>
<!-- ./wrapper -->
<%- include(`./pages/sub-partial/scripts/basic`) %>

<% if (plugins.scripts) { %>
  <% plugins.scripts.forEach(function(script) { %>
    <%- `<script src="/plugins/${script}"></script>` -%>
  <% }) %>
<% } %>

<% if (url.scripts) { %>
  <% url.scripts.forEach(function(src) { %>
    <%- `<script src="${src}"></script>` -%>
  <% }) %>
<% } %>

<% if (scripts || combo) { %>
  <% combo.concat(scripts).forEach(function(script) { %>
    <%- include(`./pages/sub-partial/scripts/${script}`); -%>
  <% }) %>
<% } %>

<script>
  let setSidebarActive = function() {
      let path = location.pathname.split("/")[1];
      let hash = location.hash;

      $(`.sidebar a`).removeClass('active')

      if (path) {
          $(`#${path}>a`).addClass('active')
          // console.log(`#${path}>a`, $(`#${path}>a`))
      }
      else {
        console.warn("no path, setting default as analysis", path)
        $(`#${'analysis'}>a`).addClass('active')
      }

      if (hash) {
          let tab = hash.split("!")[1]
          $(`#${path}-${tab} a`).addClass('active')
          // console.log(`#${path}-${tab} a`, $(`#${path}-${tab} a`))
      }

      // background-color: #1e5fa5
  };
  setSidebarActive();
</script>

</body>
</html>
